Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

remove min_threshold from NodeActivationQuantizationConfig and from trainable activation quantizer config
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: tests, core, trainable_infrastructure

fix tests
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/function_tests/test_gptq_soft_quantizer.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/function_tests/test_gptq_soft_quantizer.py
Labels: tests, trainable_infrastructure

remove weights_second_moment_correction and weights_bias_correction from NodeWeightsQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/core/common/statistics_correction/statistics_correction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: tests, core

add quant_config to InputScaling substitutions
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/core/keras/keras_implementation.py
Labels: core

remove weights_error_method and l_p_value from WeightsAttrQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: tests, core

remove min_threshold from QuantizationConfig, NodeWeightsQuantizationConfig and trainable weights quantizer config
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
Labels: core, trainable_infrastructure

Switch pytest unittests to fw_info patch instead of changing the global _current_framework_info state. Remove activation_quantizer_mapping from DummyFrameworkInfo in tests.
  tests_pytest/common_tests/unit_tests/core/graph/test_base_node.py
  tests_pytest/common_tests/unit_tests/core/graph/test_node_quantization.py
  tests_pytest/common_tests/unit_tests/core/graph/test_quantization_preserving_node.py
  tests_pytest/common_tests/unit_tests/core/graph/test_virtual_activation_weights_node.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_data.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_distance_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
  tests_pytest/conftest.py
Labels: none

Fix test
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
Labels: none

improve documentation and add licenses
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/graph_builder/__init__.py
  model_compression_toolkit/graph_builder/common/__init__.py
  model_compression_toolkit/graph_builder/common/base_graph_builder.py
  model_compression_toolkit/graph_builder/keras/__init__.py
  model_compression_toolkit/graph_builder/keras/convert_keras_model_to_graph.py
  model_compression_toolkit/graph_builder/keras/keras_graph_builder.py
  model_compression_toolkit/graph_builder/keras/transform_keras_graph.py
  model_compression_toolkit/graph_builder/pytorch/__init__.py
  model_compression_toolkit/graph_builder/pytorch/convert_pytorch_model_to_graph.py
  model_compression_toolkit/graph_builder/pytorch/pytorch_graph_builder.py
  model_compression_toolkit/graph_builder/pytorch/transform_pytorch_graph.py
  tests/keras_tests/pruning_tests/test_memory_calculator.py
  tests_pytest/pytorch_tests/integration_tests/core/quantization/test_set_node_quantization_config.py
Labels: tests, core

Remove default output axis values from fw_info.
  model_compression_toolkit/core/common/collectors/base_collector.py
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/core/common/model_validation.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/keras_model_validation.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
Labels: tests, core, gptq, ptq, qat

Add temporary fixes for checking tests pass
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/core/common/pruning/memory_calculator.py
  model_compression_toolkit/core/pytorch/pruning/pruning_pytorch_implementation.py
Labels: core

remove z_threshold from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: core

remove activation_error_method and lp_value from NodeActivationQuantizationCfg
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_error_method_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: tests, core

remove relu_bound_to_power_of_2, activation_channel_equalization, input_scaling, concat_threshold_update from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
Labels: core

remove .shift_negative_{activation_correction, ratio, threshold_recalculation} from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
Labels: core

remove min_threshold from NodeActivationQuantizationConfig and from trainable activation quantizer config
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: tests, core, trainable_infrastructure

remove weights_error_method and l_p_value from WeightsAttrQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: tests, core

fix tests
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/function_tests/test_gptq_soft_quantizer.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/function_tests/test_gptq_soft_quantizer.py
Labels: tests, trainable_infrastructure

remove min_threshold from QuantizationConfig, NodeWeightsQuantizationConfig and trainable weights quantizer config
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
Labels: core, trainable_infrastructure

remove weights_second_moment_correction and weights_bias_correction from NodeWeightsQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/core/common/statistics_correction/statistics_correction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: tests, core

add quant_config to InputScaling substitutions
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/core/keras/keras_implementation.py
Labels: core

fixes
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
Labels: tests, core

Extract node's channel axis info for statistics collectors from adjacent nodes.
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/core/common/model_collector.py
Labels: core

restore an ability to set z0threshold per node using network editor
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: core

Fix channel axis init for collectors when a collection if required for the input of a node and previous node doesn't need collector (i.e. Dropout->Linear).
  model_compression_toolkit/core/common/model_collector.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
Labels: core

Remove filtering of candidates with disabled quantization, unset node quantization configs attributes if quantization is disabled, NodeQuantizationConfig removes duplicates automatically.
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/quantization/filter_nodes_candidates.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests_pytest/_fw_tests_common_base/fusing/base_graph_with_fusing_metadata_test.py
  tests_pytest/_test_util/graph_builder_utils.py
  tests_pytest/common_tests/unit_tests/core/graph/test_base_graph.py
  tests_pytest/common_tests/unit_tests/core/quantization/node_quantization_config/__init__.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_configurations/__init__.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_configurations/test_node_quantization_config.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_filter_nodes_candidates.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_node_quantization_config.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_node_weights_quantization_config.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_graph_with_fusing_metadata_keras.py
Labels: tests, core

update setting node configs attributes
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_activation_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_generation/test_calculate_quantization_params.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_node_quantization_config.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_node_weights_quantization_config.py
Labels: tests, core

fix tests
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_node_activation_quantization_config.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_graph_with_fusing_metadata_keras.py
Labels: tests

Change Repository Name
  .github/workflows/link_checker.yml
  .github/workflows/nightly.yml
Labels: none

Modified to enable CICD execution outside the main branch
  .github/workflows/build_docs.yml
  .github/workflows/link_checker.yml
  .github/workflows/run_tests_python310_keras214.yml
  .github/workflows/run_tests_python310_keras215.yml
  .github/workflows/run_tests_python310_pytorch23.yml
  .github/workflows/run_tests_python310_pytorch24.yml
  .github/workflows/run_tests_python310_pytorch25.yml
  .github/workflows/run_tests_python310_pytorch26.yml
  .github/workflows/run_tests_python311_keras214.yml
  .github/workflows/run_tests_python311_keras215.yml
  .github/workflows/run_tests_python311_pytorch23.yml
  .github/workflows/run_tests_python311_pytorch24.yml
  .github/workflows/run_tests_python311_pytorch25.yml
  .github/workflows/run_tests_python311_pytorch26.yml
  .github/workflows/run_tests_python312_pytorch23.yml
  .github/workflows/run_tests_python312_pytorch24.yml
  .github/workflows/run_tests_python312_pytorch25.yml
  .github/workflows/run_tests_python312_pytorch26.yml
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/tests_common.yml
Labels: none

Space deletion
  .github/workflows/run_tests_python311_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch26.yml
Labels: none

Change the timeout duration during coverage execution
  .github/workflows/run_tests_suite_coverage.yml
Labels: none

GitHub URL Change
  README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: none

GitHub URL Change
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

CICD Target Branch Change (#1500)
  .github/workflows/build_docs.yml
  .github/workflows/link_checker.yml
  .github/workflows/nightly.yml
  .github/workflows/run_tests_python310_keras214.yml
  .github/workflows/run_tests_python310_keras215.yml
  .github/workflows/run_tests_python310_pytorch23.yml
  .github/workflows/run_tests_python310_pytorch24.yml
  .github/workflows/run_tests_python310_pytorch25.yml
  .github/workflows/run_tests_python310_pytorch26.yml
  .github/workflows/run_tests_python311_keras214.yml
  .github/workflows/run_tests_python311_keras215.yml
  .github/workflows/run_tests_python311_pytorch23.yml
  .github/workflows/run_tests_python311_pytorch24.yml
  .github/workflows/run_tests_python311_pytorch25.yml
  .github/workflows/run_tests_python311_pytorch26.yml
  .github/workflows/run_tests_python312_pytorch23.yml
  .github/workflows/run_tests_python312_pytorch24.yml
  .github/workflows/run_tests_python312_pytorch25.yml
  .github/workflows/run_tests_python312_pytorch26.yml
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/tests_common.yml
  README.md
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: target_platform_capabilities

fix github.io url for new documents.
  README.md
Labels: none

revert README.md
  README.md
Labels: none

change edge-mdt-cl requirements to nightly(Temporary)
  requirements.txt
Labels: none

Change requirements.txt from edge-mdt-cl to edge-mdt-cl-dev (temporary)
  requirements.txt
Labels: none

Change requirements.txt from edge-mdt-cl to edge-mdt-cl-dev (temporary)
  requirements.txt
Labels: none
