Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

correct typo
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/change_qc_attr_test.py
Labels: tests

change format
  CONTRIBUTING.md
Labels: none

change format
  CONTRIBUTING.md
Labels: none

Update tutorial for XQuant Extension Tool: refine content and remove redundant sections for clarity
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_2.ipynb
Labels: none

Add scalar for torch_tensor_to_numpy
  model_compression_toolkit/core/pytorch/utils.py
Labels: core

Add scalar in torch_tensor_to_numpy
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/pytorch/utils.py
  tests/pytorch_tests/function_tests/test_torch_utils.py
Labels: tests, core

Add test
  model_compression_toolkit/core/common/model_collector.py
  tests/pytorch_tests/function_tests/test_torch_utils.py
Labels: tests, core

Minor correction
  tests/pytorch_tests/function_tests/test_torch_utils.py
Labels: tests

add code to tutorial
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Modified create_stats_collector_for_node
  model_compression_toolkit/core/common/model_collector.py
  tests_pytest/common_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: core

Add integration test
  tests_pytest/common_tests/unit_tests/core/test_create_stats_collector_for_node.py
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
  tests_pytest/pytorch_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: none

Add e2e test
  tests_pytest/pytorch_tests/e2e_tests/test_scalar_layer.py
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
  tests_pytest/pytorch_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: none

Minor correction
  tests_pytest/pytorch_tests/e2e_tests/test_scalar_layer.py
Labels: none

Check for adding holder
  tests_pytest/pytorch_tests/e2e_tests/test_scalar_layer.py
Labels: none

Add e2e and unit test
  tests_pytest/keras_tests/unit_tests/core/test_create_stats_collector_for_node.py
  tests_pytest/pytorch_tests/e2e_tests/test_ptq_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_ptq_for_scalar.py
Labels: none

Add ptq+mixed precision, gptq test
  tests_pytest/pytorch_tests/e2e_tests/test_ptq_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
Labels: none

Minor correction
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
Labels: none

Add PyTorch example
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

Remove example notebook
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_2.ipynb
Labels: none

modify linl filename
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

modify linl filename
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

modify linl filename
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

Remove equal layer in e2e test
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
Labels: none

change to base64 image data
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Add XQuant Extension Tool tutorials to README
  tutorials/notebooks/mct_features_notebooks/README.md
Labels: none

Remove commented code and add empty code cell
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

Rearrange target layers
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
Labels: none

Modified test for 1d tensor
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
Labels: none

add progress_bar files and unit test files
  model_compression_toolkit/core/common/progress_config/__init__.py
  model_compression_toolkit/core/common/progress_config/constants.py
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_steps.py
Labels: core

Change argument of torch.mul
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
Labels: none

modify progres_info_controller.py and unit test code
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_steps.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_total.py
Labels: core

add blank
  model_compression_toolkit/core/common/progress_config/__init__.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_total.py
Labels: core

remove method info
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
Labels: core

Change to const
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
Labels: none

Revised the tutorial in response to reviews
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

Support for scalar and 1d-tensor in statistics collector (#1660)
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/pytorch/utils.py
  tests/pytorch_tests/function_tests/test_torch_utils.py
  tests_pytest/keras_tests/unit_tests/core/test_create_stats_collector_for_node.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
  tests_pytest/pytorch_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: tests, core

small change
  model_compression_toolkit/core/common/progress_config/constants.py
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
Labels: core

add progress controll instance and description
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/metric_calculators.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
Labels: core, gptq, ptq

Revised the tutorial in response to reviews
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

change layer name
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none
