Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

add onnx infer tutorials
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_onnx_inference.ipynb
Labels: none

tutoeial README update
  tutorials/notebooks/mct_features_notebooks/README.md
Labels: none

Edit the text
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_onnx_inference.ipynb
Labels: none

Edit the text
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_onnx_inference.ipynb
Labels: none

Edit the text
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_onnx_inference.ipynb
Labels: none

Edit Comment
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: gptq, ptq, qat

Update html
  docs/api/api_docs/methods/keras_gradient_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_quantization_aware_training_init_experimental.html
  docs/api/api_docs/methods/pytorch_gradient_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_quantization_aware_training_init_experimental.html
Labels: docs

Potential fix for pull request finding
  model_compression_toolkit/gptq/keras/quantization_facade.py
Labels: gptq

Edit Comment
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
Labels: core

update api docs
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
Labels: docs

Update IMX500 link in README.md
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Implement filtering of non-finite candidates and validate matrix dimensions (#1685)
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/search_methods/test_linear_programming_solver.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
Labels: core

Remove unused numpy import from test_mixed_precision.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
Labels: none

Add tests for handling non-finite sensitivity candidates in mixed precision PTQ
  tests_pytest/keras_tests/e2e_tests/mixed_precision/__init__.py
  tests_pytest/keras_tests/e2e_tests/mixed_precision/test_mixed_precision.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
Labels: none

Implement handling of non-finite metrics in MixedPrecisionSearchManager and add corresponding unit tests
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
Labels: core

Handle non-finite mixed-precision sensitivity metrics (#1686)
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/keras_tests/e2e_tests/mixed_precision/__init__.py
  tests_pytest/keras_tests/e2e_tests/mixed_precision/test_mixed_precision.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
Labels: core

Implement filtering of non-finite candidates and validate matrix dimensions (#1685)
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/search_methods/test_linear_programming_solver.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
Labels: core

Update IMX500 link in TPC README (#1684)
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Issue 1293 (Add a comment about resource utilization data) (#1681)
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
Labels: docs, core

Support for scalar and 1d-tensor in statistics collector (#1662)
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/pytorch/utils.py
  tests/pytorch_tests/function_tests/test_torch_utils.py
  tests_pytest/keras_tests/unit_tests/core/test_create_stats_collector_for_node.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
  tests_pytest/pytorch_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: tests, core

issue 1556 (Corrected a comment error in the code) (#1680)
  docs/api/api_docs/methods/keras_gradient_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_quantization_aware_training_init_experimental.html
  docs/api/api_docs/methods/pytorch_gradient_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_quantization_aware_training_init_experimental.html
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: docs, gptq, ptq, qat

issue 1556 (Corrected a comment error in the code) (#1680) (#1692)
  docs/api/api_docs/methods/keras_gradient_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_quantization_aware_training_init_experimental.html
  docs/api/api_docs/methods/pytorch_gradient_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_quantization_aware_training_init_experimental.html
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: docs, gptq, ptq, qat

Support for scalar and 1d-tensor in statistics collector (#1662) (#1691)
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/pytorch/utils.py
  tests/pytorch_tests/function_tests/test_torch_utils.py
  tests_pytest/keras_tests/unit_tests/core/test_create_stats_collector_for_node.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_1d_tensor.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_for_scalar.py
  tests_pytest/pytorch_tests/integration_tests/core/test_model_collector_for_scalar.py
  tests_pytest/pytorch_tests/unit_tests/core/test_create_stats_collector_for_node.py
Labels: tests, core

Issue 1293 (Add a comment about resource utilization data) (#1681) (#1690)
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
Labels: docs, core

Update IMX500 link in TPC README (#1684) (#1689)
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Implement filtering of non-finite candidates and validate matrix dimensions (#1685) (#1688)
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/search_methods/test_linear_programming_solver.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
Labels: core

Handle non-finite mixed-precision sensitivity metrics (#1686) (#1687)
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/keras_tests/e2e_tests/mixed_precision/__init__.py
  tests_pytest/keras_tests/e2e_tests/mixed_precision/test_mixed_precision.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
Labels: core

Bump version to 2.6.1
  model_compression_toolkit/__init__.py
Labels: none

Bump version to 2.6.1
  model_compression_toolkit/__init__.py
Labels: none

test: add PyTorch 2.7-2.14 upgrade CI
  .github/workflows/run_pytorch_version_upgrade_tests.yml
Labels: none

test: verify PyTorch 2.7-2.14 against current main
  .github/workflows/run_pytorch_version_upgrade_tests.yml
Labels: none

add onnxscript
  .github/workflows/run_pytorch_version_upgrade_tests.yml
Labels: none
