Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

adding initialize type check
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
Labels: core

add blank
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
Labels: none

fixed sensitivity_evaluator unit test
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_sensitivity_evaluator.py
Labels: none

Revised the tutorial in response to reviews
  README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

,pdify document
  docs/searchindex.js
Labels: docs

Refactor tutorial code
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

Revert ",pdify document"
  docs/searchindex.js
Labels: docs

delete use_labels
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

add e2e test
  tests_pytest/keras_tests/e2e_tests/test_progress_visualization_keras.py
  tests_pytest/pytorch_tests/e2e_tests/test_progress_visualization_pytorch.py
Labels: none

Fix notebook
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

delete import
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Add tutorial notebook for quantization troubleshooting using the XQuant Extension (#1654)
  README.md
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool_General.ipynb
Labels: none

modify test id name
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
Labels: none

fixes based on review comments
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/gptq/runner.py
Labels: core, gptq

replace requirement mct-quantizers from git source to official 1.7.0
  requirements.txt
Labels: none

replace requirement mct-quantizers from git source to official 1.7.0
  requirements.txt
Labels: none

replace requirement mct-quantizers from git source to official 1.7.0 (#1665)
  requirements.txt
Labels: none

Use compatible release operator in requirements of CL and MCTQ.
  requirements.txt
Labels: none

Use compatible release operator in requirements of CL and MCTQ.
  requirements.txt
Labels: none

Use compatible release operator in requirements of CL and MCTQ. (#1668)
  requirements.txt
Labels: none

remove unusing modules
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_total.py
Labels: none

remove unusing modules
  tests_pytest/keras_tests/e2e_tests/test_progress_visualization_keras.py
  tests_pytest/pytorch_tests/e2e_tests/test_progress_visualization_pytorch.py
Labels: none

Replace requirement mct-quantizers from git source to official 1.7.0(for release branch) (#1666)
  requirements.txt
Labels: none

[RedSuns Review] Add progress visualization feature (#1663)
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/metric_calculators.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/sensitivity_evaluation.py
  model_compression_toolkit/core/common/progress_config/__init__.py
  model_compression_toolkit/core/common/progress_config/constants.py
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_sensitivity_evaluator.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_progress_control_module.py
  tests_pytest/common_tests/unit_tests/core/progress_config/test_research_progress_total.py
  tests_pytest/keras_tests/e2e_tests/test_progress_visualization_keras.py
  tests_pytest/pytorch_tests/e2e_tests/test_progress_visualization_pytorch.py
Labels: core, gptq, ptq

update variable names in docs
  docs/api/api_docs/modules/debug_config.html
  docs/searchindex.js
  model_compression_toolkit/core/common/quantization/debug_config.py
Labels: docs, core

modify progress bar visualization
  docs/api/api_docs/modules/debug_config.html
  docs/searchindex.js
  model_compression_toolkit/core/common/progress_config/constants.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
Labels: docs, core, gptq

change pbar leaves config
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
Labels: core

add unit test
  tests_pytest/keras_tests/unit_tests/gptq/test_training_pbar_controll_keras.py
  tests_pytest/pytorch_tests/unit_tests/gptq/test_training_pbar_controll_pytorch.py
Labels: none

revert pbar leaves
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
Labels: core

delete blank
  tests_pytest/keras_tests/unit_tests/gptq/test_training_pbar_controll_keras.py
Labels: none

change variable name
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  tests_pytest/keras_tests/unit_tests/gptq/test_training_pbar_controll_keras.py
  tests_pytest/pytorch_tests/unit_tests/gptq/test_training_pbar_controll_pytorch.py
Labels: core, gptq

fix
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
Labels: core

adding logging_redirect_tqdm
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
Labels: gptq, ptq

fix docs
  docs/api/api_docs/modules/debug_config.html
  docs/searchindex.js
Labels: docs

[RedSuns Review]Midify progress bar visualizaion (#1675)
  docs/api/api_docs/modules/debug_config.html
  docs/searchindex.js
  model_compression_toolkit/core/common/progress_config/constants.py
  model_compression_toolkit/core/common/progress_config/progress_info_controller.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  tests_pytest/keras_tests/unit_tests/gptq/test_training_pbar_controll_keras.py
  tests_pytest/pytorch_tests/unit_tests/gptq/test_training_pbar_controll_pytorch.py
Labels: docs, core, gptq, ptq

Added more details to the FAQ, troubleshooting, and documentation.
  FAQ.md
  docsrc/source_troubleshoot/troubleshoots/threhold_selection_error_method.rst
  model_compression_toolkit/core/common/quantization/quantization_config.py
  quantization_troubleshooting.md
Labels: docsrc, core

Update FAQ and documentation
  FAQ.md
  docs/api/api_docs/classes/QuantizationErrorMethod.html
  model_compression_toolkit/core/common/quantization/quantization_config.py
Labels: docs, core

Add blank line for improved readability in FAQ.md
  FAQ.md
Labels: none

Update FAQ.md
  FAQ.md
Labels: none

Fix formatting of default error method in troubleshooting documentation
  docs/docs_troubleshoot/_sources/troubleshoots/threhold_selection_error_method.rst.txt
  docs/docs_troubleshoot/troubleshoots/threhold_selection_error_method.html
  docsrc/source_troubleshoot/troubleshoots/threhold_selection_error_method.rst
Labels: docs, docsrc
