Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

Delete debug code
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Delete converter-mctq-version
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  .github/workflows/run_tests_conv316_tpc10.yml
  .github/workflows/run_tests_conv317_tpc10.yml
  .github/workflows/run_tests_conv317_tpc40.yml
  .github/workflows/run_tests_conv317_tpc50.yml
Labels: none

Delete debug
  .github/workflows/run_network_deployment_tests.yml
  network_deployment_tests/test_run_mct.py
Labels: none

Remove FOUND_MCTQ chec
  model_compression_toolkit/logger.py
  model_compression_toolkit/verify_packages.py
Labels: none

limit version of numpy(<2.4.0) (#1601)
  requirements.txt
Labels: none

Colab Support for task_tutorials (#1598)
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Fix numpy version constraint in requirements.txt
  requirements.txt
Labels: none

Delete onnx-opset-version in converter v3.16
  .github/workflows/run_tests_conv316_tpc10.yml
Labels: none

Remove conversion of an array with ndim > 0 to a scalar. (deprecate in NumPy1.25, raise error in NumPy2.4.)
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
Labels: core

Allow numpy 2.4.0.
  requirements.txt
Labels: none

CICD migration
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  .github/workflows/run_tests_conv316_tpc10.yml
  .github/workflows/run_tests_conv317_tpc10.yml
  .github/workflows/run_tests_conv317_tpc40.yml
  .github/workflows/run_tests_conv317_tpc50.yml
  network_deployment_tests/__init__.py
  network_deployment_tests/test_run_converter.py
  network_deployment_tests/test_run_mct.py
Labels: none

Add type hints to logger method arguments for improved clarity
  model_compression_toolkit/logger.py
Labels: none

Add TPCv4.0 and Converter v3.16
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv316_tpc40.yml
  network_deployment_tests/test_run_mct.py
Labels: none

Move item() to after np.log2
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
Labels: core

Check version
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
  requirements.txt
Labels: core

Add numpy < 2.4
  .github/workflows/run_pytorch_tests.yml
Labels: none

Exclude Python 3.10 and numpy 2.4
  .github/workflows/run_pytorch_tests.yml
Labels: none

Fix to exclude python 3.10 and numpy 2.4
  .github/workflows/run_pytorch_tests.yml
Labels: none

Add numpy<2.4
  .github/workflows/run_pytorch_tests.yml
Labels: none

Add python version in matrix
  .github/workflows/run_pytorch_tests.yml
Labels: none

Add extra_req
  .github/workflows/run_pytorch_tests.yml
Labels: none

debug
  .github/workflows/run_pytorch_tests.yml
Labels: none

Minor correction
  .github/workflows/run_pytorch_tests.yml
Labels: none

Fix <2.4
  .github/workflows/run_pytorch_tests.yml
Labels: none

Support NumPy 2.4.0 (Remove conversion of an array with ndim > 0 to a scalar) (#1605)
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
  requirements.txt
Labels: core

Support numpy version
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
Labels: none

Add end-to-end tests for logger functionality
  tests_pytest/common_tests/e2e_tests/test_logger_e2e.py
Labels: none

Remove unused imports in test_logger_e2e.py for cleaner code
  tests_pytest/common_tests/e2e_tests/test_logger_e2e.py
Labels: none

Fix to comments
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
Labels: none

Remove redundant error logging in test_logger function
  tests_pytest/common_tests/e2e_tests/test_logger_e2e.py
Labels: none

Add Numpy version in common test
  .github/workflows/tests_common.yml
Labels: none

Remove end-to-end test for logger functionality
  tests_pytest/common_tests/e2e_tests/test_logger_e2e.py
Labels: none

Change how to install numpy<2.4
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
Labels: none

Add python-version != 3.10
  .github/workflows/run_pytorch_tests.yml
Labels: none

Fix to comments
  .github/workflows/run_pytorch_tests.yml
Labels: none

Fix to syntax error
  .github/workflows/run_pytorch_tests.yml
Labels: none

Fix to comment
  .github/workflows/run_pytorch_tests.yml
Labels: none

Support numpy version (<2.4 or 2.4) on CI/CD (#1608)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
Labels: none

Feature log onoff (#1583)
  docs/api/api_docs/methods/set_logger_path.html
  docs/searchindex.js
  model_compression_toolkit/core/keras/reader/reader.py
  model_compression_toolkit/core/pytorch/reader/reader.py
  model_compression_toolkit/logger.py
  model_compression_toolkit/target_platform_capabilities/schema/schema_functions.py
  requirements.txt
  tests/common_tests/function_tests/test_logger.py
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_metadata.py
Labels: tests, docs, core, target_platform_capabilities

Support NumPy 2.4.0 (#1609)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
Labels: core
