Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

Add guide README.md for task_tutorials.
  tutorials/README.md
  tutorials/notebooks/task_notebooks/README.md
Labels: none

fix large alphabet.
  tutorials/README.md
Labels: none

add customlayer to note in README
  tutorials/notebooks/task_notebooks/README.md
Labels: none

Add sentence SCORE to "for the Non-Maximum Suppression (NMS)", all "cpu" to torch.device, (y,x) rely not CustomLayers but FasterRCNNBoxDecode
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Modified to set the path without installing YOLOX.
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

don't use YOLOX/requirements.txt because onnx-simplifier==0.4.10 may be unavailable.
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

collect tuple
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

delete descriptions of attributes
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

change API Document
  docs/api/api_docs/classes/wrapper.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
Labels: docs

.tflite to .keras
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
Labels: none

delete callback
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

[[key,value],...]
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Add YOLOX(PyTorch) Tutorial (#1555)
  tutorials/README.md
  tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

[[key,value],...]
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
Labels: none

Add Deeplabv3+(Pytorch) Tutorial.
  tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

fix link path in README.md.
  tutorials/notebooks/task_notebooks/README.md
Labels: none

Revert README.md(for check link error)
  tutorials/notebooks/task_notebooks/README.md
Labels: none

Re-revert README.md
  tutorials/notebooks/task_notebooks/README.md
Labels: none

split ["deeplabv3plus_mobilenet"](output_stride=16) to two lines because [***](***) is misunderstood as link by link-checker.
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

move comment
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

move comment
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Add print(len(train_dataset))
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

,odify commrnts
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

modify comment
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

add !pip install onnx==1.16.1
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

reverted to !pip install -q torch torchvision and set !pip install -q torch==2.6.0 torchvision==0.21.0
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: none

Standardize mixed-precision to Mixed-Precision
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

Feature develop mctwrapper (#1559)
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: none

make API Documents
  docs/api/api_docs/classes/wrapper.html
  docs/searchindex.js
Labels: docs

wrapper → Wrapper
  docs/_sources/api/api_docs/classes/Wrapper.rst.txt
  docs/api/api_docs/classes/Wrapper.html
  docs/api/api_docs/index.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/api/api_docs/classes/Wrapper.rst
Labels: docs, docsrc

Feature develop mctwrapper (#1561)
  docs/_sources/api/api_docs/classes/Wrapper.rst.txt
  docs/api/api_docs/classes/Wrapper.html
  docs/api/api_docs/index.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/api/api_docs/classes/Wrapper.rst
Labels: docs, docsrc

Change default arguments
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Add torch.take layer (#1552)
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_take.py
Labels: target_platform_capabilities

Reduce the elements of params using the quantization method
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

id=255 is not id=0 but ignore_index.
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

Add Deeplabv3+(Pytorch) Tutorial. (#1560)
  tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
Labels: none

Reduce the elements of params using the quantization method and Change the order of the arguments
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

change return value
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
Labels: none

Change the order of variables
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

limit networkx version <3.6
  requirements.txt
Labels: none
