Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

Limit networkx version (#1565)
  requirements.txt
Labels: none

Limit networkx version(<3.6)
  requirements.txt
Labels: none

Update Version(2.4.5)
  model_compression_toolkit/__init__.py
Labels: none

Limit networkx version(<3.6)
  requirements.txt
Labels: none

Exclude Python 3.9 from support(#1551)
  .github/ISSUE_TEMPLATE/mct_issue_template.yaml
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  README.md
  setup.py
Labels: none

Minor Version Update v.2.4.5 (Limit networkx version) (#1567)
  model_compression_toolkit/__init__.py
  requirements.txt
Labels: none

modify comment
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Limit networkx version (#1566)
  requirements.txt
Labels: none

replace requirements.txt from edge-mdt-cl-dev to edge-mdt-cl(release_v1.1.0 branch)
  requirements.txt
Labels: none

replace requirements.txt from edge-mdt-cl-dev to edge-mct-cl(release_v1.1.0 branch)
  requirements.txt
Labels: none

Revert tutorial/README.md
  tutorials/README.md
Labels: none

Revert tutorial/README.md
  tutorials/README.md
Labels: none

delete tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/README.md
Labels: none

delete example_yolox_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Change require from edge-mdt-cl-dev to edge-mdt-cl(release_v1.1.0 branch) (#1572)
  requirements.txt
Labels: none

Change require from edge-mdt-cl-dev to edge-mdt-cl(release_v1.1.0 branch) for release_v2.5.0 (#1573)
  requirements.txt
Labels: none

make API document
  docs/api/api_docs/classes/Wrapper.html
Labels: docs

Change edge-mdt-cl>=1.1.0 in requirements.txt
  requirements.txt
Labels: none

Change edge-mdt-cl>=1.0 in requirements.txt
  requirements.txt
Labels: none

Corrected to edge-mdt-cl>=1.0
  requirements.txt
Labels: none

Corrected edge-mdt-cl>=1.1
  requirements.txt
Labels: none

Corrected to edge-mdt-cl>=1.1
  requirements.txt
Labels: none

Change edgemdt-cl>=1.1 (to release_v2.5.0 branch) (#1576)
  requirements.txt
Labels: none

Feature develop mctwrapper (#1564)
  docs/api/api_docs/classes/Wrapper.html
  model_compression_toolkit/wrapper/mct_wrapper.py
  requirements.txt
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: docs

Add torch.take
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_take.py
Labels: target_platform_capabilities

torch.take support (#1579)
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_take.py
Labels: target_platform_capabilities

Fix TPCv1.0 for imx500
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_get_target_platform_capabilities.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_stack.py
Labels: target_platform_capabilities

Change only v1
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/__init__.py
Labels: target_platform_capabilities

Fix TPCv1.0 for tflite and qnnpack
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/latest/__init__.py
Labels: target_platform_capabilities

Fixed tpc_test
  tests/keras_tests/feature_networks_tests/feature_networks/tpc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/tpc_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: tests

Revert TPCv1.0 for imx500
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_0/tpc.py
Labels: target_platform_capabilities

Minor correction
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_0/tpc.py
Labels: target_platform_capabilities

Removed 'DEFAULT_TP_MODEL'
  model_compression_toolkit/target_platform_capabilities/constants.py
  tests/pytorch_tests/function_tests/test_pytorch_tpc.py
Labels: tests, target_platform_capabilities

Added level setting for file handler
  model_compression_toolkit/core/keras/reader/reader.py
  model_compression_toolkit/core/pytorch/reader/reader.py
  model_compression_toolkit/logger.py
  model_compression_toolkit/target_platform_capabilities/schema/schema_functions.py
  tests/common_tests/function_tests/test_logger.py
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_metadata.py
Labels: tests, core, target_platform_capabilities

add Streamhandler
  model_compression_toolkit/logger.py
  tests/common_tests/function_tests/test_logger.py
Labels: tests

Add TPCv4, v5, and v6
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_api.py
Labels: target_platform_capabilities

Add keras effdet tutorial.
  tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/keras/__init__.py
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/keras/models/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_blocks_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/utils/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

add test function
  model_compression_toolkit/logger.py
  tests/common_tests/function_tests/test_logger.py
Labels: tests

change API document
  docs/api/api_docs/methods/set_logger_path.html
Labels: docs

Formatting
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_api.py
Labels: target_platform_capabilities

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**
