Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

Remove unused QuantizationConfig parameters from constants.py
  model_compression_toolkit/wrapper/constants.py
Labels: none

add permissions:read to CI/CDs(indicated github bot)
  .github/workflows/run_keras_tests_conv314_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc10.yml
  .github/workflows/run_keras_tests_conv317_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc50.yml
  .github/workflows/run_network_deployment_keras_tests.yml
  .github/workflows/run_network_deployment_pytorch_tests.yml
  .github/workflows/run_pytorch_tests_conv314_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc10.yml
  .github/workflows/run_pytorch_tests_conv317_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc50.yml
Labels: none

add permissions:read to CI/CDs(indicated github bot) (#1634)
  .github/workflows/run_keras_tests_conv314_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc10.yml
  .github/workflows/run_keras_tests_conv317_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc50.yml
  .github/workflows/run_network_deployment_keras_tests.yml
  .github/workflows/run_network_deployment_pytorch_tests.yml
  .github/workflows/run_pytorch_tests_conv314_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc10.yml
  .github/workflows/run_pytorch_tests_conv317_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc50.yml
Labels: none

Enhance quantization parameters and documentation
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Refactor MCTWrapper and related components for enhanced quantization configuration
  model_compression_toolkit/verify_packages.py
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Enhance documentation and fix minor typos in MCTWrapper and associated tests
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Remove docstring for GPTQ with Mixed Precision in test_quantization function
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
Labels: none

Fix formatting of mixed precision configuration instantiation in MCTWrapper
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Change get_target_platform_capabilities API in pytorch tutorials.
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Change get_target_platform_capabilities API in keras tutorials.
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Refactoring MCTWrapper tutorials.
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Remove local install.
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Add TPC v5.0 for SDSP converter v3.18
  model_compression_toolkit/target_platform_capabilities/constants.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_sdsp_api.py
Labels: target_platform_capabilities

Modify links in README for TPC
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Minor correction
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_sdsp_api.py
Labels: none

Added QuantizationConfig parameters and updated MCTWrapper settings
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Modify links in README for TPC (#1641)
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Add TPC v5.0 for SDSP converter v3.18 (#1640)
  model_compression_toolkit/target_platform_capabilities/constants.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_sdsp_api.py
Labels: target_platform_capabilities

Change get_target_platform_capabilities API in pytorch tutorials. (#1638)
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Change get_target_platform_capabilities API in keras tutorials. (#1637)
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Remove WEIGHTS_ERROR_METHOD references from constants and update related tests
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Update WEIGHTS_COMPRESSION_RATIO to use DEFAULT_COMPRESSION_RATIO in MCTWrapper
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Update weights_compression_ratio default value to 0.75 in MCTWrapper
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Modify Comments(Add parameter comment, standardized PTQ and Post-... to PTQ, standardized return format, Remove "PTQ Quantize" overlap)
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Modify Comments(Add explanation of sdsp version. Standardize configure title)
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

modify comments(explanation of sdsp version)
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Enhance documentation for MCTWrapper parameters
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

Remove quantize overlap
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Enhance documentation for MCTWrapper parameters
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Revert "Enhance documentation for MCTWrapper parameters"
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

Update documentation for MCTWrapper parameters to include links and clarify weights compression ratio
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

(Wrapper)Added QuantizationConfig parameters and updated MCTWrapper settings (#1642)
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

(Wrapper)Added QuantizationConfig parameters and updated MCTWrapper settings (#1642)
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Enhance documentation in MCTWrapper initialization
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

Update default number of images for mixed precision from 5 to 32
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Refactor code structure for improved readability and maintainability
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
Labels: docs

Update XQuant extension tool link in documentation
  docs/api/api_docs/classes/Wrapper.html
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

Update MCTWrapper documentation and increase default num_of_images for mixed precision
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Update test cases to increase default num_of_images from 5 to 32 for mixed precision configuration
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Refactor API documents
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
Labels: docs

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**
