Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

limit pydantic version(<2.12.0) (#1525)
  requirements.txt
Labels: none

Fixed pydantic schema to v2
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  requirements.txt
Labels: target_platform_capabilities

limit pydantic version(<2.12.0)
  requirements.txt
Labels: none

Update Version(2.4.4)
  model_compression_toolkit/__init__.py
Labels: none

limit pydantic version(<2.12.0)
  requirements.txt
Labels: none

Update Version(2.4.4)
  model_compression_toolkit/__init__.py
Labels: none

Minor Version Update v.2.4.4 (Limit pydantic version) (#1530)
  model_compression_toolkit/__init__.py
  requirements.txt
Labels: none

remove nightly choose in issue template.
  .github/ISSUE_TEMPLATE/mct_issue_template.yaml
Labels: none

Remove nightly install explanations.
  INSTALLATION.md
  README.md
  docsrc/source/index.rst
Labels: docsrc

Update Version
  model_compression_toolkit/__init__.py
Labels: none

Fixed pydantic schemas in `v1` file to the latest pydantic version (2.12)
  model_compression_toolkit/target_platform_capabilities/schema/v1.py
Labels: target_platform_capabilities

fix folder name(repository name) in INSTALLATION.
  INSTALLATION.md
Labels: none

Fix Link in source comments.
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: ptq, qat

fix link in test_docs.
  tests/doc_tests/test_docs_links.py
Labels: tests

remove nightly choose in issue template. (#1531)
  .github/ISSUE_TEMPLATE/mct_issue_template.yaml
Labels: none

Update Version (#1535)
  model_compression_toolkit/__init__.py
Labels: none

leave the phrase “installing from source”
  README.md
Labels: none

Remove unnecessary line breaks
  INSTALLATION.md
Labels: none

Remove nightly installation explanation
  INSTALLATION.md
  README.md
  docsrc/source/index.rst
Labels: docsrc

Remove unnecessary linebreak
  INSTALLATION.md
Labels: none

Remove nightly install explanations
  INSTALLATION.md
  README.md
  docsrc/source/index.rst
Labels: docsrc

Remove unnecessary linebreak.
  INSTALLATION.md
Labels: none

Remove nightly installation explanations from documents. (#1537)
  INSTALLATION.md
  README.md
  docsrc/source/index.rst
Labels: docsrc

Add permission(read) to workflow(run_tests_suite_coverage).
  .github/workflows/run_tests_suite_coverage.yml
Labels: none

Add permission(read) to workflow(run_tests_suite_coverage). (#1539)
  .github/workflows/run_tests_suite_coverage.yml
Labels: none

Update version to 2.5.0
  model_compression_toolkit/__init__.py
Labels: none

Update version to 2.5.0 (#1541)
  model_compression_toolkit/__init__.py
Labels: none

replace v2.4.2 links to main in troubleshoot docs
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/enabling_hessian-based_mixed_precision.rst
  docsrc/source_troubleshoot/troubleshoots/gptq-gradient_based_post_training_quantization.rst
  docsrc/source_troubleshoot/troubleshoots/mixed_precision_with_model_output_loss_objective.rst
  docsrc/source_troubleshoot/troubleshoots/shift_negative_activation.rst
  docsrc/source_troubleshoot/troubleshoots/using_more_samples_in_mixed_precision_quantization.rst
Labels: docsrc

change URL blob to tree, rebuild docs
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/enabling_hessian-based_mixed_precision.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/gptq-gradient_based_post_training_quantization.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/mixed_precision_with_model_output_loss_objective.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/shift_negative_activation.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/using_more_samples_in_mixed_precision_quantization.rst.txt
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/troubleshoots/enabling_hessian-based_mixed_precision.html
  docs/docs_troubleshoot/troubleshoots/gptq-gradient_based_post_training_quantization.html
  docs/docs_troubleshoot/troubleshoots/mixed_precision_with_model_output_loss_objective.html
  docs/docs_troubleshoot/troubleshoots/shift_negative_activation.html
  docs/docs_troubleshoot/troubleshoots/using_more_samples_in_mixed_precision_quantization.html
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/enabling_hessian-based_mixed_precision.rst
  docsrc/source_troubleshoot/troubleshoots/gptq-gradient_based_post_training_quantization.rst
  docsrc/source_troubleshoot/troubleshoots/mixed_precision_with_model_output_loss_objective.rst
  docsrc/source_troubleshoot/troubleshoots/shift_negative_activation.rst
  docsrc/source_troubleshoot/troubleshoots/using_more_samples_in_mixed_precision_quantization.rst
Labels: docs, docsrc

Update release v2.5.0
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  requirements.txt
  tests_pytest/pytorch_tests/e2e_tests/test_multiclass_nms_obb.py
  tests_pytest/pytorch_tests/unit_tests/target_platform_capabilities/targetplatform2framework/test_attach2pytorch_multiclass_nms_obb.py
Labels: target_platform_capabilities

issue template update
  .github/ISSUE_TEMPLATE/mct_issue_template.yaml
Labels: none

Removal of Python 3.9　related CI/CD
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
Labels: none

README update
  README.md
Labels: none

setup update
  setup.py
Labels: none

support version update
  README.md
Labels: none

Exclude Python 3.9 from support (#1550)
  .github/ISSUE_TEMPLATE/mct_issue_template.yaml
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  README.md
  setup.py
Labels: none

Add take layer
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
Labels: target_platform_capabilities

add e2e test
  tests_pytest/pytorch_tests/e2e_tests/test_take.py
Labels: none

add assert check
  tests_pytest/pytorch_tests/e2e_tests/test_take.py
Labels: none

Add yolox tutorial
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none
