Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

Add test yml
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  tests_network_deployment/test_run_converter.py
  tests_network_deployment/test_run_mct.py
Labels: none

delete mct-version
  .github/workflows/run_network_deployment_tests.yml
Labels: none

delete debug
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Remove custom caller formatter and integrate mct-quantizers logging functionality
  model_compression_toolkit/logger.py
Labels: none

Update copyright year to 2025 in logger.py
  model_compression_toolkit/logger.py
Labels: none

Remove unnecessary isinstance check for StreamHandler in Logger class
  model_compression_toolkit/logger.py
Labels: none

Move tests_pytest/network_deployment_tests
  .github/workflows/run_network_deployment_tests.yml
  tests_pytest/network_deployment_tests/test_run_converter.py
  tests_pytest/network_deployment_tests/test_run_mct.py
Labels: none

Add __init__.py
  tests_pytest/network_deployment_tests/__init__.py
Labels: none

Add 'pip list'
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Fixed for Safe Memory.
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

debug
  .github/workflows/run_pytorch_tests.yml
Labels: none

delete 'removal of MCT code'
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_pytorch_tests.yml
Labels: none

Add converter test
  .github/workflows/run_network_deployment_tests.yml
  tests_pytest/network_deployment_tests/test_run_converter.py
  tests_pytest/network_deployment_tests/test_run_mct.py
Labels: none

Add converter-mctq-version
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
Labels: none

Add -y option
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Fix Functional attribute
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Remove unnecessary cache reset.
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Remove unnecessary tf.config.run_functions_eagerly
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Remove generate_pytorch_tpc
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/latest/__init__.py
  tests/pytorch_tests/exporter_tests/base_pytorch_export_test.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_lut_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_uniform_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/function_tests/test_export_pytorch_fully_quantized_model.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_service.py
  tests/pytorch_tests/function_tests/test_quantization_configurations.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/feature_models/constant_conv_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/feature_models/linear_collapsing_test.py
  tests/pytorch_tests/model_tests/feature_models/matmul_test.py
  tests/pytorch_tests/model_tests/feature_models/permute_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/model_tests/feature_models/reshape_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/residual_collapsing_test.py
  tests/pytorch_tests/model_tests/feature_models/symmetric_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/uniform_activation_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/network_tests/conv2d_pruning_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/network_tests/conv2dtranspose_conv2d_pruning_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/network_tests/conv2dtranspose_pruning_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/network_tests/linear_pruning_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/pruning_pytorch_feature_test.py
Labels: tests, target_platform_capabilities

Add EfficientDet(Keras) Tutorial. (#1582)
  tutorials/notebooks/task_notebooks/README.md
  tutorials/notebooks/task_notebooks/keras/__init__.py
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/keras/models/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_blocks_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/utils/__init__.py
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

Fix log folder creation by appending suffix directly without separator for mct-quantizers integration
  model_compression_toolkit/logger.py
Labels: none

Remove latest
  model_compression_toolkit/target_platform_capabilities/constants.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/latest/__init__.py
  tests/common_tests/helpers/generate_test_tpc.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/model_tests/feature_models/relu_bound_test.py
  tests/pytorch_tests/model_tests/feature_models/scale_equalization_test.py
  tests/pytorch_tests/model_tests/feature_models/shift_negative_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/test_softmax_shift.py
Labels: tests, target_platform_capabilities

import logging in test_logger.py for proper logging functionality
  tests/common_tests/function_tests/test_logger.py
Labels: tests

add line and delete line
  model_compression_toolkit/logger.py
Labels: none

Add FOUND_MCTQ check for mct-quantizers installation in logger.py
  model_compression_toolkit/logger.py
  model_compression_toolkit/verify_packages.py
Labels: none

Move test
  .github/workflows/run_network_deployment_tests.yml
  network_deployment_tests/__init__.py
  network_deployment_tests/test_run_converter.py
  network_deployment_tests/test_run_mct.py
Labels: none

Add Colab link to task_tutorials
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Merge tpc for torch.index_select
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_index_select.py
Labels: target_platform_capabilities

Add manually model download when posenet.load_model failed.
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
Labels: none

add comment
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
Labels: none

Add Downloading print
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
Labels: none

dummy for test
  dummy.txt
Labels: none

limit version of numpy(<2.4.0)
  requirements.txt
Labels: none

limit version of numpy(<2.4.0)
  requirements.txt
Labels: none

Add TypeHint
  model_compression_toolkit/logger.py
Labels: none

Add onnx-opset-version
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  network_deployment_tests/test_run_mct.py
Labels: none

Add other version test
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv316_tpc10.yml
  .github/workflows/run_tests_conv317_tpc10.yml
  .github/workflows/run_tests_conv317_tpc40.yml
  .github/workflows/run_tests_conv317_tpc50.yml
Labels: none

Delete converter-cl version
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Add unistall step
  .github/workflows/run_network_deployment_tests.yml
Labels: none

Minor correction
  .github/workflows/run_network_deployment_tests.yml
Labels: none
