Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

Support NumPy 2.4.0 (#1609)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
Labels: core

Support NumPy 2.4.0 (#1609)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
  requirements.txt
Labels: core

Update version 2.5.1
  model_compression_toolkit/__init__.py
Labels: none

delete use_internal_tpc and change TPC
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

fix get_target_platform_capabilities_sdsp
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

modify tests
  model_compression_toolkit/verify_packages.py
  model_compression_toolkit/wrapper/constants.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Support NumPy 2.4.0 (#1612)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
  requirements.txt
Labels: core

change requirements.txt to mctq(main branch).
  requirements.txt
Labels: none

change MCTQ in requirements.txt
  requirements.txt
Labels: none

Minor Version Update v.2.5.1 (Support NumPy 2.4.0) (#1613)
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/common/quantization/quantizers/uniform_quantizers.py
Labels: core

Update version 2.5.1
  model_compression_toolkit/__init__.py
Labels: none

Update version 2.5.1 (#1616)
  model_compression_toolkit/__init__.py
Labels: none

change requirements.txt to mctq(main branch). (#1614)
  requirements.txt
Labels: none

add pip install tqdm
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Update API documents
  docs/_sources/api/api_docs/index.rst.txt
  docs/_sources/api/api_docs/methods/get_target_platform_capabilities.rst.txt
  docs/_sources/api/api_docs/methods/get_target_platform_capabilities_sdsp.rst.txt
  docs/_sources/api/api_docs/modules/target_platform_capabilities.rst.txt
  docs/api/api_docs/classes/DefaultDict.html
  docs/api/api_docs/classes/PruningInfo.html
  docs/api/api_docs/classes/Wrapper.html
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/get_keras_data_generation_config.html
  docs/api/api_docs/methods/get_keras_gptq_config.html
  docs/api/api_docs/methods/get_pytorch_data_generation_config.html
  docs/api/api_docs/methods/get_pytroch_gptq_config.html
  docs/api/api_docs/methods/get_target_platform_capabilities.html
  docs/api/api_docs/methods/get_target_platform_capabilities_sdsp.html
  docs/api/api_docs/methods/keras_data_generation_experimental.html
  docs/api/api_docs/methods/keras_gradient_post_training_quantization.html
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_pruning_experimental.html
  docs/api/api_docs/methods/keras_quantization_aware_training_finalize_experimental.html
  docs/api/api_docs/methods/pytorch_data_generation_experimental.html
  docs/api/api_docs/methods/pytorch_gradient_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_pruning_experimental.html
  docs/api/api_docs/methods/xquant_report_keras_experimental.html
  docs/api/api_docs/modules/exporter.html
  docs/api/api_docs/modules/target_platform_capabilities.html
  docs/genindex.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/api/api_docs/index.rst
  docsrc/source/api/api_docs/methods/get_target_platform_capabilities.rst
  docsrc/source/api/api_docs/methods/get_target_platform_capabilities_sdsp.rst
  docsrc/source/api/api_docs/modules/target_platform_capabilities.rst
  model_compression_toolkit/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
Labels: docs, docsrc, target_platform_capabilities

Update README for TPC
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Fix to link error
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Minor correction
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Add CI/CD test about TPC and Converter for Keras (#1618)
  .github/workflows/run_keras_tests_conv314_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc10.yml
  .github/workflows/run_keras_tests_conv316_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc10.yml
  .github/workflows/run_keras_tests_conv317_tpc40.yml
  .github/workflows/run_keras_tests_conv317_tpc50.yml
  .github/workflows/run_network_deployment_keras_tests.yml
  .github/workflows/run_network_deployment_pytorch_tests.yml
  .github/workflows/run_pytorch_tests_conv314_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc10.yml
  .github/workflows/run_pytorch_tests_conv316_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc10.yml
  .github/workflows/run_pytorch_tests_conv317_tpc40.yml
  .github/workflows/run_pytorch_tests_conv317_tpc50.yml
  network_deployment_tests/keras/__init__.py
  network_deployment_tests/keras/test_run_converter.py
  network_deployment_tests/keras/test_run_mct.py
  network_deployment_tests/pytorch/__init__.py
  network_deployment_tests/pytorch/test_run_converter.py
  network_deployment_tests/pytorch/test_run_mct.py
Labels: none

Refactor code structure for improved readability and maintainability
  model_compression_toolkit/__init__.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Improved test case documentation and argument organization
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
Labels: none

Refactor test case docstrings for clarity and consistency
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
Labels: none

Update README in MCT
  README.md
Labels: none

Add link for supported versions
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Delete unnecessary statements
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Delete unnecessary statement
  README.md
Labels: none

Update README for TPC (#1622)
  model_compression_toolkit/target_platform_capabilities/README.md
Labels: target_platform_capabilities

Add a title
  README.md
Labels: none

Update README in MCT (#1623)
  README.md
Labels: none

Remove unused serialization and quantization format parameters from export settings
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

fix install libraries in pytorch tutorials.
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_export.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_xquant.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_deeplabv3p_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/task_notebooks/pytorch/example_yolox_pytorch_mixed_precision_ptq.ipynb
Labels: none

Remove the comment out _assert_outputs_match
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Change the activation quantization error tolerance
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix argument order in _initialize_and_validate method calls in Keras and PyTorch tests for consistency
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: none

Add comment out
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Minor correction
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix argument name typo in _initialize_and_validate method call in Keras tests
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
Labels: none

Fix parameter name for TPC version to SDSP version in quantization configurations
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
Labels: none

Change the activation quantization error tolerance when exporting (#1625)
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Revert "Merge branch 'feature_tpc_improvement' into feature_tpc_improvement"
  model_compression_toolkit/verify_packages.py
  model_compression_toolkit/wrapper/constants.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/e2e_tests/wrapper/test_mct_wrapper_keras_e2e.py
  tests_pytest/keras_tests/integration_tests/wrapper/test_mct_wrapper_keras_integ.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/e2e_tests/wrapper/test_mct_wrapper_pytorch_e2e.py
  tests_pytest/pytorch_tests/integration_tests/wrapper/test_mct_wrapper_pytorch_integ.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none
