Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**

Delete unused import. Delete after raise lines.
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_blocks_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_keras.py
Labels: none

Add explanations of models/ source licenses.
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Delete timeout setting for local
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

modify validate_metadata()
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_metadata.py
Labels: none

modify validate_metadata()
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_metadata.py
Labels: none

Migrating validation code from edgemdt-tpc
  model_compression_toolkit/target_platform_capabilities/tpc_models/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_take.py
  tests_pytest/network_deployment/network_deployment_tests.py
Labels: target_platform_capabilities

Support torch.index_select to tpc v6.0.
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_index_select.py
Labels: target_platform_capabilities

Formatting
  model_compression_toolkit/target_platform_capabilities/tpc_models/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1_0/tpc.py
  tests_pytest/network_deployment/network_deployment_tests.py
Labels: target_platform_capabilities

modify indent
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_metadata.py
Labels: none

modify test_logger.py
  tests/common_tests/function_tests/test_logger.py
Labels: tests

Minor correction
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1_0/tpc.py
Labels: target_platform_capabilities

CI/CD Migration
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  .github/workflows/run_tests_conv316_tpc10.yml
  .github/workflows/run_tests_conv316_tpc40.yml
  .github/workflows/run_tests_conv317_tpc10.yml
  .github/workflows/run_tests_conv317_tpc40.yml
  .github/workflows/run_tests_conv317_tpc50.yml
Labels: none

change file path
  .github/workflows/run_network_deployment_tests.yml
  .github/workflows/run_tests_conv314_tpc10.yml
  .github/workflows/run_tests_conv316_tpc10.yml
  .github/workflows/run_tests_conv316_tpc40.yml
  .github/workflows/run_tests_conv317_tpc10.yml
  .github/workflows/run_tests_conv317_tpc40.yml
  .github/workflows/run_tests_conv317_tpc50.yml
Labels: none

Change the referenced MCT to one via PyPI
  .github/workflows/run_network_deployment_tests.yml
Labels: none

delete tab
  model_compression_toolkit/logger.py
Labels: none

rebuild api document
  docs/api/api_docs/methods/set_logger_path.html
  docs/searchindex.js
Labels: docs

Add API for sdsp converter
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_sdsp_api.py
Labels: target_platform_capabilities

Changed sdsp version to a constant
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
Labels: target_platform_capabilities

Fix sentence. Move SSDPosProcess I/O explanation out of source. Add comments of functions. Fix batch size and shuffle of calib_loader.
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

torch2keras src: Adjust this comments to comply with MCT rules. Remove unused processes.
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

Removed unnecessary processing from external sources modified under Apache 2.0.
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_blocks_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_keras.py
Labels: none

Fix src comments place and library name.
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

fix comments
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_blocks_keras.py
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effnet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

Change load_state_dict from update arg model to return updated model.
  tutorials/notebooks/task_notebooks/keras/models/efficientdet/effdet_keras.py
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

Remove arg"layer" from weight_translation
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

fix comment
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Move tpc and sdsp versions to constant file
  model_compression_toolkit/target_platform_capabilities/constants.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/__init__.py
Labels: target_platform_capabilities

Delete linebreak
  tutorials/notebooks/task_notebooks/keras/models/utils/torch2keras_weights_translation.py
Labels: none

fix comment
  tutorials/notebooks/task_notebooks/keras/example_effdet_keras_mixed_precision_ptq.ipynb
Labels: none

Support torch.index_select
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_index_select.py
Labels: target_platform_capabilities

Added mct-quantizers installation confirmation and log folder setting functions to logger.py
  model_compression_toolkit/logger.py
Labels: none

Fix for verification by latest deletion
  tests/external_tests/keras_tests/models_tests/test_networks_runner.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/conv2d_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/conv2dtranspose_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/dense_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/dwconv2d_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/multiple_inputs_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/no_quant_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/conv2d_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/conv2dtranspose_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/dense_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/dwconv2d_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/multiple_inputs_test.py
  tests/keras_tests/exporter_tests/keras_mctq/networks/no_quant_test.py
  tests/keras_tests/exporter_tests/tflite_fake_quant/networks/conv2d_test.py
  tests/keras_tests/exporter_tests/tflite_fake_quant/networks/dense_test.py
  tests/keras_tests/tpc_keras.py
Labels: tests

add log format
  model_compression_toolkit/logger.py
Labels: none

Support torch.index_select (#1589)
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/pytorch_tests/e2e_tests/test_index_select.py
Labels: target_platform_capabilities

Refactor log format handling to use a constant for consistency
  model_compression_toolkit/logger.py
Labels: none

Remove mct-quantizers installation check and related logging functionality from set_log_folder
  model_compression_toolkit/logger.py
Labels: none

Refactor test_set_stream_handler_already_exists to remove unnecessary isinstance mock
  tests/common_tests/function_tests/test_logger.py
Labels: tests

import logging in test_logger.py for enhanced logging functionality
  tests/common_tests/function_tests/test_logger.py
Labels: tests

Add exception logging method to Logger class with unit test
  model_compression_toolkit/logger.py
  tests/common_tests/function_tests/test_logger.py
Labels: tests

Remove get_keras_tpc_latest and get_pytorch_tpc_latest
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/latest/__init__.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
Labels: tests, target_platform_capabilities
