Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

Add accuracy notes.
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

change text
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

change text
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Disable weight quantization for sin, cos, and exp
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_sin_cos_exp.py
  tests_pytest/pytorch_tests/e2e_tests/test_constant_sin_cos_exp.py
Labels: target_platform_capabilities

Maintenance Tutorials(MCTWrapper) (#1639)
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mct_wrapper.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mct_wrapper.ipynb
Labels: none

Refactor MCTWrapper documentation and parameter descriptions
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

refactoring XQuant_Extension_Tool.rst
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/api/api_docs/classes/Wrapper.html
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/outlier_removal.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/shift_negative_activation.rst.txt
  docs/docs_troubleshoot/images/outlier.png
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/objects.inv
  docs/docs_troubleshoot/searchindex.js
  docs/docs_troubleshoot/troubleshoots/outlier_removal.html
  docs/docs_troubleshoot/troubleshoots/shift_negative_activation.html
  docs/guidelines/XQuant_Extension_Tool.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/images/outlier.png
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/outlier_removal.rst
  docsrc/source_troubleshoot/troubleshoots/shift_negative_activation.rst
Labels: docs, docsrc

Revert Wrapper.html
  docs/api/api_docs/classes/Wrapper.html
Labels: docs

Disable weight quantization for Sin, Cos, and Exp (#1645)
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v5_0/tpc.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v6_0/tpc.py
  tests_pytest/common_tests/unit_tests/target_platform_capabilities/test_tpc_sin_cos_exp.py
  tests_pytest/pytorch_tests/e2e_tests/test_constant_sin_cos_exp.py
Labels: target_platform_capabilities

fix doc-link error, fix text syntax warning.
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/outlier_removal.rst.txt
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/searchindex.js
  docs/guidelines/XQuant_Extension_Tool.html
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/outlier_removal.rst
Labels: docs, docsrc

refactor line breaks
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/outlier_removal.rst.txt
  docs/docs_troubleshoot/troubleshoots/outlier_removal.html
  docs/guidelines/XQuant_Extension_Tool.html
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/troubleshoots/outlier_removal.rst
Labels: docs, docsrc

Refactor MCTWrapper documentation and comments for clarity
  docs/api/api_docs/classes/Wrapper.html
  docs/searchindex.js
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

Update optimizer descriptions in quantization_facade.py for Keras and PyTorch
  docs/api/api_docs/methods/get_keras_gptq_config.html
  docs/api/api_docs/methods/get_pytroch_gptq_config.html
  docs/searchindex.js
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
Labels: docs, gptq

fix review points
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/guidelines/XQuant_Extension_Tool.html
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
Labels: docs, docsrc

fix review points(remove references, move texts, remove duplicate text)
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/shift_negative_activation.rst.txt
  docs/docs_troubleshoot/images/PReLU.png
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/objects.inv
  docs/docs_troubleshoot/searchindex.js
  docs/docs_troubleshoot/troubleshoots/shift_negative_activation.html
  docs/guidelines/XQuant_Extension_Tool.html
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/images/PReLU.png
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/shift_negative_activation.rst
Labels: docs, docsrc

fix review points.
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/objects.inv
  docs/docs_troubleshoot/searchindex.js
  docs/guidelines/XQuant_Extension_Tool.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/index.rst
Labels: docs, docsrc

make bold [Troubleshoots], and add verb.
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/guidelines/XQuant_Extension_Tool.html
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
Labels: docs, docsrc

make bold, fix text.
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/guidelines/XQuant_Extension_Tool.html
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
Labels: docs, docsrc

Refactoring XQuant_Extension_Tool Documents (#1646)
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/outlier_removal.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/shift_negative_activation.rst.txt
  docs/docs_troubleshoot/images/PReLU.png
  docs/docs_troubleshoot/images/outlier.png
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/objects.inv
  docs/docs_troubleshoot/searchindex.js
  docs/docs_troubleshoot/troubleshoots/outlier_removal.html
  docs/docs_troubleshoot/troubleshoots/shift_negative_activation.html
  docs/guidelines/XQuant_Extension_Tool.html
  docs/objects.inv
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/images/PReLU.png
  docsrc/source_troubleshoot/images/outlier.png
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/outlier_removal.rst
  docsrc/source_troubleshoot/troubleshoots/shift_negative_activation.rst
Labels: docs, docsrc

fix review comment(For overview of -> For the overview of)
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/index.html
  docsrc/source_troubleshoot/index.rst
Labels: docs, docsrc

Add WARNING messages explanation.
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/unbalanced_concatenation.rst.txt
  docs/docs_troubleshoot/searchindex.js
  docs/docs_troubleshoot/troubleshoots/unbalanced_concatenation.html
  docs/guidelines/XQuant_Extension_Tool.html
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/troubleshoots/unbalanced_concatenation.rst
Labels: docs, docsrc

Refactor MCTWrapper documentation for parameter sections and formatting
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: none

Refactor MCTWrapper documentation for parameter headings and formatting
  docs/api/api_docs/classes/Wrapper.html
Labels: docs

fix text, fix source syntax.
  docs/docs_troubleshoot/_sources/troubleshoots/unbalanced_concatenation.rst.txt
  docs/docs_troubleshoot/troubleshoots/unbalanced_concatenation.html
  docsrc/source_troubleshoot/troubleshoots/unbalanced_concatenation.rst
Labels: docs, docsrc

Refactor MCTWrapper documentation
  docs/api/api_docs/classes/Wrapper.html
  model_compression_toolkit/wrapper/mct_wrapper.py
Labels: docs

(Wrapper)Update MCTWrapper documentation and increase default num_of_images fo… (#1644)
  docs/api/api_docs/classes/Wrapper.html
  docs/api/api_docs/methods/get_keras_gptq_config.html
  docs/api/api_docs/methods/get_pytroch_gptq_config.html
  docs/searchindex.js
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/wrapper/mct_wrapper.py
  tests_pytest/keras_tests/unit_tests/wrapper/test_mct_wrapper_keras_unit.py
  tests_pytest/pytorch_tests/unit_tests/wrapper/test_mct_wrapper_pytorch_unit.py
Labels: docs, gptq

Additional fix of XQuant_Extension_Tool Documents (#1649)
  docs/_sources/guidelines/XQuant_Extension_Tool.rst.txt
  docs/docs_troubleshoot/_sources/index.rst.txt
  docs/docs_troubleshoot/_sources/troubleshoots/unbalanced_concatenation.rst.txt
  docs/docs_troubleshoot/index.html
  docs/docs_troubleshoot/searchindex.js
  docs/docs_troubleshoot/troubleshoots/unbalanced_concatenation.html
  docs/guidelines/XQuant_Extension_Tool.html
  docs/searchindex.js
  docsrc/source/guidelines/XQuant_Extension_Tool.rst
  docsrc/source_troubleshoot/index.rst
  docsrc/source_troubleshoot/troubleshoots/unbalanced_concatenation.rst
Labels: docs, docsrc

resolve conflict of searchindex.js
  docs/searchindex.js
Labels: docs

resolve conflict of searchindex.js
  docs/searchindex.js
Labels: docs

Add tutorial for quantization troubleshooting using XQuant Extension Tool
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Improve tutorial clarity and formatting for XQuant Extension Tool
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Remove example tutorial notebook for XQuant Extension Tool
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Refactor code structure and remove redundant sections for improved readability and maintainability
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Revert "Refactor code structure and remove redundant sections for improved readability and maintainability"
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Add tutorial notebook for quantization troubleshooting using the XQuant Extension Tool
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Update version 2.6.0
  model_compression_toolkit/__init__.py
Labels: none

Improve tutorial structure and clarity for XQuant Extension Tool
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

Reorganize tutorial sections and enhance conclusion for clarity in XQuant Extension Tool notebook
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_XQuant_Extension_Tool.ipynb
Labels: none

fix: correct typo 'occured' to 'occurred'
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/change_qc_attr_test.py
Labels: tests

update contributing.md
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**
