Repository SonySemiconductorSolutions/mct-model-optimization, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, docs, docsrc, core, data_generation, exporter, gptq, legacy, ptq, qat, target_platform_capabilities, trainable_infrastructure, tutorials

change visability of graph builder methods since it is used in pruning
  model_compression_toolkit/graph_builder/common/base_graph_builder.py
  model_compression_toolkit/graph_builder/pytorch/pytorch_graph_builder.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
Labels: none

use float graph builder in pruning torch facade
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
Labels: none

use float graph builder in pruning keras facade
  model_compression_toolkit/pruning/keras/pruning_facade.py
Labels: none

replace the usage of read model function with graph builder function
  tests/keras_tests/pruning_tests/test_memory_calculator.py
  tests_pytest/pytorch_tests/unit_tests/core/reader/test_assert_to_operation.py
Labels: tests

move torch reader to new package
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  model_compression_toolkit/graph_builder/pytorch/convert_pytorch_model_to_graph.py
  model_compression_toolkit/graph_builder/pytorch/reader/__init__.py
  model_compression_toolkit/graph_builder/pytorch/reader/graph_builders.py
  model_compression_toolkit/graph_builder/pytorch/reader/node_holders.py
  model_compression_toolkit/graph_builder/pytorch/reader/reader.py
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tests/pytorch_tests/graph_tests/test_graph_reading.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
Labels: tests, core, exporter

restore network editor inports in __init__, remove quant funcions rules from docs
  docsrc/source/api/api_docs/modules/network_editor.rst
  model_compression_toolkit/core/common/network_editors/__init__.py
Labels: docsrc, core

move torch reader into new module
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tests/pytorch_tests/function_tests/test_pytorch_tpc.py
  tests/pytorch_tests/graph_tests/test_graph_reading.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
Labels: tests

remove duplicate candidates from node added by SNC
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
Labels: core

adjust torch pytests
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
  tests_pytest/_fw_tests_common_base/fusing/base_fusing_info_generator_test.py
  tests_pytest/_fw_tests_common_base/fusing/base_graph_with_fusing_metadata_test.py
  tests_pytest/_test_util/fw_test_base.py
  tests_pytest/pytorch_tests/integration_tests/core/graph_substitutions/substitutions/test_convtasnet_dynamic_output_size.py
  tests_pytest/pytorch_tests/integration_tests/core/quantization/test_set_node_quantization_config.py
  tests_pytest/pytorch_tests/integration_tests/core/test_fw_implementation.py
  tests_pytest/pytorch_tests/torch_test_util/torch_test_mixin.py
Labels: core

remove read_model function from graph_prep_runner
  model_compression_toolkit/core/graph_prep_runner.py
Labels: core

Disable outputs compare check for now, until further debug
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix tests
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Move exporter E2E tests to pytest
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  tests/pytorch_tests/exporter_tests/__init__.py
  tests/pytorch_tests/exporter_tests/base_pytorch_export_test.py
  tests/pytorch_tests/exporter_tests/base_pytorch_onnx_export_test.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/__init__.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_lut_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_uniform_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_inputs.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_inputs_and_outputs.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_outputs.py
  tests/pytorch_tests/exporter_tests/test_runner.py
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: tests, exporter

Try fix
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Move tests to MCTQ-nightly
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
Labels: none

Try again
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix test
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix test
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

Fix bug in WeightsUniformInferableQuantizer: zero-point calculation could shift by 1 because of numerical issues. Solved by adding round before int.
  tests_pytest/pytorch_tests/e2e_tests/test_exporter.py
Labels: none

adjust keras pytests
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests_pytest/_fw_tests_common_base/fusing/base_graph_with_fusing_metadata_test.py
  tests_pytest/keras_tests/integration_tests/core/test_fw_implementation.py
  tests_pytest/keras_tests/keras_test_util/keras_test_mixin.py
Labels: tests

move import of keras graph builder in ru data facade after tf check
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
Labels: core

move import of torch graph builder in ru data facade after torch check
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
Labels: core

remove imports from graph builder init
  model_compression_toolkit/graph_builder/__init__.py
  model_compression_toolkit/graph_builder/keras/convert_keras_model_to_graph.py
  model_compression_toolkit/graph_builder/pytorch/convert_pytorch_model_to_graph.py
Labels: none

fix import convert_pytorch_model_to_graph
  model_compression_toolkit/graph_builder/pytorch/pytorch_graph_builder.py
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tests/pytorch_tests/function_tests/test_pytorch_tpc.py
  tests/pytorch_tests/graph_tests/test_graph_reading.py
Labels: tests

fix import convert_keras_model_to_graph
  model_compression_toolkit/graph_builder/keras/keras_graph_builder.py
  model_compression_toolkit/xquant/keras/tensorboard_utils.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_bn_info_collection.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_graph_max_cut.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/graph_tests/test_graph_reading.py
  tests/keras_tests/graph_tests/test_max_cut_astar.py
  tests/keras_tests/graph_tests/test_memory_graph.py
  tests/keras_tests/non_parallel_tests/test_keras_tpc.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: tests

fix imports for envs where torch and tf are not installed
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: gptq, ptq, qat

remove old read_model_to_graph import in test_assert_to_operation.py
  tests_pytest/pytorch_tests/unit_tests/core/reader/test_assert_to_operation.py
Labels: none

adapt test ru data after removing graph_prep function with get_finalized_graph checks
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_data.py
Labels: core

Update repo name string in links checker
  .github/workflows/link_checker.yml
Labels: none

modify api link everywhere
  README.md
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: ptq, qat, target_platform_capabilities

restrict workflow permissions
  .github/workflows/link_checker.yml
Labels: none

Rename core.pytorch\keras.quantizer to quantization. Move activation_quantizer_factory_mapping from frameworkInfo to framework core code.
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/mixed_precision/configurable_quantizer_utils.py
  model_compression_toolkit/core/common/quantization/quantization_fn_selection.py
  model_compression_toolkit/core/common/statistics_correction/compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/keras/quantization/__init__.py
  model_compression_toolkit/core/keras/quantization/activation_quantization_fn_factory.py
  model_compression_toolkit/core/keras/quantization/fake_quant_builder.py
  model_compression_toolkit/core/keras/quantization/lut_fake_quant.py
  model_compression_toolkit/core/keras/statistics_correction/keras_compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/pytorch/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/pytorch/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/quantization/__init__.py
  model_compression_toolkit/core/pytorch/quantization/activation_quantization_fn_factory.py
  model_compression_toolkit/core/pytorch/quantization/fake_quant_builder.py
  model_compression_toolkit/core/pytorch/quantization/lut_fake_quant.py
  model_compression_toolkit/core/pytorch/statistics_correction/pytorch_compute_activation_bias_correction_of_graph.py
  tests/keras_tests/function_tests/test_activation_quantization_functions.py
  tests/keras_tests/function_tests/test_lut_activation_quanitzer_fake_quant.py
  tests/pytorch_tests/function_tests/test_activation_quantization_functions.py
  tests/pytorch_tests/function_tests/test_lut_activation_quanitzer_fake_quant.py
  tests_pytest/keras_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
  tests_pytest/pytorch_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
Labels: tests, core

fix functions tests after merge removal of fw graph builder
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_service.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
Labels: tests

update repo name in nightly workflow
  .github/workflows/nightly.yml
Labels: none

fix torch test hessian service
  tests/pytorch_tests/function_tests/test_hessian_service.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
Labels: tests

fix missing import in test_weights_activation_split_substitution
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
Labels: tests

remove activation_error_method and lp_value from NodeActivationQuantizationCfg
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_error_method_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: tests, core

remove relu_bound_to_power_of_2, activation_channel_equalization, input_scaling, concat_threshold_update from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
Labels: core

remove z_threshold from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: core

remove .shift_negative_{activation_correction, ratio, threshold_recalculation} from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
Labels: core

.github/labeler.yml:

# Add 'test' label to any change in tests dir
tests:
- tests/**

docs:
- docs/**

docsrc:
- docsrc/**

core:
- model_compression_toolkit/core/**

data_generation:
- model_compression_toolkit/data_generation/**

exporter:
- model_compression_toolkit/exporter/**

gptq:
- model_compression_toolkit/gptq/**

legacy:
- model_compression_toolkit/legacy/**

ptq:
- model_compression_toolkit/ptq/**

qat:
- model_compression_toolkit/qat/**

target_platform_capabilities:
- model_compression_toolkit/target_platform_capabilities/**

trainable_infrastructure:
- model_compression_toolkit/trainable_infrastructure/**

tutorials:
- model_compression_toolkit/tutorials/**
