Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-11, with the labels that each got.

#399 created landing page using Github Pages and changed theme for sphinx
  README.md
  _config.yml
  docs/.buildinfo
  docs/_static/basic.css
  docs/_static/documentation_options.js
  docs/_static/searchtools.js
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization_mixed_precision.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization_mixed_precision.html
  docs/api/api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/classes/DefaultDict.html
  docs/api/experimental_api_docs/classes/FolderImageLoader.html
  docs/api/experimental_api_docs/classes/FrameworkInfo.html
  docs/api/experimental_api_docs/classes/GradientPTQConfig.html
  docs/api/experimental_api_docs/classes/GumbelConfig.html
  docs/api/experimental_api_docs/index.html
  docs/api/experimental_api_docs/methods/get_keras_gptq_config.html
  docs/api/experimental_api_docs/methods/get_pytroch_gptq_config.html
  docs/api/experimental_api_docs/methods/get_target_platform_capabilities.html
  docs/api/experimental_api_docs/methods/keras_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/keras_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_export.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_init.html
  docs/api/experimental_api_docs/methods/pytorch_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/set_logger_path.html
  docs/api/experimental_api_docs/modules/core_config.html
  docs/api/experimental_api_docs/modules/debug_config.html
  docs/api/experimental_api_docs/modules/layer_filters.html
  docs/api/experimental_api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/modules/network_editor.html
  docs/api/experimental_api_docs/modules/quantization_config.html
  docs/api/experimental_api_docs/modules/target_platform.html
  docs/api/experimental_api_docs/notes/experimental_api_note.html
  docs/api/experimental_api_docs/notes/tpc_note.html
  docs/genindex.html
  docs/guidelines/quickstart_keras.html
  docs/guidelines/quickstart_pytorch.html
  docs/guidelines/visualization.html
  docs/index.html
  docs/search.html
  docs/searchindex.js
  docsrc/source/conf.py
  setup.py
Labels: docs

#394 Max Cut (Scheduler) algorithm implementation
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/memory_graph/__init__.py
  model_compression_toolkit/core/common/graph/memory_graph/bipartite_graph.py
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/graph/memory_graph/cut.py
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  model_compression_toolkit/core/common/graph/memory_graph/memory_element.py
  model_compression_toolkit/core/common/graph/memory_graph/memory_graph.py
  model_compression_toolkit/core/common/memory_computation.py
  tests/keras_tests/function_tests/test_graph_max_cut.py
  tests/keras_tests/graph_tests/test_max_cut_astar.py
  tests/keras_tests/graph_tests/test_memory_graph.py
Labels: common

#406 Optimizing distance matrix computation runtime
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
Labels: common, keras, pytorch

#405 Replace output node for jacobian-based weights computation for GPTQ
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/gptq/common/gptq_training.py
Labels: common, keras, pytorch

#411 Support Pytorch convolution functional API
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/const_holder_conv.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/runner.py
  tests/pytorch_tests/model_tests/feature_models/constant_conv_substitution_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common, pytorch

#424 Dataset iterator
  model_compression_toolkit/core/analyzer.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/keras/kpi_data_facade.py
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/core/keras/statistics_correction/apply_second_moment_correction.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/quantization_facade.py
  model_compression_toolkit/core/pytorch/reader/reader.py
  model_compression_toolkit/core/pytorch/statistics_correction/apply_second_moment_correction.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/configs/weight_quantizer_gptq_config.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/gumbel_rounding/base_gumbel_weights_quantizer.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  tests/common_tests/base_feature_test.py
  tests/common_tests/base_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
  tests/keras_tests/function_tests/test_model_gradients.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/keras_tests/test_fully_quantized_exporter.py
  tests/keras_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/bn_info_collection_test.py
  tests/pytorch_tests/function_tests/kpi_data_test.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/model_gradients_test.py
  tests/pytorch_tests/function_tests/test_tensorboard_writer.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/test_fully_quantized_exporter.py
  tests/pytorch_tests/test_pytorch_tp_model.py
  tutorials/example_keras_mobilenet.py
  tutorials/example_keras_mobilenet_gptq.py
  tutorials/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/example_keras_qat.ipynb
  tutorials/example_keras_qat.py
  tutorials/example_pytorch_quantization_mnist.ipynb
Labels: keras, pytorch

#433 Remove LayerNormDecomposition from substitutions
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/layer_norm_decomposition.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/layer_norm_substitution_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: keras

#444 fix node distance function for sigmoid
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
Labels: keras, pytorch
