Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-03, with the labels that each got.

#99 Add BatchNorm information collection
  model_compression_toolkit/common/framework_implementation.py
  model_compression_toolkit/common/graph/graph_matchers.py
  model_compression_toolkit/common/node_prior_info.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/substitutions/batchnorm_folding.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/keras/keras_node_prior_info.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  model_compression_toolkit/pytorch/pytorch_node_prior_info.py
  tests/keras_tests/feature_networks_tests/test_networks_runner_float.py
  tests/keras_tests/function_tests/test_bn_info_collection.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
  tests/pytorch_tests/function_tests/__init__.py
  tests/pytorch_tests/function_tests/bn_info_collection_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/test_suite.py
Labels: common, test, keras, pytorch

#109 Multi head attention support
  model_compression_toolkit/common/constants.py
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/keras/constants.py
  model_compression_toolkit/keras/default_framework_info.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/multi_head_attention_decomposition.py
  model_compression_toolkit/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/decompose_separable_conv_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/multi_head_attention_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: common, keras

#113 remove suplicate Dot
  model_compression_toolkit/keras/default_framework_info.py
Labels: keras

#116 Add keras LayerNormalization quantization
  model_compression_toolkit/keras/default_framework_info.py
Labels: keras

#115 Replace relu6_unbound correction with relu_2_power_of_2 correction
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/quantization/quantization_config.py
  model_compression_toolkit/keras/constants.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/relu_bound_correction.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/relu_bound_to_power_of_2.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/scale_equalization.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/pytorch/constants.py
  model_compression_toolkit/pytorch/default_framework_info.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/relu_bound_to_power_of_2.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_relu_bound_to_power_of_2_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_percision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/scale_equalization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/feature_networks_tests/test_networks_runner.py
  tests/keras_tests/feature_networks_tests/test_networks_runner_float.py
  tests/keras_tests/function_tests/test_bn_info_collection.py
  tests/keras_tests/function_tests/test_kl_error_quantization_configurations.py
  tests/keras_tests/function_tests/test_quantization_configurations.py
  tests/pytorch_tests/function_tests/bn_info_collection_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_test.py
  tests/pytorch_tests/model_tests/feature_models/relu_bound_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common, keras, pytorch

#117 support adding model's weights to GPTQ loss
  model_compression_toolkit/common/gptq/gptq_config.py
  model_compression_toolkit/keras/gradient_ptq/gptq_loss.py
  model_compression_toolkit/keras/gradient_ptq/graph_info.py
  model_compression_toolkit/keras/gradient_ptq/training_wrapper.py
  model_compression_toolkit/keras/quantization_facade.py
Labels: keras

#121 update tensorboard
  docsrc/images/tbwriter/tbwriter_graphs.png
  docsrc/images/tbwriter/tbwriter_graphs2.png
  docsrc/images/tbwriter/tbwriter_graphs3.png
  docsrc/source/guidelines/visualization.rst
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/common/visualization/tensorboard_writer.py
  model_compression_toolkit/keras/reader/nested_model/nested_model_handler.py
  model_compression_toolkit/keras/reader/reader.py
  model_compression_toolkit/pytorch/reader/reader.py
  tests/pytorch_tests/function_tests/test_tensorboard_writer.py
Labels: enhancement

#122 fix bn info std update
  model_compression_toolkit/keras/keras_node_prior_info.py
  model_compression_toolkit/pytorch/pytorch_node_prior_info.py
  tests/keras_tests/function_tests/test_bn_info_collection.py
  tests/pytorch_tests/function_tests/bn_info_collection_test.py
Labels: keras, pytorch

#125 Combined nbits configs for weights and activations
  model_compression_toolkit/common/bias_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/common/constants.py
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/common/graph/base_node.py
  model_compression_toolkit/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/common/network_editors/__init__.py
  model_compression_toolkit/common/network_editors/actions.py
  model_compression_toolkit/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/common/visualization/tensorboard_writer.py
  model_compression_toolkit/keras/back2framework/model_builder.py
  model_compression_toolkit/keras/gradient_ptq/graph_update.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/mark_activation.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/remove_relu_upper_bound.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/scale_equalization.py
  model_compression_toolkit/keras/quantization_facade.py
  model_compression_toolkit/keras/quantizer/mixed_precision/quantization_config_factory.py
  model_compression_toolkit/keras/quantizer/mixed_precision/selective_quantizer.py
  model_compression_toolkit/keras/quantizer/mixed_precision/selective_weights_quantize_config.py
  model_compression_toolkit/pytorch/back2framework/model_builder.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/mark_activation.py
  model_compression_toolkit/pytorch/mixed_precision/mixed_precision_wrapper.py
  model_compression_toolkit/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/lut_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_percision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
  tests/pytorch_tests/model_tests/feature_models/lut_quantizer_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_test.py
Labels: common, keras, pytorch
