Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-09, with the labels that each got.

#371 Add tests for the examples in API documentation
  model_compression_toolkit/core/common/network_editors/actions.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/keras/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  tests/common_tests/test_doc_examples.py
  tests/keras_tests/test_doc_examples.py
  tests/pytorch_tests/test_doc_examples.py
  tests/test_suite.py
Labels: test, keras, pytorch

#378 Move graph's fusions tracking to dedicated fused_nodes field
  model_compression_toolkit/core/common/fusion/layer_fusing.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/user_info.py
  tests/keras_tests/feature_networks_tests/feature_networks/layer_fusing_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common

#372 Statistics correction
  model_compression_toolkit/core/common/collectors/statistics_collector_generator.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/statistics_correction/__init__.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/core/common/statistics_correction/statistics_correction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_refusing.py
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/batchnorm_refusing.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/core/keras/statistics_correction/apply_second_moment_correction.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/batchnorm_refusing.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/quantization_facade.py
  model_compression_toolkit/core/pytorch/statistics_correction/apply_second_moment_correction.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/runner.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common, keras, pytorch
