Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-02, with the labels that each got.

#89 Fix mixed precision images bug
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/common/graph/base_node.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/visualization/tensorboard_writer.py
  model_compression_toolkit/keras/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/pytorch/default_framework_info.py
Labels: common, pytorch

#91 Upgrade GPTQ
  model_compression_toolkit/common/framework_implementation.py
  model_compression_toolkit/common/gptq/gptq_config.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/keras/back2framework/model_builder.py
  model_compression_toolkit/keras/gradient_ptq/training_wrapper.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/activation_weight_quantizer_gptq_config.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/config_factory.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/weight_quantizer.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/weight_quantizer_gptq_config.py
Labels: common, keras

#94 Fix bias correction issue
  model_compression_toolkit/common/post_training_quantization.py
Labels: common

#97 fix negative shift substitution constant shape to match input_shape
  model_compression_toolkit/keras/graph_substitutions/substitutions/shift_negative_activation.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: bug

#104 fixes to negative shift
  model_compression_toolkit/common/network_editors/actions.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/substitutions/shift_negative_activation.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: common
