Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-12, with the labels that each got.

#450 Update docs
  docs/.buildinfo
  docs/_sources/api/experimental_api_docs/classes/GradientPTQConfig.rst.txt
  docs/_sources/api/experimental_api_docs/modules/target_platform.rst.txt
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization_mixed_precision.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization_mixed_precision.html
  docs/api/api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/classes/DefaultDict.html
  docs/api/experimental_api_docs/classes/FolderImageLoader.html
  docs/api/experimental_api_docs/classes/FrameworkInfo.html
  docs/api/experimental_api_docs/classes/GradientPTQConfig.html
  docs/api/experimental_api_docs/classes/GumbelConfig.html
  docs/api/experimental_api_docs/index.html
  docs/api/experimental_api_docs/methods/get_keras_gptq_config.html
  docs/api/experimental_api_docs/methods/get_pytroch_gptq_config.html
  docs/api/experimental_api_docs/methods/get_target_platform_capabilities.html
  docs/api/experimental_api_docs/methods/keras_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/keras_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_export.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_init.html
  docs/api/experimental_api_docs/methods/pytorch_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/set_logger_path.html
  docs/api/experimental_api_docs/modules/core_config.html
  docs/api/experimental_api_docs/modules/debug_config.html
  docs/api/experimental_api_docs/modules/layer_filters.html
  docs/api/experimental_api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/modules/network_editor.html
  docs/api/experimental_api_docs/modules/quantization_config.html
  docs/api/experimental_api_docs/modules/target_platform.html
  docs/api/experimental_api_docs/notes/experimental_api_note.html
  docs/api/experimental_api_docs/notes/tpc_note.html
  docs/genindex.html
  docs/guidelines/quickstart_keras.html
  docs/guidelines/quickstart_pytorch.html
  docs/guidelines/visualization.html
  docs/index.html
  docs/objects.inv
  docs/search.html
  docs/searchindex.js
  docs/static/bizstyle.js
  docs/static/documentation_options.js
  docsrc/Makefile
  docsrc/source/api/experimental_api_docs/classes/GradientPTQConfig.rst
  docsrc/source/api/experimental_api_docs/modules/target_platform.rst
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3/tp_model.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3_lut/tp_model.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
Labels: docs, docsrc

#461 Mixed precision tests coverage - sensitivity evaluation methods coverage
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/pytorch_tests/tpc_pytorch.py
Labels: keras, pytorch

#466 Minor fixes to previous MP coverage PRs
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi_methods.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  tests/test_suite.py
Labels: test

#468 Update test suite with missing Keras function tests
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/test_suite.py
Labels: test

#477 Fix Pytorch mixed precision with multiple inputs
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common, keras, pytorch

#483 Release changes
  docs/.buildinfo
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization_mixed_precision.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_post_training_quantization_mixed_precision.html
  docs/api/api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/classes/DefaultDict.html
  docs/api/experimental_api_docs/classes/FolderImageLoader.html
  docs/api/experimental_api_docs/classes/FrameworkInfo.html
  docs/api/experimental_api_docs/classes/GradientPTQConfig.html
  docs/api/experimental_api_docs/classes/GumbelConfig.html
  docs/api/experimental_api_docs/index.html
  docs/api/experimental_api_docs/methods/get_keras_gptq_config.html
  docs/api/experimental_api_docs/methods/get_pytroch_gptq_config.html
  docs/api/experimental_api_docs/methods/get_target_platform_capabilities.html
  docs/api/experimental_api_docs/methods/keras_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/keras_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_export.html
  docs/api/experimental_api_docs/methods/keras_quantization_aware_training_init.html
  docs/api/experimental_api_docs/methods/pytorch_gradient_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_kpi_data_experimental.html
  docs/api/experimental_api_docs/methods/pytorch_post_training_quantization_experimental.html
  docs/api/experimental_api_docs/methods/set_logger_path.html
  docs/api/experimental_api_docs/modules/core_config.html
  docs/api/experimental_api_docs/modules/debug_config.html
  docs/api/experimental_api_docs/modules/layer_filters.html
  docs/api/experimental_api_docs/modules/mixed_precision_quantization_config.html
  docs/api/experimental_api_docs/modules/network_editor.html
  docs/api/experimental_api_docs/modules/quantization_config.html
  docs/api/experimental_api_docs/modules/target_platform.html
  docs/api/experimental_api_docs/notes/experimental_api_note.html
  docs/api/experimental_api_docs/notes/tpc_note.html
  docs/genindex.html
  docs/guidelines/quickstart_keras.html
  docs/guidelines/quickstart_pytorch.html
  docs/guidelines/visualization.html
  docs/index.html
  docs/search.html
  docs/static/bizstyle.js
  docs/static/documentation_options.js
  model_compression_toolkit/__init__.py
Labels: docs

#486 Added geneic method for generating test TP model
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/common/target_platform/operators.py
  tests/common_tests/helpers/generate_test_tp_model.py
Labels: common

#484 Mixed precision coverage - final steps
  model_compression_toolkit/core/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/core/common/mixed_precision/distance_weighting.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/pytorch/mixed_precision/mixed_precision_wrapper.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/test_suite.py
Labels: test

#488 Symmetric lut
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/network_editors/actions.py
  model_compression_toolkit/core/common/quantization/quantization_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/lut_kmeans_params.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/power_of_two_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_search.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/symmetric_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/uniform_selection.py
  model_compression_toolkit/core/common/quantization/quantizers/quantizers_helpers.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/target_platform/op_quantization_config.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3_lut/tp_model.py
  model_compression_toolkit/core/tpc_models/default_tpc/v4_lut/tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/lut_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/lut_quantizer_test.py
Labels: common, keras, pytorch

#493 Add tests for visualization coverage
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/function_tests/test_tensorboard_writer.py
  tests/test_suite.py
Labels: test
