Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-04, with the labels that each got.

#130 Remove BatchNormalization from Keras default model
  model_compression_toolkit/hardware_models/keras_hardware_model/keras_default.py
Labels: bug

#132 Get n_bits candidates from hw model
  model_compression_toolkit/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/quantization/quantization_config.py
  model_compression_toolkit/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/keras/quantization_facade.py
  model_compression_toolkit/pytorch/quantization_facade.py
  tests/common_tests/base_layer_test.py
  tests/common_tests/helpers/generate_test_hw_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_folding_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/input_scaling_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_percision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/multi_inputs_to_node_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/multiple_inputs_node_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_inputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/remove_upper_bound_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/scale_equalization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/split_conv_bug_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/symmetric_threshold_selection_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/uniform_range_selection_activation_test.py
  tests/keras_tests/feature_networks_tests/test_networks_runner.py
  tests/keras_tests/function_tests/test_kl_error_quantization_configurations.py
  tests/keras_tests/function_tests/test_quantization_configurations.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/lut_quantizer_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_test.py
  tests/pytorch_tests/model_tests/feature_models/relu_bound_test.py
  tests/pytorch_tests/model_tests/feature_models/shift_negative_activation_test.py
  tutorials/example_keras_mobilenet_mixed_precision.py
Labels: keras, pytorch

#133 Add Softmax shift feature
  model_compression_toolkit/common/quantization/quantization_config.py
  model_compression_toolkit/common/substitutions/softmax_shift.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/softmax_shift.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/softmax_shift.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/softmax_shift_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/test_softmax_shift.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: keras, pytorch

#146 refactor GPTQ common
  model_compression_toolkit/common/framework_implementation.py
  model_compression_toolkit/common/gptq/gptq_graph.py
  model_compression_toolkit/common/gptq/gptq_training.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/keras/gradient_ptq/gptq_training.py
  model_compression_toolkit/keras/gradient_ptq/graph_info.py
  model_compression_toolkit/keras/gradient_ptq/graph_update.py
  model_compression_toolkit/keras/gradient_ptq/training_wrapper.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/pytorch/back2framework/model_builder.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
Labels: common, keras, pytorch

#151 Activation mixed-precision search implementation
  model_compression_toolkit/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/common/mixed_precision/kpi.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/keras/back2framework/model_builder.py
  model_compression_toolkit/keras/quantizer/mixed_precision/selective_quantize_config.py
  tests/common_tests/helpers/activation_mp_hw_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
Labels: common

#154 add channel scale equalization feature
  model_compression_toolkit/common/framework_implementation.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/substitutions/scale_equalization.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/scale_equalization.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/scale_equalization.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/scale_equalization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/scale_equalization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: common, keras, pytorch

#156 Mnist pytorch notebook
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/common/graph/base_node.py
  model_compression_toolkit/common/post_training_quantization.py
  tutorials/example_pytorch_quantization_mnist.ipynb
Labels: common

#157 Filtering-out irrelevant quantization config candidates
  model_compression_toolkit/common/constants.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/quantization/filter_nodes_candidates.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
Labels: common, size/m

#158 Change mixed-precision sensitivity metric interest points
  model_compression_toolkit/common/mixed_precision/sensitivity_evaluation_manager.py
  model_compression_toolkit/keras/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/pytorch/mixed_precision/sensitivity_evaluation.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
Labels: size/s

#166 [Pytorch] Added operator "torch.chunk" to "no quantization" list.
  model_compression_toolkit/hardware_models/pytorch_hardware_model/pytorch_default.py
  model_compression_toolkit/pytorch/utils.py
Labels: pytorch, size/xs

#164 Mha decomposition update
  model_compression_toolkit/keras/constants.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/multi_head_attention_decomposition.py
Labels: keras, size/m

#163 Mixed precision KPI metrics refactor
  model_compression_toolkit/common/graph/base_graph.py
  model_compression_toolkit/common/graph/base_node.py
  model_compression_toolkit/common/mixed_precision/kpi.py
  model_compression_toolkit/common/mixed_precision/kpi_aggregation_methods.py
  model_compression_toolkit/common/mixed_precision/kpi_methods.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/common/mixed_precision/search_methods/linear_programming.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
Labels: size/l

#169 Remove get_model tests
  tests/keras_tests/test_keras_hardware_model.py
  tests/pytorch_tests/test_pytorch_hardware_model.py
Labels: size/s

#168 Remove networkx version constraint from requierments file
  requirements.txt
Labels: size/xs

#165 Extract graph substitutions and editing to external function
  model_compression_toolkit/common/post_training_quantization.py
Labels: common, size/m
