Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-01, with the labels that each got.

#62 Refactor qparams and output channel index
  model_compression_toolkit/common/collectors/mean_collector.py
  model_compression_toolkit/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/common/collectors/statistics_collector.py
  model_compression_toolkit/common/constants.py
  model_compression_toolkit/common/framework_info.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/keras/back2framework/model_builder.py
  model_compression_toolkit/keras/default_framework_info.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/keras/keras_model_validation.py
  model_compression_toolkit/keras/quantizer/fake_quant_builder.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/activation_quantizer.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/activation_quantizer_gptq_config.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/activation_weight_quantizer_gptq_config.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/config_factory.py
  tests/common_tests/function_tests/test_collectors_manipulation.py
Labels: common, keras

#63 Fix imports in Keras facade
  model_compression_toolkit/keras/quantization_facade.py
Labels: keras

#66 Update test suite
  tests/common_tests/function_tests/test_folder_image_loader.py
  tests/common_tests/function_tests/test_logger.py
  tests/keras_tests/feature_networks_tests/feature_networks/lut_quantizer.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_lut_quanitzer_params.py
  tests/keras_tests/graph_tests/test_graph_collection.py
  tests/keras_tests/graph_tests/test_graph_quantization_and_export.py
  tests/keras_tests/layer_tests/test_layers_runner.py
  tests/test_suite.py
Labels: test

#67 Add support for TFOpLambda activations
  model_compression_toolkit/common/framework_info.py
  model_compression_toolkit/common/graph/base_node.py
  model_compression_toolkit/common/graph/functional_node.py
  model_compression_toolkit/common/graph/graph_matchers.py
  model_compression_toolkit/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/common/network_editors/node_filters.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/common/quantization/quantize_node.py
  model_compression_toolkit/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/common/visualization/tensorboard_writer.py
  model_compression_toolkit/keras/constants.py
  model_compression_toolkit/keras/default_framework_info.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/activation_decomposition.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/mark_activation.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/scale_equalization.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/keras/keras_node_prior_info.py
  model_compression_toolkit/keras/quantizer/gradient_ptq/config_factory.py
  model_compression_toolkit/keras/quantizer/mixed_precision/quantization_config_factory.py
  model_compression_toolkit/keras/reader/common.py
  tests/common_tests/helpers/tensors_compare.py
  tests/keras_tests/feature_networks_tests/feature_networks/mark_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/layer_tests/layers/activation_test.py
Labels: common, keras

#69 Feature add keras layer tests
  .github/workflows/run_tests_suite_tf25.yml
  .github/workflows/run_tests_suite_tf26.yml
  .github/workflows/run_tests_suite_tf27.yml
  model_compression_toolkit/keras/default_framework_info.py
  tests/common_tests/base_layer_test.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/layer_tests/layers/__init__.py
  tests/keras_tests/layer_tests/layers/activation_test.py
  tests/keras_tests/layer_tests/layers/concat_test.py
  tests/keras_tests/layer_tests/layers/conv2d_test.py
  tests/keras_tests/layer_tests/layers/crop_and_resize_test.py
  tests/keras_tests/layer_tests/layers/dense_test.py
  tests/keras_tests/layer_tests/layers/depthwiseconv2d_test.py
  tests/keras_tests/layer_tests/layers/math_add_test.py
  tests/keras_tests/layer_tests/layers/math_mul_test.py
  tests/keras_tests/layer_tests/layers/reduce_max_test.py
  tests/keras_tests/layer_tests/layers/reduce_mean_test.py
  tests/keras_tests/layer_tests/layers/reduce_min_test.py
  tests/keras_tests/layer_tests/layers/reduce_sum_test.py
  tests/keras_tests/layer_tests/layers/relu_test.py
  tests/keras_tests/layer_tests/layers/reshape_test.py
  tests/keras_tests/layer_tests/layers/resize_test.py
  tests/keras_tests/layer_tests/layers/split_test.py
  tests/keras_tests/layer_tests/test_layers_runner.py
Labels: keras

#74 Fixes
  README.MD
  docs/.buildinfo
  docs/_sources/api/api_docs/index.rst.txt
  docs/_sources/api/api_docs/methods/get_keras_gptq_config.rst.txt
  docs/_static/bizstyle.js
  docs/_static/documentation_options.js
  docs/api/api_docs/classes/DefaultDict.html
  docs/api/api_docs/classes/FolderImageLoader.html
  docs/api/api_docs/classes/FrameworkInfo.html
  docs/api/api_docs/classes/GradientPTQConfig.html
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/get_keras_gptq_config.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_post_training_quantization_mixed_precision.html
  docs/api/api_docs/methods/set_logger_path.html
  docs/api/api_docs/modules/mixed_precision_quantization_config.html
  docs/api/api_docs/modules/network_editor.html
  docs/api/api_docs/modules/quantization_config.html
  docs/genindex.html
  docs/guidelines/quickstart_keras.html
  docs/guidelines/visualization.html
  docs/index.html
  docs/objects.inv
  docs/search.html
  docs/searchindex.js
  docsrc/source/api/api_docs/index.rst
  docsrc/source/api/api_docs/methods/get_keras_gptq_config.rst
  model_compression_toolkit/__init__.py
  model_compression_toolkit/common/gptq/gptq_config.py
  model_compression_toolkit/keras/gradient_ptq/training_wrapper.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/mark_activation.py
  model_compression_toolkit/keras/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_decomposition_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_scaling_relu6_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mark_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/scale_equalization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
Labels: keras

#75 Fix import in keras facade
  .github/workflows/tests_common.yml
  model_compression_toolkit/keras/quantization_facade.py
Labels: keras

#76 Pytorch Framework Support
  model_compression_toolkit/__init__.py
  model_compression_toolkit/common/bias_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/common/constants.py
  model_compression_toolkit/common/framework_implementation.py
  model_compression_toolkit/common/model_collector.py
  model_compression_toolkit/common/post_training_quantization.py
  model_compression_toolkit/common/quantization/node_quantization_config.py
  model_compression_toolkit/common/quantization/quantizers/quantizers_helpers.py
  model_compression_toolkit/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/keras/back2framework/model_builder.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/keras/tf_tensor_numpy.py
  model_compression_toolkit/pytorch/__init__.py
  model_compression_toolkit/pytorch/back2framework/__init__.py
  model_compression_toolkit/pytorch/back2framework/instance_builder.py
  model_compression_toolkit/pytorch/back2framework/model_builder.py
  model_compression_toolkit/pytorch/constants.py
  model_compression_toolkit/pytorch/default_framework_info.py
  model_compression_toolkit/pytorch/graph_substitutions/__init__.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/__init__.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/mark_activation.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  model_compression_toolkit/pytorch/pytorch_node_prior_info.py
  model_compression_toolkit/pytorch/quantization_facade.py
  model_compression_toolkit/pytorch/quantizer/__init__.py
  model_compression_toolkit/pytorch/quantizer/fake_quant_builder.py
  model_compression_toolkit/pytorch/reader/__init__.py
  model_compression_toolkit/pytorch/reader/graph_builders.py
  model_compression_toolkit/pytorch/reader/reader.py
  model_compression_toolkit/pytorch/utils.py
  tests/common_tests/base_layer_test.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/__init__.py
  tests/pytorch_tests/constants.py
  tests/pytorch_tests/layer_tests/__init__.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/layer_tests/single_layer_models.py
  tests/pytorch_tests/layer_tests/test_layers_runner.py
  tests/pytorch_tests/model_tests/__init__.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/__init__.py
  tests/pytorch_tests/model_tests/feature_models/add_net_test.py
  tests/pytorch_tests/model_tests/feature_models/add_same_test.py
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
  tests/pytorch_tests/model_tests/feature_models/layer_name_test.py
  tests/pytorch_tests/model_tests/feature_models/lut_quantizer_test.py
  tests/pytorch_tests/model_tests/feature_models/multiple_output_nodes_multiple_tensors_test.py
  tests/pytorch_tests/model_tests/feature_models/multiple_outputs_node_test.py
  tests/pytorch_tests/model_tests/feature_models/output_in_the_middle_test.py
  tests/pytorch_tests/model_tests/feature_models/reuse_layer_net_test.py
  tests/pytorch_tests/model_tests/feature_models/shift_negative_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/split_concat_net_test.py
  tests/pytorch_tests/model_tests/model_zoo_tests/__init__.py
  tests/pytorch_tests/model_tests/model_zoo_tests/base_model_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/model_tests/test_models_runner.py
Labels: common, keras

#80 Moved duplicate code in batchnorm_folding subsitution to common.
  model_compression_toolkit/common/substitutions/batchnorm_folding.py
  model_compression_toolkit/keras/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/keras/keras_implementation.py
  model_compression_toolkit/pytorch/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/pytorch/pytorch_implementation.py
  tests/common_tests/base_test.py
Labels: keras
