Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-08, with the labels that each got.

#313 Remove PR size labeling
  .github/workflows/label.yml
Labels: size/s

#317 Incorporating weighted loss for GPTQ
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_loss.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/function_tests/model_gradients_test.py
Labels: common, keras, pytorch

#328 Replace TensorFlowOpLayer with TFOpLambda in SNC
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/shift_negative_activation.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
Labels: keras

#333 Graph substitutions for weight and activation composition (BOPs KPI preparations)
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/quantization/filter_nodes_candidates.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/virtual_activation_weights_composition.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/weight_activation_split.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
Labels: common

#334 BOPs KPI computation
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi.py
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi_methods.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
Labels: common, keras, pytorch

#337 Pytorch buffers
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  model_compression_toolkit/core/pytorch/reader/node_holders.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/feature_models/bn_function_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/tpc_pytorch.py
Labels: pytorch

#335 BOPs KPI integration into MP search
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi_data.py
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi_functions_mapping.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
Labels: common, keras, pytorch

#351 Support pytorch GPTQ: STE algorithm
  MCT_Block_Diagram.svg
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/utils.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_graph_info.py
  model_compression_toolkit/gptq/pytorch/gptq_loss.py
  model_compression_toolkit/gptq/pytorch/gptq_model_builder.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/__init__.py
  model_compression_toolkit/gptq/pytorch/quantizer/gptq_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantizer/quant_utils.py
  model_compression_toolkit/gptq/pytorch/quantizer/quantizer_wrapper.py
  model_compression_toolkit/gptq/pytorch/quantizer/ste_rounding/__init__.py
  model_compression_toolkit/gptq/pytorch/quantizer/ste_rounding/ste_weights_quantizer.py
  tests/common_tests/helpers/tensors_compare.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: pytorch

#353 Removed DEFAULT_CANDIDATE_BITWIDTH as default candidate bit-width and replaced with FLOAT_BITWIDTH
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/quantization/filter_nodes_candidates.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
Labels: common
