Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-10, with the labels that each got.

#390 Updating MCT default GPTQ arguments with Gumbel Rounding compatible values
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/keras/gptq_loss.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/configs/weight_quantizer_gptq_config.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/gumbel_softmax.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/symmetric_gumbel.py
Labels: common

#393 Fix gptq_runner invoke - argument is missing
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/core/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
Labels: keras, pytorch

#396 Disable activation quantization in mixed-precision metric computation for only weight MP search
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
Labels: common, keras, pytorch

#391 Modifications to support tensorflow 2.10.0
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/layer_norm_decomposition.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/multi_head_attention_decomposition.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/keras_node_prior_info.py
  model_compression_toolkit/core/keras/quantizer/mixed_precision/selective_quantize_config.py
  model_compression_toolkit/core/keras/reader/common.py
  model_compression_toolkit/core/keras/reader/connectivity_handler.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/core/tpc_models/default_tpc/v1/tpc_keras.py
  model_compression_toolkit/core/tpc_models/default_tpc/v2/tpc_keras.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3/tpc_keras.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3_lut/tpc_keras.py
  model_compression_toolkit/core/tpc_models/qnnpack_tpc/v1/tpc_keras.py
  model_compression_toolkit/core/tpc_models/tflite_tpc/v1/tpc_keras.py
  model_compression_toolkit/exporter/fully_quantized/keras/quantize_configs/activation_quantize_config.py
  model_compression_toolkit/exporter/fully_quantized/keras/quantize_configs/weights_activation_quantize_config.py
  model_compression_toolkit/exporter/fully_quantized/keras/quantize_configs/weights_quantize_config.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/configs/weight_quantizer_gptq_config.py
  model_compression_toolkit/qat/keras/quantizer/configs/weight_quantizer_config.py
  tests/keras_tests/feature_networks_tests/feature_networks/multiple_output_nodes_multiple_tensors_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_inputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_unused_inputs_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/slicing_op_lambda_test.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/test_keras_tp_model.py
  tests/keras_tests/tpc_keras.py
  tests/test_suite.py
Labels: test, keras
