Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2022-06, with the labels that each got.

#267 Fix tests imports after TPC versioning
  tests/keras_tests/feature_networks_tests/test_networks_runner.py
  tests/keras_tests/function_tests/test_kl_error_quantization_configurations.py
  tests/keras_tests/function_tests/test_kpi_data.py
Labels: size/s

#263 Modified per-layer distance function for MP distance metric
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation_manager.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/pytorch/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: common, keras, pytorch, size/m

#270 Fixed minor bugs in MP metric calculation
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation_manager.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
Labels: common, keras, pytorch, size/s

#271 Mha sub update
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/multi_head_attention_decomposition.py
Labels: keras, size/m

#269 Pytorch remove asserts from graph
  model_compression_toolkit/core/pytorch/reader/reader.py
  tests/pytorch_tests/model_tests/feature_models/remove_assert_test.py
  tests/pytorch_tests/model_tests/feature_models/remove_broken_node_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: size/m

#268 Mixed-precision Sensitivity Evaluation Refactor
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation_manager.py
  model_compression_toolkit/core/common/post_training_quantization.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/mixed_precision/set_layer_to_bitwidth.py
  model_compression_toolkit/core/pytorch/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/pytorch/mixed_precision/set_layer_to_bitwidth.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_lp_search_bitwidth.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: common, keras, pytorch, size/xl

#272 refactor power of two quantization selection
  model_compression_toolkit/core/common/__init__.py
  model_compression_toolkit/core/common/network_editors/actions.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/__init__.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/lp_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/mae_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/mse_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/no_clipping.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/power_of_two_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_search.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/symmetric_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/uniform_selection.py
  model_compression_toolkit/core/common/quantization/quantizers/quantizers_helpers.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  tests/common_tests/function_tests/test_threshold_selection.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
Labels: common, size/xl

#274 refactor GPTQ
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/common/post_training_quantization.py
  model_compression_toolkit/core/keras/back2framework/model_builder.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/core/keras/quantizer/gradient_ptq/__init__.py
  model_compression_toolkit/core/pytorch/back2framework/model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/common/__init__.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_graph.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_loss.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/graph_info.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/__init__.py
  model_compression_toolkit/gptq/keras/quantizer/base_quantizer_gptq_config.py
  model_compression_toolkit/gptq/keras/quantizer/config_factory.py
  model_compression_toolkit/gptq/keras/quantizer/utils.py
  model_compression_toolkit/gptq/keras/quantizer/weight_quantizer.py
  model_compression_toolkit/gptq/keras/quantizer/weight_quantizer_gptq_config.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_networks_runner.py
Labels: common, keras, pytorch, size/m

#275 Fix pytorch builder for getattr and add unbind to non-quant list
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  model_compression_toolkit/core/tpc_models/default_tpc/v3/tpc_pytorch.py
Labels: size/xs

#276 Set out channel axis per layer
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/core/common/collectors/statistics_collector.py
  model_compression_toolkit/core/common/collectors/statistics_collector_generator.py
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/quantization/quantization_analyzer.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/keras_model_validation.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/common_tests/function_tests/test_collectors_manipulation.py
Labels: common, keras, pytorch, size/m

#278 Pytorch Permute substitution
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/permute_call_method.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/permute_substitution_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: pytorch, size/m

#280 Validation before bias correction
  model_compression_toolkit/core/common/bias_correction/compute_bias_correction_of_graph.py
Labels: size/s

#279 Separate GPTQ from model builder
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/model_builder_mode.py
  model_compression_toolkit/core/keras/back2framework/model_builder.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/core/pytorch/back2framework/model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/model_builder.py
Labels: common, keras, pytorch, size/m

#281 Gradient-based weights for distance metric weighted average computation
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_model_gradients.py
Labels: common, keras, pytorch, size/l
