Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-10, with the labels that each got.

#823 Hessian refactor
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/__init__.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_info_utils.py
  model_compression_toolkit/core/common/hessian/trace_hessian_calculator.py
  model_compression_toolkit/core/common/hessian/trace_hessian_request.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/keras/hessian/__init__.py
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/hessian/__init__.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/pytorch_model_gradients.py
  model_compression_toolkit/core/pytorch/hessian/trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/weights_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/legacy/keras_quantization_facade.py
  model_compression_toolkit/legacy/pytorch_quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_model_gradients.py
  tests/keras_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/keras_tests/function_tests/test_tensorboard_writer.py
  tests/pytorch_tests/function_tests/model_gradients_test.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/pytorch_tests/model_tests/feature_models/old_api_test.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
  tests/test_suite.py
Labels: common, test, keras, pytorch

#829 Fix hessian refactor issues
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/trace_hessian_calculator.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/gptq/common/gptq_training.py
Labels: common, keras, pytorch

#830 Move sampling a 1-batch to hessian info service
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
Labels: common, keras, pytorch

#826 Add DepthwiseConv2D to Conv2D substitution
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/dwconv_to_conv.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/bias_correction_dw_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_folding_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/decompose_separable_conv_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/layer_tests/test_layers_runner.py
Labels: keras

#833 Hessian-based scores w.r.t weights (Keras)
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/trace_hessian_calculator.py
  model_compression_toolkit/core/common/hessian/trace_hessian_request.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/separableconv_decomposition.py
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/trace_hessian_calculator_pytorch.py
  tests/keras_tests/function_tests/test_gptq_soft_quantizer.py
  tests/keras_tests/function_tests/test_graph_max_cut.py
  tests/keras_tests/function_tests/test_hessian_info_calculator_weights.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_model_gradients.py
  tests/keras_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/test_suite.py
Labels: test

#844 Fix nms layer in mixed precision
  .github/workflows/run_keras_sony_custom_layers.yml
  .github/workflows/run_keras_tests.yml
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  tests/keras_tests/custom_layers_tests/__init__.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/bias_correction_dw_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_sensitivity_eval_output_replacement.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/layer_tests/test_layers_runner.py
  tests/test_suite.py
Labels: test

#842 Adding pull request template to MCT repo.
  .github/pull_request_template.md
Labels: pr: minor feature

#849 Fix labeler paths and labels
  .github/labeler.yml
Labels: pr: minor feature

#837 Add testing using TF2.14
  .github/workflows/run_tests_python310_keras214.yml
  .github/workflows/run_tests_python311_keras212.yml
  .github/workflows/run_tests_python311_keras213.yml
  .github/workflows/run_tests_python311_keras214.yml
  .github/workflows/run_tests_python39_keras214.yml
  README.md
Labels: pr: minor feature

#845 Refactor effdet notebook
  tutorials/notebooks/example_keras_effdet_lite0.ipynb
  tutorials/resources/efficientdet/__init__.py
  tutorials/resources/efficientdet/effdet_keras.py
  tutorials/resources/efficientdet/effnet_blocks_keras.py
  tutorials/resources/efficientdet/effnet_keras.py
  tutorials/resources/utils/torch2keras_weights_translation.py
Labels: pr: refactoring/code cleanup, auto:tutorials
