Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-01, with the labels that each got.

#502 Add activation quantizers for QAT
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/keras/back2framework/instance_builder.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/quantizer/input_layer_quantize_transform.py
  model_compression_toolkit/qat/keras/qat_model_builder.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantizer/quantization_dispatcher_builder.py
  model_compression_toolkit/qat/keras/quantizer/ste_rounding/symmetric_ste.py
  model_compression_toolkit/qunatizers_infrastructure/common/base_quantizer.py
  model_compression_toolkit/qunatizers_infrastructure/common/node_quantization_dispatcher.py
  model_compression_toolkit/qunatizers_infrastructure/keras/config_serialization.py
  model_compression_toolkit/qunatizers_infrastructure/keras/keras_node_quantization_dispatcher.py
  model_compression_toolkit/qunatizers_infrastructure/keras/quantize_wrapper.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/tpc_keras.py
Labels: common

#503 Add tolerance to Jacobian approximation computation
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
Labels: common

#507 Reorder tests dir
  tests/keras_tests/function_tests/__init__.py
  tests/keras_tests/function_tests/test_doc_examples.py
  tests/keras_tests/function_tests/test_fully_quantized_exporter.py
  tests/keras_tests/function_tests/test_keras_tp_model.py
  tests/keras_tests/graph_tests/__init__.py
  tests/pytorch_tests/function_tests/test_doc_examples.py
  tests/pytorch_tests/function_tests/test_fully_quantized_exporter.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/test_suite.py
Labels: test

#513 Add quantizers infrastructure tests
  model_compression_toolkit/core/common/quantization/quantizers/quantizers_helpers.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantizer/ste_rounding/symmetric_ste.py
  model_compression_toolkit/qat/pytorch/quantizer/ste_rounding/uniform_ste.py
  model_compression_toolkit/quantizers_infrastructure/__init__.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/quantize_wrapper.py
  tests/common_tests/function_tests/test_threshold_selection.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/quantizers_infrastructure_tests/__init__.py
  tests/quantizers_infrastructure_tests/pytorch_tests/__init__.py
  tests/quantizers_infrastructure_tests/pytorch_tests/base_pytorch_infrastructure_test.py
  tests/quantizers_infrastructure_tests/pytorch_tests/test_pytorch_base_quantizer.py
  tests/quantizers_infrastructure_tests/pytorch_tests/test_pytorch_node_quantization_dispatcher.py
  tests/quantizers_infrastructure_tests/pytorch_tests/test_pytorch_quantization_infrastructure_runner.py
  tests/quantizers_infrastructure_tests/pytorch_tests/test_pytorch_quantization_wrapper.py
  tests/test_suite.py
  tutorials/example_pytorch_qat.py
Labels: test

#523 PyTorch Inferable quantizers
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_torchscript_pytorch_exporter.py
  model_compression_toolkit/exporter/model_wrapper/__init__.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/node_to_dispatcher.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/node_to_quantize_config.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/node_to_quantizer.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/quantizers/fq_quantizer.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/quantizers/uniform_weights_quantizer.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/wrappers_quantize_configs/activation_quantize_config.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/wrappers_quantize_configs/no_quantization_quantize_config.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/wrappers_quantize_configs/weights_activation_quantize_config.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/wrappers_quantize_configs/weights_quantize_config.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/quantizers_infrastructure/__init__.py
  model_compression_toolkit/quantizers_infrastructure/keras/inferable_quantizers/__init__.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/__init__.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/activation_inferable_quantizers/__init__.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/activation_inferable_quantizers/activation_pot_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/activation_inferable_quantizers/activation_symmetric_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/activation_inferable_quantizers/activation_uniform_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/base_pytorch_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/base_symmetric_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/base_uniform_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/constants.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/weights_inferable_quantizers/__init__.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/weights_inferable_quantizers/weights_pot_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/weights_inferable_quantizers/weights_symmetric_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/inferable_quantizers/weights_inferable_quantizers/weights_uniform_inferable_quantizer.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/pytorch_node_quantization_dispatcher.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/quantize_wrapper.py
  model_compression_toolkit/quantizers_infrastructure/pytorch/quantizer_utils.py
  tests/pytorch_tests/function_tests/test_export_pytorch_fully_quantized_model.py
  tests/pytorch_tests/function_tests/test_fully_quantized_exporter.py
  tests/pytorch_tests/tpc_pytorch.py
Labels: common

#527 Keras infrastructure tests
  model_compression_toolkit/quantizers_infrastructure/keras/quantize_wrapper.py
  tests/quantizers_infrastructure_tests/keras_tests/__init__.py
  tests/quantizers_infrastructure_tests/keras_tests/base_keras_infrastructure_test.py
  tests/quantizers_infrastructure_tests/keras_tests/test_keras_base_quantizer.py
  tests/quantizers_infrastructure_tests/keras_tests/test_keras_node_quantization_dispatcher.py
  tests/quantizers_infrastructure_tests/keras_tests/test_keras_quantization_infrastructure_runner.py
  tests/quantizers_infrastructure_tests/keras_tests/test_keras_quantization_wrapper.py
  tests/test_suite.py
Labels: test

#532 Add IMX500 tpc model
  docsrc/source/api/experimental_api_docs/modules/target_platform.rst
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/tpc_models/README.md
  model_compression_toolkit/core/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/__init__.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/v1/__init__.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/v1/tp_model.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/v1/tpc_keras.py
  model_compression_toolkit/core/tpc_models/imx500_tpc/v1/tpc_pytorch.py
  tests/keras_tests/function_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
Labels: keras, pytorch

#548 Remove Gumbel Rounding from GPTQ
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/common/constants.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/graph_info.py
  model_compression_toolkit/gptq/keras/optimizers/__init__.py
  model_compression_toolkit/gptq/keras/optimizers/sam_optimizer.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/configs/weight_quantizer_gptq_config.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/__init__.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/base_gumbel_rounding.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/gumbel_softmax.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/symmetric_gumbel.py
  model_compression_toolkit/gptq/keras/quantizer/gumbel_rounding/uniform_gumbel.py
  model_compression_toolkit/gptq/pytorch/gptq_graph_info.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantizer/gumbel_rounding/__init__.py
  model_compression_toolkit/gptq/pytorch/quantizer/gumbel_rounding/base_gumbel_weights_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantizer/gumbel_rounding/sym_gumbel_weights_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantizer/gumbel_rounding/uniform_gumbel_weights_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantizer/quant_utils.py
  model_compression_toolkit/gptq/pytorch/quantizer/quantizer_wrapper.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/test_suite.py
Labels: common, test
