Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-11, with the labels that each got.

#852 Add progress bar and logger info to quantiation params search
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
Labels: pr: minor feature, auto:core

#851 Add missing simd param in qat tutorials
  tutorials/notebooks/example_keras_qat.ipynb
  tutorials/notebooks/example_keras_qat.py
  tutorials/notebooks/example_pytorch_qat.py
Labels: pr: bug fix, auto:tutorials

#853 Hessian scores variables and methods names modification
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/hessian/hessian_info_utils.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/weights_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/gptq/__init__.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tutorials/notebooks/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/example_pytorch_mobilenet_mixed_precision.py
  tutorials/notebooks/example_pytorch_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/example_pytorch_mobilenetv2_cifar100_mixed_precision.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:tutorials, auto:core, auto:gptq

#854 Support PyTorch 2.1 and add PyTorch tests for python 3.11
  .github/workflows/run_tests_python310_pytorch21.yml
  .github/workflows/run_tests_python311_pytorch20.yml
  .github/workflows/run_tests_python311_pytorch21.yml
  .github/workflows/run_tests_python38_pytorch20.yml
  .github/workflows/run_tests_python39_pytorch21.yml
  README.md
  tests/pytorch_tests/function_tests/test_fully_quantized_exporter.py
Labels: auto:tests, pytorch, pr: minor feature

#859 Add torch.argmax to IMX500 TPCs
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tpc_pytorch.py
Labels: pytorch, pr: minor feature, auto:target_platform_capabilities

#861 Fix issue #841: fix MCT so quantized models work with torch.save
  model_compression_toolkit/core/common/defaultdict.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/gptq/keras/quantizer/ste_rounding/symmetric_ste.py
  model_compression_toolkit/gptq/pytorch/quantizer/ste_rounding/symmetric_ste.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
Labels: auto:tests, pr: bug fix, auto:core, auto:gptq

#862 Fix interest points list in MP to exclude outputs
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
Labels: auto:core

#863 Refactor activation Hessian computation using model builder
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/pytorch_model_gradients.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core

#866 Setting use_onnx_custom_quantizer_ops to true in tutorials pytorch ONNX export
  tutorials/quick_start/pytorch_fw/quant.py
Labels: pr: minor feature

#867 Fix bug in pytorch reshape substitute
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/reshape_with_static_shapes.py
  tests/pytorch_tests/model_tests/feature_models/dynamic_size_inputs_test.py
Labels: auto:tests, pr: bug fix, auto:core

#864 Exclude combined_non_maximum_supression from Hessian compatible nodes
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
Labels: auto:tests, pr: minor feature, auto:core

#865 Use context manager to avoid permission error on Windows
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_tflite_exporter.py
Labels: pr: bug fix, auto:exporter

#870 Remove constant multiplication factor from activation Hessian computation
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
Labels: pr: refactoring/code cleanup, auto:core

#872 Extract quantization preparation steps from core runner
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/core/runner.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core
