Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-03, with the labels that each got.

#595 Change PyTorch reshape and view operators batch size value
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/reshape_with_static_shapes.py
  tests/pytorch_tests/model_tests/feature_models/dynamic_size_inputs_test.py
Labels: pytorch

#597 add shutdown to logger
  model_compression_toolkit/core/common/logger.py
  tests/pytorch_tests/function_tests/test_tensorboard_writer.py
Labels: common

#600 Rearrange GPTQ API
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/keras/quantization_facade.py
  model_compression_toolkit/gptq/__init__.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/quantization_builder.py
  model_compression_toolkit/gptq/keras/quantizer/soft_rounding/symmetric_soft_quantizer.py
  model_compression_toolkit/gptq/keras/quantizer/ste_rounding/symmetric_ste.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/quantization_builder.py
  model_compression_toolkit/quantizers_infrastructure/trainable_infrastructure/common/get_quantizers.py
  tests/keras_tests/feature_networks_tests/base_keras_feature_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/models_tests/test_networks_runner.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/feature_models/old_api_test.py
  tutorials/example_keras_mobilenet_gptq.py
  tutorials/example_keras_mobilenet_gptq_mixed_precision.py
Labels: keras

#619 Fix bug with parameters learning in GPTQ soft quantizers
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/keras/quantizer/soft_rounding/symmetric_soft_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantizer/soft_rounding/symmetric_soft_quantizer.py
  tests/keras_tests/function_tests/test_gptq_soft_quantizer.py
  tests/pytorch_tests/function_tests/test_gptq_soft_quantizer.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/test_suite.py
Labels: test

#622 Fix model gradients tolerance computation and Pytorch issue
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/pytorch/back2framework/model_gradients.py
  tests/test_suite.py
Labels: test
