Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-07, with the labels that each got.

#732 Fix BOPs computation for MP BOPs KPI
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
Labels: keras, pytorch

#733 Remove all tensorflow-model-optimization dependencies
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_tests_suite_python310.yml
  .github/workflows/run_tests_suite_python37.yml
  .github/workflows/run_tests_suite_python38.yml
  .github/workflows/run_tests_suite_python39.yml
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/keras/kpi_data_facade.py
  model_compression_toolkit/core/keras/quantizer/base_quantizer.py
  model_compression_toolkit/exporter/model_exporter/keras/keras_export_facade.py
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/keras/validate_layer.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/base_keras_gptq_quantizer.py
  model_compression_toolkit/legacy/keras_quantization_facade.py
  model_compression_toolkit/legacy/pytorch_quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantizer/base_keras_qat_quantizer.py
  model_compression_toolkit/trainable_infrastructure/keras/base_keras_quantizer.py
  model_compression_toolkit/trainable_infrastructure/keras/load_model.py
  tests/test_suite.py
  tests/trainable_infrastructure_tests/keras/base_keras_trainable_infra_test.py
Labels: test, keras

#748 Raise error when a Keras model has a custom layer
  model_compression_toolkit/core/keras/custom_layer_validation.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  tests/keras_tests/function_tests/test_unsupported_custom_layer.py
Labels: keras
