Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-08, with the labels that each got.

#753 Fix issues with softmax layer in mixed precision distance metric computation
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: common, keras, pytorch

#765 support tf2.13
  .github/workflows/run_tests_tf213.yml
  README.md
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/keras/back2framework/model_gradients.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/multi_head_attention_decomposition.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/keras_node_prior_info.py
  model_compression_toolkit/core/keras/reader/common.py
  model_compression_toolkit/core/keras/reader/connectivity_handler.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_keras_exporter.py
  model_compression_toolkit/exporter/model_wrapper/keras/validate_layer.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v2/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v3/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v3_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v4_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/default_tpc/v5/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tpc_keras.py
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/conv2d_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/conv2dtranspose_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/dense_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/dwconv2d_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/multiple_inputs_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/no_quant_test.py
  tests/keras_tests/exporter_tests/keras_fake_quant/networks/tfoplambda_test.py
  tests/keras_tests/exporter_tests/tflite_int8/imx500_int8_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/experimental_exporter_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/multiple_output_nodes_multiple_tensors_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_inputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_unused_inputs_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/change_qc_attr_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_error_method_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/slicing_op_lambda_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/split_concatenate_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/symmetric_threshold_selection_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/uniform_range_selection_activation_test.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_exporting_qat_models.py
  tests/keras_tests/function_tests/test_keras_tp_model.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/tpc_keras.py
  tests/pytorch_tests/exporter_tests/__init__.py
  tests/test_suite.py
Labels: test, keras

#779 Fix missing prior info for new nodes in SNC
  model_compression_toolkit/core/common/node_prior_info.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
Labels: common
