Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2023-12, with the labels that each got.

#876 Move TensorboardWriter function from core runner
  model_compression_toolkit/core/common/visualization/tensorboard_writer.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/legacy/keras_quantization_facade.py
  model_compression_toolkit/legacy/pytorch_quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core, auto:gptq, auto:legacy, auto:ptq, auto:qat

#874 Fix KL-Divergence similarity function calculation
  model_compression_toolkit/core/common/similarity_analyzer.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: auto:tests, pr: bug fix, auto:core

#878 Add Op2d->add_const collapse substitution
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/substitutions/batchnorm_folding.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_refusing.py
  model_compression_toolkit/core/common/substitutions/linear_collapsing.py
  model_compression_toolkit/core/common/substitutions/linear_collapsing_substitution.py
  model_compression_toolkit/core/common/substitutions/residual_collapsing.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/linear_collapsing.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/linear_collapsing_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, keras, pr: minor feature, auto:core

#880 Add TF matmul with const to Dense layer substitution
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/matmul_substitution.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_folding_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/matmul_substitution_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, keras, pr: minor feature, auto:core

#873 torch.Tensor -> torch.tensor
  model_compression_toolkit/core/pytorch/back2framework/instance_builder.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  tests/pytorch_tests/model_tests/feature_models/scalar_tensor_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: bug fix, auto:core

#882 Adapt exporter readme to API changes
  model_compression_toolkit/exporter/README.md
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#883 Remove the max value prior in keras ReLUs
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/keras_node_prior_info.py
Labels: keras, auto:core

#884 Fix activation in matmul sub
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/activation_decomposition.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/matmul_substitution.py
Labels: keras, pr: bug fix, auto:core

#868 Adding functional batch_norm to BatchNorm2d substitution
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_batch_norm.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#888 Update the relevant notebook with a notation to use the latest MCT
  tutorials/notebooks/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/example_keras_nanodet_plus.ipynb
  tutorials/notebooks/example_keras_yolov8n.ipynb
Labels: pr: minor feature, auto:tutorials

#890 Set default distance function for softmax node in MP to be MSE if axis is not specified
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: auto:tests, pr: bug fix, auto:core

#892 Fix GPTQHessianScoresConfig usage in docsrc
  docsrc/source/api/experimental_api_docs/classes/GradientPTQConfig.rst
Labels: auto:docsrc

#893 fix Keras QAT notebook
  tutorials/notebooks/example_keras_qat.ipynb
Labels: auto:tutorials

#894 Create Softmax layer in activation decomposition instead of Activation layer
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/activation_decomposition.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_decomposition_test.py
Labels: auto:tests, auto:core

#897 Extend gptq get config API to enable external regularization factor argument
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
Labels: auto:tests, auto:gptq

#871 Keras structured SIMD pruning
  .github/workflows/run_keras_tests.yml
  README.md
  docsrc/source/api/experimental_api_docs/index.rst
  docsrc/source/api/experimental_api_docs/methods/keras_pruning_experimental.rst
  docsrc/source/index.rst
  model_compression_toolkit/__init__.py
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/pruning/__init__.py
  model_compression_toolkit/core/common/pruning/channels_grouping.py
  model_compression_toolkit/core/common/pruning/greedy_mask_calculator.py
  model_compression_toolkit/core/common/pruning/importance_metrics/__init__.py
  model_compression_toolkit/core/common/pruning/importance_metrics/base_importance_metric.py
  model_compression_toolkit/core/common/pruning/importance_metrics/importance_metric_factory.py
  model_compression_toolkit/core/common/pruning/importance_metrics/lfh_importance_metric.py
  model_compression_toolkit/core/common/pruning/mask/__init__.py
  model_compression_toolkit/core/common/pruning/mask/per_channel_mask.py
  model_compression_toolkit/core/common/pruning/mask/per_simd_group_mask.py
  model_compression_toolkit/core/common/pruning/memory_calculator.py
  model_compression_toolkit/core/common/pruning/prune_graph.py
  model_compression_toolkit/core/common/pruning/pruner.py
  model_compression_toolkit/core/common/pruning/pruning_config.py
  model_compression_toolkit/core/common/pruning/pruning_framework_implementation.py
  model_compression_toolkit/core/common/pruning/pruning_info.py
  model_compression_toolkit/core/common/pruning/pruning_section.py
  model_compression_toolkit/core/keras/pruning/__init__.py
  model_compression_toolkit/core/keras/pruning/pruning_keras_implementation.py
  model_compression_toolkit/pruning/__init__.py
  model_compression_toolkit/pruning/keras/__init__.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/target_platform/target_platform_model.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tp_model.py
  tests/keras_tests/pruning_tests/__init__.py
  tests/keras_tests/pruning_tests/feature_networks/__init__.py
  tests/keras_tests/pruning_tests/feature_networks/constant_importance_metric.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/__init__.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2d_conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2d_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2dtranspose_conv2d_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/dense_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/pruning_keras_feature_test.py
  tests/keras_tests/pruning_tests/feature_networks/test_pruning_feature_networks.py
  tests/keras_tests/pruning_tests/random_importance_metric.py
  tests/keras_tests/pruning_tests/test_memory_calculator.py
  tests/keras_tests/pruning_tests/test_pretrained_models.py
  tests/keras_tests/pruning_tests/test_pruning_info.py
  tests/test_suite.py
  tutorials/notebooks/example_keras_pruning.py
  tutorials/notebooks/example_keras_pruning_mnist.ipynb
Labels: auto:tests, auto:docsrc, pr: major feature, auto:tutorials, auto:core, auto:target_platform_capabilities

#895 Update the relevant notebook with a stand alone dataset download
  tutorials/notebooks/example_keras_imagenet.ipynb
Labels: pr: minor feature, auto:tutorials

#902 fix LSQ weights quantizer keras for dw-conv
  model_compression_toolkit/qat/keras/quantizer/lsq/symmetric_lsq.py
  model_compression_toolkit/qat/keras/quantizer/lsq/uniform_lsq.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, pr: bug fix, auto:qat

#901 Add notebooks for Keras Mixed-Precision and GPTQ
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
Labels: auto:tutorials

#903 fix notebooks colab link
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
Labels: auto:tutorials

#904 Warn batch_size==1 in MCT rep-dataset
  model_compression_toolkit/core/runner.py
Labels: auto:core

#899 Add verbose flag to FakelyQuantKerasExporter to avoid confusion in tflite export
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_keras_exporter.py
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_tflite_exporter.py
Labels: auto:exporter

#906 Add comment to pruning notebook
  tutorials/notebooks/example_keras_pruning_mnist.ipynb
Labels: auto:tutorials

#891 Modifications to "get_working_device" function in Pytorch. Added the capability to set a Pytorch device using the "set_device" function
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/pytorch_device_config.py
  model_compression_toolkit/core/pytorch/utils.py
  model_compression_toolkit/data_generation/pytorch/model_info_exctractors.py
  model_compression_toolkit/data_generation/pytorch/optimization_functions/output_loss_functions.py
  model_compression_toolkit/data_generation/pytorch/optimization_utils.py
  model_compression_toolkit/data_generation/pytorch/pytorch_data_generation.py
  tests/pytorch_tests/exporter_tests/base_pytorch_export_test.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/function_tests/set_device_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/model_tests/feature_models/bn_function_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
Labels: auto:tests, auto:core, auto:data_generation

#907 Fix BN folding for PyTorch ConvTranspose2d with groups>1
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/batchnorm_folding.py
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: bug, auto:tests, pytorch, auto:core
