Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-05, with the labels that each got.

#1049 Add MobileViT-XS to MCT-model garden
  tutorials/mct_model_garden/models_pytorch/mobilevit_xs/__init__.py
  tutorials/mct_model_garden/models_pytorch/mobilevit_xs/mobilevit_xs.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/pytorch/ptq/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/notebooks/pytorch/ptq/pytorch_yolov8n_for_imx500.ipynb
  tutorials/quick_start/pytorch_fw/utils.py
Labels: auto:tutorials

#1052 Add a flag to indicate whether to run mixed precision according to resource utilization provided by user.
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/runner.py
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/__init__.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/requires_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/tpc_pytorch.py
Labels: auto:tests, auto:core

#1054 removing quickstart project from mct
  README.md
  model_compression_toolkit/gptq/README.md
  tutorials/notebooks/IMX500_notebooks.md
  tutorials/notebooks/MCT_notebooks.md
  tutorials/notebooks/pytorch/example_quick_start_torchvision.ipynb
  tutorials/quick_start/README.md
  tutorials/quick_start/__init__.py
  tutorials/quick_start/common/__init__.py
  tutorials/quick_start/common/constants.py
  tutorials/quick_start/common/library_mapping.py
  tutorials/quick_start/common/model_lib.py
  tutorials/quick_start/common/results.py
  tutorials/quick_start/common/tpc_info.py
  tutorials/quick_start/common/utils.py
  tutorials/quick_start/keras_fw/__init__.py
  tutorials/quick_start/keras_fw/keras_applications/LICENSE
  tutorials/quick_start/keras_fw/keras_applications/__init__.py
  tutorials/quick_start/keras_fw/keras_applications/model_lib.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/keras_fw/utils.py
  tutorials/quick_start/main.py
  tutorials/quick_start/pytorch_fw/__init__.py
  tutorials/quick_start/pytorch_fw/quant.py
  tutorials/quick_start/pytorch_fw/timm_lib/LICENSE
  tutorials/quick_start/pytorch_fw/timm_lib/__init__.py
  tutorials/quick_start/pytorch_fw/timm_lib/model_lib.py
  tutorials/quick_start/pytorch_fw/torchvision_lib/LICENSE
  tutorials/quick_start/pytorch_fw/torchvision_lib/__init__.py
  tutorials/quick_start/pytorch_fw/torchvision_lib/model_lib.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/LICENSE
  tutorials/quick_start/pytorch_fw/ultralytics_lib/README.md
  tutorials/quick_start/pytorch_fw/ultralytics_lib/__init__.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/common_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/detect_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/pose_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/replace_module.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/segment_replacers.py
  tutorials/quick_start/pytorch_fw/utils.py
  tutorials/quick_start/results/model_quantization_results.csv
Labels: auto:tutorials, auto:gptq

#1060 Fix issue 1058
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  model_compression_toolkit/exporter/model_exporter/pytorch/pytorch_export_facade.py
  tests/pytorch_tests/exporter_tests/base_pytorch_export_test.py
  tests/pytorch_tests/exporter_tests/base_pytorch_onnx_export_test.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
Labels: auto:tests, auto:exporter

#1062 Reorganized tutorials, split to IMX500 and MCT Features folders
  README.md
  docsrc/source/index.rst
  model_compression_toolkit/data_generation/README.md
  model_compression_toolkit/exporter/README.md
  tutorials/README.md
  tutorials/notebooks/imx500_notebooks/README.md
  tutorials/notebooks/imx500_notebooks/__init__.py
  tutorials/notebooks/imx500_notebooks/keras/__init__.py
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_nanodet_plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/__init__.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
  tutorials/notebooks/keras/__init__.py
  tutorials/notebooks/keras/data_generation/__init__.py
  tutorials/notebooks/keras/debug_tools/__init__.py
  tutorials/notebooks/keras/export/__init__.py
  tutorials/notebooks/keras/gptq/__init__.py
  tutorials/notebooks/keras/pruning/__init__.py
  tutorials/notebooks/keras/ptq/__init__.py
  tutorials/notebooks/keras/qat/__init__.py
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/__init__.py
  tutorials/notebooks/mct_features_notebooks/keras/__init__.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_export.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_network_editor.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_yolov8n.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/__init__.py
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_export.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ptq_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ssdlite_mobilenetv3_object_detection.ipynb
  tutorials/notebooks/pytorch/__init__.py
  tutorials/notebooks/pytorch/data_generation/__init__.py
  tutorials/notebooks/pytorch/export/__init__.py
  tutorials/notebooks/pytorch/ptq/__init__.py
  tutorials/notebooks/pytorch/qat/__init__.py
Labels: auto:docsrc, auto:tutorials, auto:exporter, auto:data_generation

#1063 Align CombinedNonMaxSuppression output shapes in tensorboard writer
  model_compression_toolkit/core/common/visualization/tensorboard_writer.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
Labels: auto:tests, auto:core

#1064 Fix torchvision import
  .github/workflows/nightly.yml
  model_compression_toolkit/constants.py
  model_compression_toolkit/data_generation/__init__.py
  model_compression_toolkit/data_generation/pytorch/pytorch_data_generation.py
Labels: auto:data_generation

#1065 remove const quantization from TPCv2
  FAQ.md
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  quantization_troubleshooting.md
  tests/doc_tests/test_docs_links.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_nanodet_plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_export.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_network_editor.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_yolov8n.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_export.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ptq_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ssdlite_mobilenetv3_object_detection.ipynb
Labels: auto:tests, keras, pytorch, auto:tutorials, auto:target_platform_capabilities

#1066 Fix link to colab for yolov8 features tutorial
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_yolov8n.ipynb
Labels: auto:tutorials

#1068 Update the imx500 notebooks to install mct unless it's already installed
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_nanodet_plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1069 Fix broken link in README
  tutorials/notebooks/imx500_notebooks/README.md
Labels: auto:tutorials

#1074 Fix automatic conversion of constants to float32 and add support for index constant representation
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/utils.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/pruning_tests/test_pretrained_models.py
Labels: auto:tests, auto:core

#1076 Enable constant values as inputs to linear layers in PyTorch
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_methods.py
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/core/common/substitutions/residual_collapsing.py
  model_compression_toolkit/core/pytorch/back2framework/instance_builder.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1077 Update imx500 notebooks for ci testing
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
  tutorials/resources/utils/pytorch_tutorial_tools.py
Labels: auto:tutorials

#1081 Fix PyPI links
  README.md
Labels: pr: bug fix

#1080 Fix support const as input to linear layers in pytorch
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1082 Use normalize MSE in mixed precision sensitivity evaluation
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
Labels: auto:tests, pr: bug fix, auto:core

#1085 Release 2.1.0 + docs
  docs/.buildinfo
  docs/_sources/index.rst.txt
  docs/api/api_docs/classes/DataGenerationConfig.html
  docs/api/api_docs/classes/DefaultDict.html
  docs/api/api_docs/classes/FrameworkInfo.html
  docs/api/api_docs/classes/GradientPTQConfig.html
  docs/api/api_docs/classes/MixedPrecisionQuantizationConfig.html
  docs/api/api_docs/classes/MpDistanceWeighting.html
  docs/api/api_docs/classes/PruningConfig.html
  docs/api/api_docs/classes/PruningInfo.html
  docs/api/api_docs/classes/QuantizationConfig.html
  docs/api/api_docs/classes/QuantizationErrorMethod.html
  docs/api/api_docs/classes/ResourceUtilization.html
  docs/api/api_docs/index.html
  docs/api/api_docs/methods/get_keras_data_generation_config.html
  docs/api/api_docs/methods/get_keras_gptq_config.html
  docs/api/api_docs/methods/get_pytorch_data_generation_config.html
  docs/api/api_docs/methods/get_pytroch_gptq_config.html
  docs/api/api_docs/methods/get_target_platform_capabilities.html
  docs/api/api_docs/methods/keras_data_generation_experimental.html
  docs/api/api_docs/methods/keras_gradient_post_training_quantization.html
  docs/api/api_docs/methods/keras_kpi_data.html
  docs/api/api_docs/methods/keras_load_quantizad_model.html
  docs/api/api_docs/methods/keras_post_training_quantization.html
  docs/api/api_docs/methods/keras_pruning_experimental.html
  docs/api/api_docs/methods/keras_quantization_aware_training_finalize_experimental.html
  docs/api/api_docs/methods/keras_quantization_aware_training_init_experimental.html
  docs/api/api_docs/methods/pytorch_data_generation_experimental.html
  docs/api/api_docs/methods/pytorch_gradient_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_kpi_data.html
  docs/api/api_docs/methods/pytorch_post_training_quantization.html
  docs/api/api_docs/methods/pytorch_pruning_experimental.html
  docs/api/api_docs/methods/pytorch_quantization_aware_training_finalize_experimental.html
  docs/api/api_docs/methods/pytorch_quantization_aware_training_init_experimental.html
  docs/api/api_docs/methods/set_logger_path.html
  docs/api/api_docs/modules/core_config.html
  docs/api/api_docs/modules/debug_config.html
  docs/api/api_docs/modules/exporter.html
  docs/api/api_docs/modules/layer_filters.html
  docs/api/api_docs/modules/network_editor.html
  docs/api/api_docs/modules/qat_config.html
  docs/api/api_docs/modules/target_platform.html
  docs/api/api_docs/modules/trainable_infrastructure.html
  docs/api/api_docs/notes/tpc_note.html
  docs/genindex.html
  docs/guidelines/visualization.html
  docs/index.html
  docs/search.html
  docs/searchindex.js
  docs/static/bizstyle.js
  docs/static/documentation_options.js
  model_compression_toolkit/__init__.py
Labels: auto:docs

#1087 Refactor TPC factory
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/target_platform_capabilities.py
  tests/keras_tests/feature_networks_tests/feature_networks/tpc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/tpc_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:target_platform_capabilities

#1088 Refactor QuantizationConfigOptions
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/common_tests/test_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/bias_correction_dw_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:target_platform_capabilities

#1089 Effdet notebook fix
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
Labels: auto:tutorials
