Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-02, with the labels that each got.

#932 Add constant weight representation in Keras & PyTorch
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/linear_collapsing.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/matmul_substitution.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/core/keras/tf_tensor_numpy.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/const_holder_conv.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_batch_norm.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_layer_norm.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  model_compression_toolkit/core/pytorch/reader/node_holders.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_representation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_unsupported_custom_layer.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
  tests/pytorch_tests/model_tests/feature_models/bn_function_test.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/feature_models/layer_norm_net_test.py
  tests/pytorch_tests/model_tests/feature_models/linear_collapsing_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, keras, pytorch, pr: bug fix, auto:core, auto:ptq

#940 Add 'torch.squeeze' to list of NoQuantization operations in pytorch TPC
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tpc_pytorch.py
Labels: pr: bug fix, auto:target_platform_capabilities

#941 support and test scalars in const representation
  model_compression_toolkit/core/pytorch/utils.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: bug, auto:tests, pytorch, pr: bug fix, auto:core

#930 Pose estimation
  tutorials/quick_start/README.md
  tutorials/quick_start/common/constants.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/README.md
  tutorials/quick_start/pytorch_fw/ultralytics_lib/common_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/detect_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/pose_replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/replace_module.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/replacers.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/segment_replacers.py
Labels: auto:tutorials

#943 Minor update to quickstart documentation
  tutorials/quick_start/README.md
  tutorials/quick_start/results/model_quantization_results.csv
Labels: pr: documentation update, auto:tutorials

#945 Refactor CandidateNodeQuantizationConfig init parameters
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
Labels: pr: refactoring/code cleanup, auto:core

#946 Fix QAT keras tutorial
  tutorials/notebooks/README.md
  tutorials/notebooks/keras/qat/example_keras_qat.ipynb
  tutorials/notebooks/keras/qat/example_keras_qat.py
Labels: auto:tutorials

#947 Handle inputs order with constant scalars in PyTorch
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/reshape_with_static_shapes.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
Labels: auto:tests, pytorch, pr: bug fix, auto:core

#951 Staticstic Collector refactor
  model_compression_toolkit/core/common/collectors/histogram_collector.py
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/statistics_collector.py
  model_compression_toolkit/core/common/collectors/statistics_collector_generator.py
  model_compression_toolkit/core/common/data_loader.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/common/quantization/quantization_analyzer.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core

#957 replace inspect with tf_inspect
  model_compression_toolkit/core/keras/reader/node_builder.py
Labels: keras, pr: refactoring/code cleanup, auto:core

#952 Remove legacy package
  .github/labeler.yml
  model_compression_toolkit/__init__.py
  model_compression_toolkit/legacy/__init__.py
  model_compression_toolkit/legacy/keras_quantization_facade.py
  model_compression_toolkit/legacy/pytorch_quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/old_api_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/old_api_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:legacy

#961 Update exporter readme & add onnx inference example
  model_compression_toolkit/exporter/README.md
  tutorials/notebooks/pytorch/export/example_pytorch_export.ipynb
Labels: auto:tutorials, auto:exporter

#962 Fixes to export pytorch notebook
  tutorials/notebooks/pytorch/export/example_pytorch_export.ipynb
Labels: auto:tutorials

#958 Remove experimental from GPTQ facade API
  model_compression_toolkit/gptq/__init__.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  tests/keras_tests/feature_networks_tests/base_keras_feature_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/layer_tests/base_keras_layer_test.py
  tests/keras_tests/models_tests/test_networks_runner.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tests, auto:tutorials, auto:gptq

#955 Remove experimental from keras kpi data
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/keras/kpi_data_facade.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/quick_start/keras_fw/quant.py
Labels: auto:tests, auto:tutorials, auto:core
