Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-07, with the labels that each got.

#1119 Removed wrong if condition from pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/mct_model_garden/models_keras/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
  tutorials/resources/scripts/prepare_imagenet.sh
Labels: auto:tutorials

#1118 Add gptq tutorial for torch
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
Labels: auto:tutorials, auto:gptq

#1121 notebook's prepare_imagenet.sh script minor fix
  tutorials/resources/scripts/prepare_imagenet.sh
Labels: auto:tutorials

#1122 Fix TF & timm versions in effdet notebook.
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
Labels: pr: bug fix, auto:tutorials

#1124 Rename hessian service components
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/__init__.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_info_utils.py
  model_compression_toolkit/core/common/hessian/hessian_scores_calculator.py
  model_compression_toolkit/core/common/hessian/hessian_scores_request.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/pruning/importance_metrics/lfh_importance_metric.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/keras/hessian/activation_hessian_scores_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/hessian_scores_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_hessian_scores_calculator_keras.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/hessian/activation_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/weights_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/runner.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_service.py
Labels: auto:tests, auto:core, auto:gptq, auto:qat

#1127 Keras node builder refactor
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_representation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core

#1129 Fix Keras input_as_list in node builder
  model_compression_toolkit/core/keras/reader/node_builder.py
Labels: auto:core

#1123 align torch and keras gptq tutorials
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
Labels: auto:tutorials

#1142 Minor fixes in tutorials
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
Labels: auto:tutorials
