Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-04, with the labels that each got.

#1026 Fix FAQ message
  README.md
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/keras/qat/example_keras_qat.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
Labels: auto:tutorials, auto:target_platform_capabilities, auto:exporter

#1014 Add yolov8n-gptq tutorial for imx500
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8.py
  tutorials/notebooks/keras/debug_tools/example_keras_network_editor.ipynb
  tutorials/notebooks/keras/ptq/keras_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1000 Update nanodet tutorial to support configurable number of classes
  tutorials/mct_model_garden/models_keras/nanodet/nanodet_keras_model.py
Labels: auto:tutorials

#1028 Fix PyTorch fakely_quant_onnx_pytorch_exporter
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#1032 Fix for nanodet model in mct_model_garden - bug fix and a small impro…
  tutorials/mct_model_garden/models_keras/nanodet/nanodet_keras_model.py
Labels: auto:tutorials

#1030 Yolov8 Object Detection PyTorch tutorial
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/models_pytorch/yolov8/__init__.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8_preprocess.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8n.yaml
  tutorials/notebooks/pytorch/ptq/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1033 Fix analyzer issues
  model_compression_toolkit/core/analyzer.py
  model_compression_toolkit/core/common/quantization/quantize_graph_weights.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/common/visualization/nn_visualizer.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
Labels: pr: bug fix, auto:core, auto:gptq, auto:ptq

#1035 Fix graph kernel attributes update after GPTQ run
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
Labels: pr: bug fix, auto:core, auto:gptq

#1036 concatenate feature addition
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/concat_threshold_update.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/concat_threshold_update.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/concatination_threshold_update.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/concat_threshold_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1037 Adding GPTQ to PyTorch Yolov8n OD tutorial
  tutorials/notebooks/pytorch/ptq/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1039 Move to MCTQ 1.5.0
  requirements.txt
  tests/trainable_infrastructure_tests/keras/trainable_keras/test_keras_base_quantizer.py
  tests/trainable_infrastructure_tests/pytorch/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: enhancement, auto:tests

#1034 Add metadata quantized models in PTQ & GPTQ facades.
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_keras_exporter.py
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_tflite_exporter.py
  model_compression_toolkit/exporter/model_exporter/keras/int8_tflite_exporter.py
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  model_compression_toolkit/exporter/model_exporter/pytorch/pytorch_export_facade.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/metadata.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/target_platform_capabilities/target_platform/target_platform_model.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/metadata_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_unsupported_custom_layer.py
  tests/pytorch_tests/model_tests/feature_models/metadata_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: enhancement, auto:tests, keras, pytorch, pr: minor feature, auto:core, auto:gptq, auto:target_platform_capabilities, auto:exporter, auto:ptq

#1041 Fix KL error method per-tensor
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  tests/keras_tests/function_tests/test_kl_error_quantization_configurations.py
  tests/keras_tests/function_tests/test_quantization_configurations.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
Labels: auto:tests, pr: bug fix, auto:core

#1040 Add "identity" to NoQuantization in TPCs and remove BatchNorm
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/pytorch_tests/exporter_tests/base_pytorch_export_test.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_lut_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_uniform_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
Labels: enhancement, auto:tests, auto:target_platform_capabilities

#1044 Switch default IMX500 TPC to v2
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_inputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_test.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
Labels: enhancement, auto:tests, keras, pytorch, auto:target_platform_capabilities

#1042 Hessian MSE for weights parameters search
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/trace_hessian_request.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/lut_kmeans_params.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/power_of_two_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/symmetric_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/uniform_selection.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/runner.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/test_suite.py
Labels: auto:tests, pr: major feature, auto:core, auto:gptq

#1046 revert default TPC to imx500.v1
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
Labels: auto:tests, auto:target_platform_capabilities

#1043 Add pytorch substitution to remove Identity layers
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/remove_identity.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/model_tests/feature_models/output_in_the_middle_test.py
  tests/pytorch_tests/model_tests/feature_models/relu_bound_test.py
  tests/pytorch_tests/model_tests/feature_models/remove_identity_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1045 Const quantization
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/common/network_editors/node_filters.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/lut_kmeans_params.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/linear_collapsing.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/residual_collapsing.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/keras_node_prior_info.py
  model_compression_toolkit/core/keras/pruning/pruning_keras_implementation.py
  model_compression_toolkit/core/keras/reader/common.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/core/keras/tf_tensor_numpy.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/batchnorm_folding.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/const_holder_conv.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/linear_collapsing.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/relu_bound_to_power_of_2.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/residual_collapsing.py
  model_compression_toolkit/core/pytorch/pruning/pruning_pytorch_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_node_prior_info.py
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_keras.py
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_representation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/pytorch_tests/layer_tests/base_pytorch_layer_test.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: enhancement, auto:tests, keras, pytorch, pr: major feature, auto:core, auto:target_platform_capabilities, auto:exporter

#1048 Fix remove identity substitution when identity is model's output
  model_compression_toolkit/core/common/substitutions/remove_identity.py
  tests/keras_tests/feature_networks_tests/feature_networks/remove_identity_test.py
  tests/pytorch_tests/model_tests/feature_models/remove_identity_test.py
Labels: auto:tests, auto:core

#1051 Update base_config attributes names in TPC
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
Labels: pr: bug fix, auto:target_platform_capabilities
