Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-06, with the labels that each got.

#1084 yolov8n Instance segmentation tutorial
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/models_pytorch/yolov8/postprocess_yolov8_seg.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8-seg.yaml
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tutorials

#1093 Update MobileVit XS tutorial with z threshold parameter
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_mobilevit_xs_for_imx500.ipynb
Labels: auto:tutorials

#1086 reshape error fix
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/transform_function_call_method.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/reshape_substitution_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tests, auto:tutorials, auto:core

#1094 Fix coco_evaluation bug
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
Labels: auto:tutorials

#1096 Specify huggingface version in Keras notebooks
  tutorials/notebooks/imx500_notebooks/keras/example_keras_nanodet_plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tutorials

#1092 Activation Hessian computation runtime optimization
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_info_utils.py
  model_compression_toolkit/core/common/hessian/trace_hessian_calculator.py
  model_compression_toolkit/core/common/hessian/trace_hessian_request.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/pruning/importance_metrics/lfh_importance_metric.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/keras/hessian/activation_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/activation_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/weights_trace_hessian_calculator_pytorch.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2d_conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/pruning_keras_feature_test.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_service.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/pruning_pytorch_feature_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core, auto:gptq

#1098 Fix Hessian batch sample method to use remaining samples correctly
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/requires_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1100 Yolov8n pose tutorial2
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/README.md
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_pose_for_imx500.ipynb
Labels: auto:tutorials

#1099 Align const quant with converter
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/lut_kmeans_params.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/power_of_two_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_search.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/symmetric_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/uniform_selection.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tpc_pytorch.py
  tests/common_tests/function_tests/test_threshold_selection.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_lut_quanitzer_params.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, keras, pytorch, pr: major feature, auto:core, auto:target_platform_capabilities

#1101 Fix Hessian scores returned shape and align tests
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/pruning/importance_metrics/lfh_importance_metric.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core

#1102 Support multiple nodes Weights Hessian computation
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
  model_compression_toolkit/core/pytorch/hessian/weights_trace_hessian_calculator_pytorch.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
Labels: auto:tests, auto:core

#1105 Fix weights hessian gradient tape
  model_compression_toolkit/core/keras/hessian/weights_trace_hessian_calculator_keras.py
Labels: auto:core

#1106 Bug fix in the notebook's coco-evaluation functions.
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tutorials

#1103 Torch model reader refactor
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/reshape_with_static_shapes.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pytorch, pr: bug fix, auto:core

#1090 Generate report for troubleshooting the quantized model
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/xquant/__init__.py
  model_compression_toolkit/xquant/common/__init__.py
  model_compression_toolkit/xquant/common/constants.py
  model_compression_toolkit/xquant/common/core_report_generator.py
  model_compression_toolkit/xquant/common/dataset_utils.py
  model_compression_toolkit/xquant/common/framework_report_utils.py
  model_compression_toolkit/xquant/common/model_analyzer.py
  model_compression_toolkit/xquant/common/model_folding_utils.py
  model_compression_toolkit/xquant/common/similarity_calculator.py
  model_compression_toolkit/xquant/common/similarity_functions.py
  model_compression_toolkit/xquant/common/tensorboard_utils.py
  model_compression_toolkit/xquant/common/xquant_config.py
  model_compression_toolkit/xquant/keras/__init__.py
  model_compression_toolkit/xquant/keras/dataset_utils.py
  model_compression_toolkit/xquant/keras/facade_xquant_report.py
  model_compression_toolkit/xquant/keras/keras_report_utils.py
  model_compression_toolkit/xquant/keras/model_analyzer.py
  model_compression_toolkit/xquant/keras/similarity_functions.py
  model_compression_toolkit/xquant/keras/tensorboard_utils.py
  model_compression_toolkit/xquant/pytorch/__init__.py
  model_compression_toolkit/xquant/pytorch/dataset_utils.py
  model_compression_toolkit/xquant/pytorch/facade_xquant_report.py
  model_compression_toolkit/xquant/pytorch/model_analyzer.py
  model_compression_toolkit/xquant/pytorch/pytorch_report_utils.py
  model_compression_toolkit/xquant/pytorch/similarity_functions.py
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tests/xquant_tests/__init__.py
  tests/xquant_tests/keras_tests/__init__.py
  tests/xquant_tests/keras_tests/test_model_analyzer.py
  tests/xquant_tests/keras_tests/test_similarity_functions.py
  tests/xquant_tests/keras_tests/test_xquant_end2end.py
  tests/xquant_tests/pytorch_tests/__init__.py
  tests/xquant_tests/pytorch_tests/test_model_analyzer.py
  tests/xquant_tests/pytorch_tests/test_similarity_functions.py
  tests/xquant_tests/pytorch_tests/test_xquant_end2end.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_xquant.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_xquant.ipynb
Labels: auto:tests, pr: major feature, auto:tutorials

#1111 Skip inline images in links checker test
  tests/doc_tests/test_docs_links.py
Labels: auto:tests

#1110 Adding max pool to Pytorch IMX500 v3 TPC no quantization list
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tpc_pytorch.py
Labels: auto:target_platform_capabilities

#1113 Notebooks minor updates for support testing
  tutorials/notebooks/imx500_notebooks/keras/example_keras_effdet_lite0_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_pose_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tutorials

#1114 Refactor PyTorch model reader.
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/const_holder_conv.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_batch_norm.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_layer_norm.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/operations_to_layers.py
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
  tests/pytorch_tests/model_tests/feature_models/constant_conv_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/layer_norm_net_test.py
Labels: auto:tests, pytorch, pr: bug fix, pr: refactoring/code cleanup, auto:core, auto:target_platform_capabilities

#1117 Remove todo as issue is currently not reproducible.
  tests/pytorch_tests/model_tests/feature_models/bn_folding_test.py
Labels: auto:tests
