Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-10, with the labels that each got.

#1237 Add initial Sample-Layer Attention for GPTQ (PyTorch)
  model_compression_toolkit/core/common/hessian/__init__.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_scores_request.py
  model_compression_toolkit/core/pytorch/hessian/activation_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_loss.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/regularization_factory.py
  model_compression_toolkit/gptq/pytorch/quantizer/soft_rounding/soft_quantizer_reg.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core, auto:gptq

#1243 fix url
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
Labels: auto:tutorials

#1245 Update READMEs after keras quantizers refactor
  model_compression_toolkit/qat/keras/README.md
  model_compression_toolkit/trainable_infrastructure/keras/README.md
Labels: auto:qat, auto:trainable_infrastructure

#1232 add yolox tutorial for imx500
  tutorials/mct_model_garden/models_pytorch/yolox/LICENSE
  tutorials/mct_model_garden/models_pytorch/yolox/__init__.py
  tutorials/mct_model_garden/models_pytorch/yolox/darknet.py
  tutorials/mct_model_garden/models_pytorch/yolox/yolox.py
  tutorials/mct_model_garden/models_pytorch/yolox/yolox.yaml
  tutorials/mct_model_garden/models_pytorch/yolox/yolox_preprocess.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolox-tiny_for_imx500.ipynb
Labels: pr: minor feature, auto:tutorials

#1239 add pytorch fast-depth tutorial
  tutorials/mct_model_garden/models_pytorch/fastdepth/LICENSE
  tutorials/mct_model_garden/models_pytorch/fastdepth/__init__.py
  tutorials/mct_model_garden/models_pytorch/fastdepth/fastdepth.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_fastdepth_for_imx500.ipynb
Labels: auto:tutorials

#1248 Remove unused file
  model_compression_toolkit/core/keras/quantizer/base_quantizer.py
Labels: pr: refactoring/code cleanup, auto:core

#1242 Refactor hessian service and torch sample layer attention.
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_suite_coverage.yml
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_scores_request.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/pruning/importance_metrics/lfh_importance_metric.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/keras/data_util.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/tf_tensor_numpy.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/data_util.py
  model_compression_toolkit/core/pytorch/hessian/activation_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/utils.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/pytorch/gptq_loss.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantizer/soft_rounding/soft_quantizer_reg.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_hessian_service.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests_pytest/keras/__init__.py
  tests_pytest/keras/core/__init__.py
  tests_pytest/keras/core/test_data_util.py
  tests_pytest/pytorch/core/__init__.py
  tests_pytest/pytorch/core/test_data_util.py
Labels: auto:tests, auto:core, auto:gptq

#1250 replace Gaussian with Rademacher distribution in hessian estimation
  model_compression_toolkit/core/common/hessian/__init__.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_scores_request.py
  model_compression_toolkit/core/pytorch/hessian/activation_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/hessian/weights_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core, auto:gptq

#1254 Fix broken link to imx500 tutorials
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
Labels: auto:tutorials
