Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-03, with the labels that each got.

#953 Making arguments required in tutorials cli
  tutorials/quick_start/main.py
Labels: auto:tutorials

#963 Remove old MP config + Add default CoreConfig to kpi_data API
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/function_tests/kpi_data_test.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tests, auto:tutorials, auto:core, auto:gptq, auto:ptq, auto:qat

#968 Remove KMEANS quantization method
  model_compression_toolkit/core/common/quantization/quantization_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/__init__.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/kmeans_params.py
  model_compression_toolkit/core/common/quantization/quantizers/kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, auto:core

#972 Fix detection notebooks after experimental removing
  tutorials/notebooks/keras/ptq/example_keras_nanodet_plus.ipynb
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
Labels: auto:tutorials

#973 Fix base_quantizer tests
  tests/trainable_infrastructure_tests/keras/trainable_keras/test_keras_base_quantizer.py
  tests/trainable_infrastructure_tests/pytorch/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: auto:tests

#974 Fix detection notebook that was missed from PR #972
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
Labels: auto:tutorials

#965 create mct_models_lib based on tutorial/resources folder
  tutorials/mct_model_garden/README.md
  tutorials/mct_model_garden/__init__.py
  tutorials/mct_model_garden/evaluation_metrics/__init__.py
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/models_keras/__init__.py
  tutorials/mct_model_garden/models_keras/efficientdet/__init__.py
  tutorials/mct_model_garden/models_keras/efficientdet/effdet_keras.py
  tutorials/mct_model_garden/models_keras/efficientdet/effnet_blocks_keras.py
  tutorials/mct_model_garden/models_keras/efficientdet/effnet_keras.py
  tutorials/mct_model_garden/models_keras/nanodet/__init__.py
  tutorials/mct_model_garden/models_keras/nanodet/nanodet_keras_model.py
  tutorials/mct_model_garden/models_keras/utils/__init__.py
  tutorials/mct_model_garden/models_keras/utils/torch2keras_weights_translation.py
  tutorials/mct_model_garden/models_keras/yolov8/__init__.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8_preprocess.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8n.yaml
  tutorials/mct_model_garden/models_pytorch/__init__.py
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_nanodet_plus.ipynb
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/keras/ptq/keras_yolov8n_for_imx500.ipynb
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
  tutorials/resources/nanodet_keras_model.py
Labels: auto:tutorials

#976 BN attributes quantization tests
  tests/keras_tests/feature_networks_tests/feature_networks/bn_attributes_quantization_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/bn_attributes_quantization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests

#981 Revert KMEANS removel affected tests
  tests/trainable_infrastructure_tests/keras/trainable_keras/test_keras_base_quantizer.py
  tests/trainable_infrastructure_tests/pytorch/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: auto:tests

#980 Add keras deeplabv3plus notebook
  tutorials/notebooks/keras/ptq/keras_deeplabv3plus_for_imx500.ipynb
Labels: keras, auto:tutorials

#978 Remove unused param from GPTQHessianScoresConfig
  model_compression_toolkit/gptq/common/gptq_config.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
Labels: auto:tests, auto:gptq

#975 Align experimental features - Part 2
  README.md
  docsrc/source/api/experimental_api_docs/index.rst
  docsrc/source/api/experimental_api_docs/methods/get_keras_data_generation_config.rst
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/data_generation/README.md
  model_compression_toolkit/data_generation/__init__.py
  model_compression_toolkit/data_generation/keras/keras_data_generation.py
  model_compression_toolkit/data_generation/pytorch/pytorch_data_generation.py
  model_compression_toolkit/gptq/__init__.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/qat/__init__.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/data_generation_tests/keras/base_keras_data_generation_test.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/exporter_tests/keras_fake_quant/keras_fake_quant_exporter_base_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/function_tests/test_exporting_qat_models.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2d_conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2d_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2dtranspose_conv2d_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/conv2dtranspose_pruning_test.py
  tests/keras_tests/pruning_tests/feature_networks/networks_tests/dense_pruning_test.py
  tests/keras_tests/pruning_tests/test_memory_calculator.py
  tests/keras_tests/pruning_tests/test_pretrained_models.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/pruning_tests/feature_networks/pruning_pytorch_feature_test.py
  tests/pytorch_tests/pruning_tests/test_pretrained_models.py
  tutorials/notebooks/keras/qat/example_keras_qat.ipynb
  tutorials/notebooks/keras/qat/example_keras_qat.py
  tutorials/notebooks/pytorch/qat/example_pytorch_qat.py
Labels: auto:tests, auto:docsrc, auto:tutorials, auto:core, auto:gptq, auto:qat, auto:data_generation

#983 Fix wrong import path in ultralytics mobile_lib
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
Labels: pr: bug fix, auto:tutorials

#959 activation threshold tutorial
  tutorials/notebooks/keras/ptq/example_keras_activation_threshold_search.ipynb
  tutorials/resources/utils/keras_tutorial_tools.py
Labels: auto:tutorials

#984 Fix imports using mct internal packages
  docsrc/source/guidelines/quickstart_keras.rst
  docsrc/source/guidelines/quickstart_pytorch.rst
  model_compression_toolkit/core/common/network_editors/actions.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/qat/keras/README.md
  model_compression_toolkit/qat/pytorch/README.md
  tutorials/notebooks/keras/debug_tools/example_keras_network_editor.ipynb
  tutorials/notebooks/keras/pruning/example_keras_pruning.py
  tutorials/notebooks/keras/pruning/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_imagenet.ipynb
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/keras/ptq/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/pytorch/pruning/example_pytorch_pruning.py
  tutorials/notebooks/pytorch/pruning/example_pytorch_pruning_mnist.ipynb
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:docsrc, auto:tutorials, auto:core, auto:qat

#971 Vectorized channel threshold search
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/power_of_two_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_search.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/symmetric_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/uniform_selection.py
  model_compression_toolkit/core/common/similarity_analyzer.py
Labels: pr: refactoring/code cleanup, auto:core

#985 Improving Mixed precision experience
  model_compression_toolkit/core/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/core/common/mixed_precision/distance_weighting.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  model_compression_toolkit/core/runner.py
  tests/common_tests/base_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, pr: refactoring/code cleanup, auto:core

#992 Fix target KPI usage in tutorials
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/keras/ptq/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tutorials, auto:core

#991 fix MP batch axis
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/similarity_analyzer.py
Labels: auto:core

#994 Remove fw info from API signatures
  model_compression_toolkit/core/keras/kpi_data_facade.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/function_tests/test_exporting_qat_models.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tests/keras_tests/models_tests/test_networks_runner.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/function_tests/kpi_data_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/keras/qat/example_keras_qat.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.py
  tutorials/notebooks/pytorch/qat/example_pytorch_qat.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tests, auto:tutorials, auto:core, auto:gptq, auto:qat

#1001 Update example_keras_network_editor.ipynb
  tutorials/notebooks/keras/debug_tools/example_keras_network_editor.ipynb
Labels: auto:tutorials

#996 Revert change of moving kpi_target from facades, and ser default MP config in CoreConfig
  model_compression_toolkit/core/common/mixed_precision/kpi_tools/kpi_data.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/pytorch/kpi_data_facade.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/common_tests/base_feature_test.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tests/keras_tests/models_tests/test_networks_runner.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/function_tests/kpi_data_test.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/dynamic_size_inputs_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.py
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/keras/ptq/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenet_mixed_precision_lut.py
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.py
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:tutorials, auto:core, auto:gptq, auto:ptq, auto:qat

#1005 Add error for torch.fx failure
  model_compression_toolkit/core/pytorch/reader/reader.py
  tests/pytorch_tests/graph_tests/__init__.py
  tests/pytorch_tests/graph_tests/test_fx_errors.py
  tests/test_suite.py
Labels: auto:tests, pytorch, auto:core

#1007 Edit keras export notebook
  tutorials/notebooks/keras/export/example_keras_export.ipynb
Labels: auto:tutorials

#1003 Rearange TPC page
  docsrc/source/api/api_docs/modules/layer_filters.rst
  docsrc/source/api/api_docs/modules/target_platform.rst
  docsrc/source/api/api_docs/notes/tpc_note.rst
  model_compression_toolkit/target_platform_capabilities/target_platform/__init__.py
  model_compression_toolkit/target_platform_capabilities/target_platform/fusing.py
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/operations_to_layers.py
Labels: auto:docsrc, pr: documentation update, auto:target_platform_capabilities

#1006 Add FAQ and bag-of-tricks
  FAQ.md
  README.md
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  quantization_troubleshooting.md
Labels: documentation, auto:exporter

#1010 MCT tutorials readme - fix broken links
  FAQ.md
  README.md
  tutorials/README.md
  tutorials/notebooks/IMX500_notebooks.md
  tutorials/notebooks/MCT_notebooks.md
Labels: auto:tutorials

#1012 replace pytorch exporter example link
  FAQ.md
Labels: documentation

#1011 Remove FolderImageLoader
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/common/data_loader.py
  tests/common_tests/function_tests/test_folder_image_loader.py
  tests/test_suite.py
Labels: auto:tests, auto:core

#1019 Fix PyTorch reader for FX ImmutableLists
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
Labels: auto:core

#1015 Add FolderImageLoader to quick start tuorials
  tutorials/quick_start/common/utils.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
Labels: auto:tutorials

#1020 Fix resource utilization variable name in Keras tutorial
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.ipynb
Labels: auto:tutorials

#1022 Fix missing resource utilization parameter in keras GPTQ facade
  model_compression_toolkit/gptq/keras/quantization_facade.py
Labels: auto:gptq
