Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-09, with the labels that each got.

#1186 Enhance Error Handling for TENSOR_META in Output Shape Calculation for YOLOv8 Quantization
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
Labels: auto:core

#1195 Add check existence of coco/train2017 before attemp to download (lar…
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1198 yolov8n pose tutorial - Fix wrong representative dataloader for GPTQ
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_pose_for_imx500.ipynb
Labels: auto:tutorials

#1187 efficient ad tutorial fixes
  tutorials/mct_model_garden/evaluation_metrics/anomaly_eval.py
  tutorials/notebooks/imx500_notebooks/README.md
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_efficient_anomaly_detection.ipynb
  tutorials/resources/utils/efficient_ad_utils.py
Labels: auto:tutorials

#1200 Update the text in tutorials for generic timm and torochvision model
  tutorials/notebooks/imx500_notebooks/README.md
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_timm_classification_model_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_torchvision_classification_model_for_imx500.ipynb
Labels: auto:tutorials

#1197 Fix activation gradient backprop in GPTQ
  model_compression_toolkit/gptq/pytorch/quantizer/quantization_builder.py
  model_compression_toolkit/trainable_infrastructure/common/base_trainable_quantizer.py
  model_compression_toolkit/trainable_infrastructure/pytorch/activation_quantizers/ste/symmetric_ste.py
  model_compression_toolkit/trainable_infrastructure/pytorch/activation_quantizers/ste/uniform_ste.py
  model_compression_toolkit/trainable_infrastructure/pytorch/base_pytorch_quantizer.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/test_pytorch_trainable_infra_runner.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: auto:tests, auto:gptq, auto:trainable_infrastructure

#1206 removal of anomaly det
  tutorials/mct_model_garden/evaluation_metrics/anomaly_eval.py
  tutorials/mct_model_garden/models_pytorch/Efficient_Anomaly_Det/efficient_ad.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_efficient_anomaly_detection.ipynb
  tutorials/resources/utils/efficient_ad_utils.py
Labels: auto:tutorials

#1203 Set CoreConfig and its inner configs to be dataclasses
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core, auto:gptq, auto:ptq, auto:qat

#1213 Fix PyTorch model reader
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
Labels: auto:tests, auto:core

#1216 Refactor for feature notebook tutorials and modifications to run automatic testing
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ptq_mnist.ipynb
Labels: auto:tutorials

#1214 Add TPC.v4 with quantization preservation.
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, keras, pytorch, pr: minor feature, auto:core, auto:target_platform_capabilities

#1215 Support and fix merge layers (e.g. concat)
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/reader/node_builder.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_representation_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, keras, pr: minor feature, pr: bug fix, auto:core, auto:exporter

#1219 Use formal version of sony-custom-layers
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1210 Add GPTQ Gradual Activation Quantization
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_suite_coverage.yml
  model_compression_toolkit/gptq/__init__.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/gradual_activation_quantization.py
  model_compression_toolkit/gptq/pytorch/quantizer/regularization_factory.py
  model_compression_toolkit/gptq/pytorch/quantizer/soft_rounding/soft_quantizer_reg.py
  model_compression_toolkit/trainable_infrastructure/pytorch/annealing_schedulers.py
  model_compression_toolkit/trainable_infrastructure/pytorch/util.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests_pytest/__init__.py
  tests_pytest/pytorch/__init__.py
  tests_pytest/pytorch/gptq/__init__.py
  tests_pytest/pytorch/gptq/test_annealing_cfg.py
  tests_pytest/pytorch/gptq/test_gradual_act_quantization.py
  tests_pytest/pytorch/trainable_infrastructure/__init__.py
  tests_pytest/pytorch/trainable_infrastructure/test_linear_annealing.py
Labels: auto:tests, auto:gptq, auto:trainable_infrastructure

#1220 Tutorials license
  tutorials/mct_model_garden/models_keras/efficientdet/LICENSE
  tutorials/mct_model_garden/models_keras/efficientdet/effdet_keras.py
  tutorials/mct_model_garden/models_keras/efficientdet/effnet_blocks_keras.py
  tutorials/mct_model_garden/models_keras/efficientdet/effnet_keras.py
  tutorials/mct_model_garden/models_keras/nanodet/LICENSE
  tutorials/mct_model_garden/models_keras/nanodet/nanodet_keras_model.py
  tutorials/mct_model_garden/models_keras/yolov8/LICENSE
  tutorials/mct_model_garden/models_keras/yolov8/yolov8.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8_preprocess.py
  tutorials/mct_model_garden/models_keras/yolov8/yolov8n.yaml
  tutorials/mct_model_garden/models_pytorch/mobilevit_xs/LICENSE
  tutorials/mct_model_garden/models_pytorch/mobilevit_xs/mobilevit_xs.py
  tutorials/mct_model_garden/models_pytorch/yolov8/LICENSE
  tutorials/mct_model_garden/models_pytorch/yolov8/postprocess_yolov8_seg.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8-seg.yaml
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8_postprocess.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8_preprocess.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8n-pose.yaml
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8n.yaml
Labels: auto:tutorials

#1221 change functools.cache to lru_cache
  model_compression_toolkit/trainable_infrastructure/pytorch/util.py
Labels: auto:trainable_infrastructure

#1223 Add support for onnx export to models with multiple inputs/outputs
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  tests/pytorch_tests/exporter_tests/base_pytorch_onnx_export_test.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_inputs.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_inputs_and_outputs.py
  tests/pytorch_tests/exporter_tests/test_onnx_multiple_outputs.py
  tests/pytorch_tests/exporter_tests/test_runner.py
Labels: auto:tests, auto:exporter

#1226 Support weight quantization for tf.gather in TPC imx500.v4.
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_representation_test.py
Labels: auto:tests, keras, pr: minor feature, auto:target_platform_capabilities

#1227 Add const quantization for torch.gather ("params" attribute only).
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/feature_models/const_representation_test.py
Labels: auto:tests, pytorch, pr: minor feature, auto:core, auto:target_platform_capabilities, auto:exporter

#1230 Enhancment of coco evaluation scale_boxes function for yolox tutorial
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation_utils.py
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8_postprocess.py
  tutorials/notebooks/imx500_notebooks/README.md
Labels: auto:tutorials

#1217 Fix issue with reuse layers in torch
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/const_holder_conv.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
  tests/pytorch_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/reuse_layer_net_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: bug fix, auto:core

#1231 Support torch expand with const
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/utils.py
Labels: auto:tests, pytorch, pr: minor feature, auto:target_platform_capabilities

#1225 Pytorch Feature Tutorials Refactor
  tutorials/notebooks/mct_features_notebooks/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_export.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ptq_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ssdlite_mobilenetv3_object_detection.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_xquant.ipynb
Labels: auto:tutorials

#1234 Fix small bug in notebook
  README.md
  tutorials/README.md
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_xquant.ipynb
Labels: auto:tutorials

#1235 add missing import yolov8seg tutorial
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_seg_for_imx500.ipynb
Labels: auto:tutorials
