Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-11, with the labels that each got.

#1256 Add feature Activation Bias Correction
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/statistics_correction/apply_activation_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/common/statistics_correction/statistics_correction.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/statistics_correction/keras_compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/statistics_correction/pytorch_compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_bias_correction_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/activation_bias_correction_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1264 torch 2.5 and python 3.12 support
  .github/workflows/link_checker.yml
  .github/workflows/nightly.yml
  .github/workflows/publish_release.yml
  .github/workflows/run_keras_sony_custom_layers.yml
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_python310_pytorch25.yml
  .github/workflows/run_tests_python311_pytorch25.yml
  .github/workflows/run_tests_python312_pytorch22.yml
  .github/workflows/run_tests_python312_pytorch23.yml
  .github/workflows/run_tests_python312_pytorch24.yml
  .github/workflows/run_tests_python312_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/stale.yml
  .github/workflows/test_whl_install.yml
  .github/workflows/tests_common.yml
  README.md
  tests/keras_tests/function_tests/test_hessian_info_calculator.py
  tests/pytorch_tests/function_tests/test_activation_quantization_holder_gptq.py
Labels: auto:tests

#1272 Align TPC.v4 with Converter spec.
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/keras_tests/layer_tests/test_layers_runner.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
Labels: enhancement, auto:tests, keras, pytorch, pr: minor feature, auto:target_platform_capabilities

#1266 add substitution for functional linear
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_linear.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/linear_function_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#1274 Update header
  README.md
  docsrc/images/mctHeader1-cropped.svg
Labels: auto:docsrc

#1275 fix tf.nn.{conv2d,convolution} substitution
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/conv_funcs_to_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/conv_func_substitutions_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/linear_collapsing_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
Labels: auto:tests, auto:core

#1278 Update README.md
  README.md
  docsrc/images/torch_mobilenetv2.png
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: auto:docsrc, auto:tutorials, auto:target_platform_capabilities
