Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-08, with the labels that each got.

#1147 Mention tf version in keras tutorials
  tutorials/__init__.py
  tutorials/notebooks/imx500_notebooks/__init__.py
  tutorials/notebooks/imx500_notebooks/keras/__init__.py
  tutorials/notebooks/imx500_notebooks/keras/example_keras_mobilenetv2_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/example_keras_nanodet_plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_deeplabv3plus_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/keras/keras_yolov8n_for_imx500.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_export.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_network_editor.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_xquant.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_yolov8n.ipynb
Labels: auto:tutorials

#1137 Results board to the imx500 notebooks readme
  tutorials/notebooks/imx500_notebooks/README.md
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_timm_classification_model_for_imx500.ipynb
Labels: auto:tutorials

#1150 Fix tpcv4 torch
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/target_platform_capabilities/target_platform/__init__.py
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tp_model.py
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_attributes_quantization_test.py
  tests/keras_tests/function_tests/test_custom_layer.py
  tests/pytorch_tests/model_tests/feature_models/bn_attributes_quantization_test.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
Labels: auto:tests, pytorch, pr: refactoring/code cleanup, auto:tutorials, auto:core, auto:target_platform_capabilities

#1131 Integrate scheduler run and show results on xquant
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/fusion/graph_fuser.py
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/core/common/visualization/tensorboard_writer.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/metadata.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/xquant/common/constants.py
  model_compression_toolkit/xquant/common/core_report_generator.py
  model_compression_toolkit/xquant/common/framework_report_utils.py
  model_compression_toolkit/xquant/common/tensorboard_utils.py
  model_compression_toolkit/xquant/keras/facade_xquant_report.py
  model_compression_toolkit/xquant/keras/keras_report_utils.py
  model_compression_toolkit/xquant/keras/tensorboard_utils.py
  model_compression_toolkit/xquant/pytorch/facade_xquant_report.py
  model_compression_toolkit/xquant/pytorch/pytorch_report_utils.py
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tests/keras_tests/feature_networks_tests/feature_networks/compute_max_cut_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_graph_max_cut.py
  tests/pytorch_tests/model_tests/feature_models/compute_max_cut_test.py
  tests/pytorch_tests/model_tests/feature_models/second_moment_correction_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/test_suite.py
  tests/xquant_tests/keras_tests/test_xquant_end2end.py
  tests/xquant_tests/pytorch_tests/test_xquant_end2end.py
Labels: auto:tests, auto:core, auto:gptq, auto:ptq, auto:qat

#1152 Change TPC dictionary by fw into function
  model_compression_toolkit/target_platform_capabilities/tpc_models/get_target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/target_platform_capabilities.py
Labels: auto:target_platform_capabilities

#1148 Manual bit manipulation
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/quantization/bit_width_config.py
  model_compression_toolkit/core/common/quantization/core_config.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/xquant/common/model_folding_utils.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/models_tests/test_networks_runner_float.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/pruning_tests/test_memory_calculator.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests/pytorch_tests/utils.py
Labels: enhancement, auto:common, auto:tests, auto:core

#1154 Check for TF version smaller than 2.16
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/graph/functional_node.py
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
  model_compression_toolkit/data_generation/__init__.py
  model_compression_toolkit/data_generation/keras/keras_data_generation.py
  model_compression_toolkit/data_generation/pytorch/pytorch_data_generation.py
  model_compression_toolkit/exporter/model_exporter/keras/keras_export_facade.py
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  model_compression_toolkit/exporter/model_exporter/pytorch/pytorch_export_facade.py
  model_compression_toolkit/exporter/model_wrapper/keras/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/keras/validate_layer.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/validate_layer.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/base_keras_gptq_quantizer.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/base_pytorch_gptq_quantizer.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantizer/base_keras_qat_quantizer.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantizer/base_pytorch_qat_quantizer.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/latest/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/target_platform_capabilities.py
  model_compression_toolkit/trainable_infrastructure/keras/base_keras_quantizer.py
  model_compression_toolkit/trainable_infrastructure/keras/load_model.py
  model_compression_toolkit/trainable_infrastructure/keras/quantize_wrapper.py
  model_compression_toolkit/trainable_infrastructure/pytorch/base_pytorch_quantizer.py
  model_compression_toolkit/verify_packages.py
  model_compression_toolkit/xquant/keras/facade_xquant_report.py
  model_compression_toolkit/xquant/pytorch/facade_xquant_report.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_pot_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/custom_ops_tests/test_export_symmetric_onnx_quantizers.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/exporter_tests/test_runner.py
  tests/test_suite.py
Labels: auto:tests, auto:core, auto:gptq, auto:target_platform_capabilities, auto:exporter, auto:ptq, auto:qat, auto:data_generation, auto:trainable_infrastructure

#1157 Set default shift negative in quantization config
  model_compression_toolkit/core/common/quantization/quantization_config.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
Labels: auto:tests, pr: minor feature, auto:core

#1158 Add 16 bit input\output to stack & concat operators in TPC.v4
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
Labels: pr: minor feature, auto:target_platform_capabilities

#1159 Add test for concat with 16 bit
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
Labels: auto:tests, auto:target_platform_capabilities

#1160 Tests for Keras to check the manual bit width selection feature.
  model_compression_toolkit/core/common/quantization/bit_width_config.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, auto:core

#1162 Filter out candidates for mixed precision in case of activation/weights only
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_candidates_filter.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: bug fix, auto:core

#1163 Feature/gelu shift negative
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/shift_negative_activation.py
  tests/pytorch_tests/model_tests/feature_models/shift_negative_activation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#1164 TF conv func substitutions
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/conv_funcs_to_layer.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/linear_collapsing.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/matmul_substitution.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/conv_func_substitutions_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/utils.py
Labels: auto:tests, pr: minor feature, auto:core

#1165 Add mul(x, sigmoid(x)) to swish substitution.
  model_compression_toolkit/core/keras/constants.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/sigmoid_mul_to_swish.py
  model_compression_toolkit/core/keras/keras_implementation.py
  tests/keras_tests/feature_networks_tests/feature_networks/sigmoid_mul_substitution_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/utils.py
Labels: auto:tests, pr: minor feature, auto:core

#1166 Add onnx install to pytorch ptq tutorial
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_ptq_mnist.ipynb
Labels: auto:tutorials

#1168 Fix tutorials
  model_compression_toolkit/xquant/common/tensorboard_utils.py
  model_compression_toolkit/xquant/keras/tensorboard_utils.py
  model_compression_toolkit/xquant/pytorch/tensorboard_utils.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_yolov8n.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_pruning_mnist.ipynb
Labels: auto:tutorials

#1156 Update yolov8n tutorial with 16b manual configurations
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1169 Refactor TPC with supported input bit-width to each operator.
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/conv_funcs_to_layer.py
Labels: auto:core

#1170 QC options filtering function test
  tests/keras_tests/function_tests/test_quant_config_filtering.py
  tests/pytorch_tests/function_tests/test_quant_config_filtering.py
  tests/test_suite.py
Labels: auto:tests

#1174 Notebook/torchvision notebook link
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_torchvision_classification_model_for_imx500.ipynb
Labels: auto:tutorials

#1175 Update format_results to get unnormalized coordinates bbox
  tutorials/mct_model_garden/evaluation_metrics/coco_evaluation.py
Labels: auto:tutorials

#1179 Remove normalization from bounding box coordinates in yolov8n pytorch
  tutorials/mct_model_garden/models_pytorch/yolov8/yolov8.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1180 Added model.eval which was missing before evalution the model
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tutorials

#1181 Remove TPC IMX500v3 and rename TPC IMX500v4 into IMX500v3
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/__init__.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_quant_config_filtering.py
  tests/pytorch_tests/function_tests/test_quant_config_filtering.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_yolov8n_for_imx500.ipynb
Labels: auto:tests, auto:tutorials, auto:target_platform_capabilities

#1182 Add warning when using activation mixed precision
  model_compression_toolkit/core/runner.py
Labels: auto:core

#1128 efficient ad
  tutorials/mct_model_garden/evaluation_metrics/anomaly_eval.py
  tutorials/mct_model_garden/models_pytorch/Efficient_Anomaly_Det/efficient_ad.py
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_efficient_anomaly_detection.ipynb
  tutorials/resources/utils/efficient_ad_utils.py
Labels: auto:tutorials

#1183 Reorder tests
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  tests/external_tests/__init__.py
  tests/external_tests/keras_tests/__init__.py
  tests/external_tests/keras_tests/models_tests/__init__.py
  tests/external_tests/keras_tests/models_tests/test_networks_runner.py
  tests/external_tests/keras_tests/models_tests/test_networks_runner_float.py
  tests/external_tests/pytorch_tests/__init__.py
  tests/keras_tests/data_generation_tests/__init__.py
  tests/keras_tests/data_generation_tests/base_keras_data_generation_test.py
  tests/keras_tests/data_generation_tests/test_keras_data_generation_runner.py
  tests/keras_tests/data_generation_tests/test_scheduler_step.py
  tests/keras_tests/trainable_infrastructure_tests/__init__.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/test_keras_trainable_infra_runner.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/__init__.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_get_quantizers.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/keras_tests/xquant_tests/__init__.py
  tests/keras_tests/xquant_tests/test_model_analyzer.py
  tests/keras_tests/xquant_tests/test_similarity_functions.py
  tests/keras_tests/xquant_tests/test_xquant_end2end.py
  tests/pytorch_tests/data_generation_tests/__init__.py
  tests/pytorch_tests/data_generation_tests/base_pytorch_data_generation_test.py
  tests/pytorch_tests/data_generation_tests/test_pytorch_data_generation_runner.py
  tests/pytorch_tests/trainable_infrastructure_tests/__init__.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/test_pytorch_trainable_infra_runner.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/__init__.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_get_quantizers.py
  tests/pytorch_tests/xquant_tests/__init__.py
  tests/pytorch_tests/xquant_tests/test_model_analyzer.py
  tests/pytorch_tests/xquant_tests/test_similarity_functions.py
  tests/pytorch_tests/xquant_tests/test_xquant_end2end.py
  tests/test_suite.py
  tests/trainable_infrastructure_tests/keras/trainable_keras/__init__.py
  tests/trainable_infrastructure_tests/pytorch/trainable_pytorch/__init__.py
Labels: auto:tests, pr: refactoring/code cleanup

#1185 torchvision tutorial
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_torchvision_classification_for_imx500.ipynb
  tutorials/notebooks/imx500_notebooks/pytorch/pytorch_torchvision_classification_model_for_imx500.ipynb
Labels: auto:tutorials

#1191 Fix MP tutorial arguments after release
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
Labels: auto:tutorials
