Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-12, with the labels that each got.

#1282 Fix duplicate QCOs issue
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/functional_node.py
Labels: pr: bug fix, auto:core

#1286 Fix notebooks after tpc refactor
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
Labels: auto:tutorials

#1283 improve readability
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_candidates_filter.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_functions_mapping.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/keras/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: auto:tests, auto:core

#1277 Add SLA in Keras
  model_compression_toolkit/core/keras/data_util.py
  model_compression_toolkit/core/keras/hessian/activation_hessian_scores_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/hessian_scores_calculator_keras.py
  model_compression_toolkit/core/keras/hessian/weights_hessian_scores_calculator_keras.py
  model_compression_toolkit/gptq/common/gptq_training.py
  model_compression_toolkit/gptq/keras/gptq_loss.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  model_compression_toolkit/gptq/keras/graph_info.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/keras/quantizer/soft_rounding/soft_quantizer_reg.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests_pytest/keras/core/test_data_util.py
Labels: auto:tests, auto:core, auto:gptq

#1287 Enable SLA by default in Keras
  model_compression_toolkit/gptq/keras/quantization_facade.py
  tests/keras_tests/function_tests/test_activation_quantization_holder_gptq.py
Labels: auto:tests, auto:gptq

#1291 Just some cosmetics
  model_compression_toolkit/core/common/fusion/graph_fuser.py
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_candidates_filter.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_aggregation_methods.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  model_compression_toolkit/core/runner.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core

#1290 Refactor Target Platform Capabilities - Phase 2
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/schema/schema_functions.py
  model_compression_toolkit/target_platform_capabilities/schema/v1.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/operations_to_layers.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tp_model.py
  tests/common_tests/test_tp_model.py
  tests/keras_tests/exporter_tests/tflite_int8/imx500_int8_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/keras_tests/function_tests/test_quant_config_filtering.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/function_tests/test_quant_config_filtering.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
Labels: auto:tests, auto:core, auto:target_platform_capabilities

#1296 TPC attach 2 framework
  model_compression_toolkit/target_platform_capabilities/schema/v1.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/attach2fw.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/attach2pytorch.py
Labels: pr: minor feature, pr: refactoring/code cleanup, auto:target_platform_capabilities

#1295 Replace max tensor with max cut
  model_compression_toolkit/core/common/fusion/graph_fuser.py
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  model_compression_toolkit/core/common/graph/memory_graph/memory_element.py
  model_compression_toolkit/core/common/graph/memory_graph/memory_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_functions_mapping.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_methods.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/keras/data_util.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/conv_funcs_to_layer.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/scaled_dot_product_attention.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/reader/graph_builders.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/utils.py
  tests/pytorch_tests/function_tests/resource_utilization_data_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#1303 Fix bug
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
Labels: pr: bug fix, auto:core

#1304 Move splitting ops from default to qpreserving configs in TPCv4.
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tpc_pytorch.py
Labels: pr: minor feature, auto:target_platform_capabilities

#1301 Refactor Target Platform Capabilities - Phase 4
  model_compression_toolkit/target_platform_capabilities/schema/v1.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v2_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v3_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v4/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tp_model.py
  requirements.txt
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/common_tests/test_tp_model.py
  tests/keras_tests/exporter_tests/tflite_int8/imx500_int8_tp_model.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_16bit_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_attributes_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/const_quantization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_custom_layer.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/keras_tests/function_tests/test_quant_config_filtering.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/function_tests/test_quant_config_filtering.py
  tests/pytorch_tests/model_tests/feature_models/activation_16bit_test.py
  tests/pytorch_tests/model_tests/feature_models/bn_attributes_quantization_test.py
  tests/pytorch_tests/model_tests/feature_models/const_quantization_test.py
  tests/pytorch_tests/model_tests/feature_models/manual_bit_selection.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
Labels: auto:tests, auto:target_platform_capabilities
