Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2024-01, with the labels that each got.

#908 Modify Keras notebooks
  tutorials/notebooks/example_keras_imagenet.ipynb
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
Labels: pr: documentation update, auto:tutorials

#889 Update README.md
  tutorials/notebooks/example_quick_start_torchvision.ipynb
  tutorials/quick_start/README.md
Labels: auto:tutorials

#910 Change Keras serialization KERAS_H5 to KERAS
  model_compression_toolkit/exporter/README.md
  model_compression_toolkit/exporter/model_exporter/keras/base_keras_exporter.py
  model_compression_toolkit/exporter/model_exporter/keras/export_serialization_format.py
  model_compression_toolkit/exporter/model_exporter/keras/fakely_quant_tflite_exporter.py
  model_compression_toolkit/exporter/model_exporter/keras/keras_export_facade.py
  tests/keras_tests/exporter_tests/keras_fake_quant/keras_fake_quant_exporter_base_test.py
  tests/keras_tests/exporter_tests/keras_mctq/keras_mctq_exporter_base_test.py
  tests/keras_tests/exporter_tests/tflite_fake_quant/tflite_fake_quant_exporter_base_test.py
  tests/keras_tests/function_tests/test_export_keras_fully_quantized_model.py
  tests/keras_tests/function_tests/test_exporting_qat_models.py
  tutorials/notebooks/example_keras_export.ipynb
  tutorials/notebooks/example_pytorch_export.ipynb
Labels: auto:tests, auto:tutorials, auto:exporter

#909 QuickStart ultralytics - simplify representative dataset loader
  tutorials/notebooks/example_keras_yolov8n.ipynb
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
  tutorials/resources/utils/__init__.py
  tutorials/resources/yolov8/yolov8_keras.py
  tutorials/resources/yolov8/yolov8_preprocess.py
Labels: pr: minor feature, auto:tutorials

#900 Adding support for yolov8-seg
  tutorials/quick_start/pytorch_fw/ultralytics_lib/model_lib.py
  tutorials/quick_start/pytorch_fw/ultralytics_lib/replacers.py
Labels: auto:tutorials

#911 Change the paths inside the notebook to relative folder paths
  tutorials/notebooks/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/example_keras_imagenet.ipynb
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/example_keras_nanodet_plus.ipynb
  tutorials/notebooks/example_keras_yolov8n.ipynb
Labels: pr: minor feature, auto:tutorials

#912 Remove tflite export part from QAT tutorial
  tutorials/notebooks/example_keras_qat.py
Labels: auto:tutorials

#914 Fix exporter .rst file
  docs/_sources/api/experimental_api_docs/modules/exporter.rst.txt
Labels: auto:docs

#915 remove per-channel flag from QuantizationConfig in MobileNetv2 Keras notebook
  tutorials/notebooks/example_keras_imagenet.ipynb
Labels: auto:tutorials

#920 Add tutorial for Network Editor usage
  tutorials/notebooks/example_keras_network_editor.ipynb
Labels: auto:tutorials

#923 Improve parsing of PyTorch functional layers arguments
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/functional_layer_norm.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/layer_norm_net_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#926 Tutorial/notebooks - Minor update to support notebook tests
  tutorials/notebooks/example_keras_imagenet.ipynb
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/example_keras_yolov8n.ipynb
Labels: pr: refactoring/code cleanup

#927 Tutorial/notebooks - Minor update to support notebook tests - a typo correction
  tutorials/notebooks/example_keras_imagenet.ipynb
  tutorials/notebooks/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/example_keras_mobilenet_mixed_precision.ipynb
Labels: auto:tutorials

#931 fix broken links in notebooks readme
  tutorials/notebooks/README.md
  tutorials/notebooks/keras/debug_tools/example_keras_network_editor.ipynb
  tutorials/notebooks/keras/export/example_keras_export.ipynb
  tutorials/notebooks/keras/gptq/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/keras/pruning/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
  tutorials/notebooks/keras/ptq/example_keras_imagenet.ipynb
  tutorials/notebooks/keras/ptq/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/keras/ptq/example_keras_nanodet_plus.ipynb
  tutorials/notebooks/keras/ptq/example_keras_yolov8n.ipynb
  tutorials/notebooks/keras/qat/example_keras_qat.ipynb
  tutorials/notebooks/pytorch/data_generation/example_pytorch_data_generation.ipynb
  tutorials/notebooks/pytorch/example_quick_start_torchvision.ipynb
  tutorials/notebooks/pytorch/export/example_pytorch_export.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_mobilenetv2_cifar100_mixed_precision.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_quantization_mnist.ipynb
  tutorials/notebooks/pytorch/ptq/example_pytorch_ssdlite_mobilenetv3.ipynb
Labels: auto:tutorials

#933 Add an example of export and load model to example_keras_effdet_lite…
  tutorials/notebooks/keras/ptq/example_keras_effdet_lite0.ipynb
Labels: pr: refactoring/code cleanup, auto:tutorials

#934 Extract DefaultDict to main MCT folder
  model_compression_toolkit/__init__.py
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/common/substitutions/scale_equalization.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/defaultdict.py
  model_compression_toolkit/gptq/common/gptq_config.py
  model_compression_toolkit/gptq/keras/quantizer/ste_rounding/symmetric_ste.py
  model_compression_toolkit/gptq/pytorch/quantizer/ste_rounding/symmetric_ste.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
Labels: auto:tests, auto:core, auto:gptq

#937 Change default onnx opset to 17
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#919 Remove old per-channel configuration from QuantizationConfig
  model_compression_toolkit/core/common/quantization/quantization_config.py
  tests/keras_tests/feature_networks_tests/feature_networks/bn_folding_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/input_scaling_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/linear_collapsing_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/matmul_substitution_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/multi_inputs_to_node_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/multiple_inputs_node_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_inputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/nested_networks/nested_model_multiple_outputs_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/residual_collapsing_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/scale_equalization_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/shift_neg_activation_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/split_conv_bug_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_get_gptq_config.py
  tests/keras_tests/function_tests/test_kl_error_quantization_configurations.py
  tests/keras_tests/function_tests/test_quantization_configurations.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/function_tests/test_uniform_range_selection_weights.py
  tests/keras_tests/models_tests/test_networks_runner.py
  tests/pytorch_tests/function_tests/get_gptq_config_test.py
  tests/pytorch_tests/model_tests/base_pytorch_test.py
  tests/pytorch_tests/model_tests/feature_models/constant_conv_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/gptq_test.py
  tests/pytorch_tests/model_tests/feature_models/linear_collapsing_test.py
  tests/pytorch_tests/model_tests/feature_models/lut_quantizer_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/old_api_test.py
  tests/pytorch_tests/model_tests/feature_models/permute_substitution_test.py
  tests/pytorch_tests/model_tests/feature_models/relu_bound_test.py
  tests/pytorch_tests/model_tests/feature_models/residual_collapsing_test.py
  tests/pytorch_tests/model_tests/feature_models/shift_negative_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/symmetric_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/uniform_activation_test.py
  tutorials/notebooks/keras/ptq/example_keras_imagenet.ipynb
  tutorials/quick_start/keras_fw/quant.py
  tutorials/quick_start/pytorch_fw/quant.py
Labels: auto:tests, auto:tutorials, auto:core

#925 Preparing TPC for weights per-attribute quantization
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/constants.py
  model_compression_toolkit/target_platform_capabilities/target_platform/__init__.py
  model_compression_toolkit/target_platform_capabilities/target_platform/op_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/operations_to_layers.py
  model_compression_toolkit/target_platform_capabilities/target_platform/targetplatform2framework/target_platform_capabilities.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_lut/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/imx500_tpc/v1_pot/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/qnnpack_tpc/v1/tpc_pytorch.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tp_model.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tpc_keras.py
  model_compression_toolkit/target_platform_capabilities/tpc_models/tflite_tpc/v1/tpc_pytorch.py
  tests/common_tests/helpers/generate_test_tp_model.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/common_tests/test_tp_model.py
  tests/keras_tests/exporter_tests/tflite_int8/imx500_int8_tp_model.py
  tests/keras_tests/exporter_tests/tflite_int8/networks/conv2d_test.py
  tests/keras_tests/exporter_tests/tflite_int8/networks/mobilenetv2_test.py
  tests/keras_tests/exporter_tests/tflite_int8/tflite_int8_exporter_base_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/lut_quantizer.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/old_api_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/reused_layer_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_custom_layer.py
  tests/keras_tests/function_tests/test_kpi_data.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/keras_tests/non_parallel_tests/test_keras_tp_model.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/keras_tests/tpc_keras.py
  tests/pytorch_tests/function_tests/kpi_data_test.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/test_pytorch_tp_model.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/old_api_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests/pytorch_tests/tpc_pytorch.py
Labels: auto:tests, pr: major feature, auto:core, auto:target_platform_capabilities
