Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-06, with the labels that each got.

#1453 Add exponential distance weighting
  model_compression_toolkit/core/__init__.py
  model_compression_toolkit/core/common/mixed_precision/__init__.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/distance_weighting.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_eval/metric_calculators.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_sensitivity_metric_interest_points.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_custom_metric_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_distance_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_sensitivity_evaluator.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
Labels: auto:tests, auto:core

#1456 Set more informative log in bias correction computation function.
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
Labels: auto:core

#1447 Enable activation status collection on FLN node.
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/model_collector.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
Labels: auto:core

#1459 Update docsrc
  docsrc/source/api/api_docs/classes/MixedPrecisionQuantizationConfig.rst
  docsrc/source/api/api_docs/classes/MpDistanceWeighting.rst
  docsrc/source/api/api_docs/index.rst
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
Labels: auto:docsrc, auto:core

#1464 Fix bug in export using FQ ONNX in replacing activation holder with more than 8 bits with identity
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#1470 Replace activation quantizers with identity only when nb>8 and using fakely quant onnx exporter
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#1472 fix greedy refinement - try to refine for total memory
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
Labels: auto:core

#1467 Apply fusinginfo quantization config to Activation quantization config.
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/quantization/filter_nodes_candidates.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/graph_prep_runner.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests_pytest/_fw_tests_common_base/fusing/base_graph_with_fusing_metadata_test.py
  tests_pytest/common_tests/unit_tests/core/graph/test_base_graph.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_filter_nodes_candidates.py
Labels: auto:tests, auto:core

#1477 Remove quantization functions from node quantization configs
  docsrc/source/api/api_docs/modules/network_editor.rst
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/configurable_quantizer_utils.py
  model_compression_toolkit/core/common/network_editors/__init__.py
  model_compression_toolkit/core/common/network_editors/actions.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_fn_selection.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/__init__.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/common/quantization/quantize_node.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/core/pytorch/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/quantization_preparation/load_fqc.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/node_filter_test.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests_pytest/_test_util/graph_builder_utils.py
  tests_pytest/common_tests/unit_tests/core/graph/test_base_graph.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_configurations/test_node_quantization_config.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
  tests_pytest/keras_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
  tests_pytest/pytorch_tests/unit_tests/core/back2framework/test_pytorch_model_builder.py
  tests_pytest/pytorch_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
Labels: auto:tests, auto:docsrc, auto:core

#1478 remove duplicate candidates from node added by SNC
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
Labels: auto:core
