Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-02, with the labels that each got.

#1352 Link Checker test enhancement
  .github/workflows/link_checker.yml
  tests/doc_tests/test_docs_links.py
Labels: auto:tests

#1349 Added tutorial example_pytorch_activation_threshold_search
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
Labels: auto:tutorials

#1365 Fix intermittent bug in MP LP definition when both total and activation targets are constrained
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
Labels: auto:core

#1354 Add Hessian-Weighted Histogram for Activation Statistic Collection
  model_compression_toolkit/core/common/collectors/histogram_collector.py
  model_compression_toolkit/core/common/collectors/statistics_collector.py
  model_compression_toolkit/core/common/collectors/weighted_histogram_collector.py
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/hessian_info_service.py
  model_compression_toolkit/core/common/hessian/hessian_scores_calculator.py
  model_compression_toolkit/core/common/hessian/hessian_scores_request.py
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/error_functions.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/hessian/activation_hessian_scores_calculator_pytorch.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/quantization_prep_runner.py
  tests/keras_tests/function_tests/test_hessian_service.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests_pytest/common/core/common/collectors/__init__.py
  tests_pytest/common/core/common/collectors/test_weighted_histogram_collector.py
  tests_pytest/common/core/common/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common/core/common/quantization/__init__.py
  tests_pytest/common/core/common/quantization/quantization_params_selection/__init__.py
  tests_pytest/common/core/common/quantization/quantization_params_selection/test_qarams_activations_computation.py
  tests_pytest/common/graph_builder_utils.py
  tests_pytest/common/test_model_collector.py
Labels: auto:tests, auto:core

#1363 Fix mac computation
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2fw.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/framework_quantization_capabilities.py
  tests_pytest/conftest.py
  tests_pytest/keras/core/test_fw_implementation.py
  tests_pytest/pytorch/core/test_fw_implementation.py
Labels: auto:core

#1359 Adding example pytorch activation z score threshold
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
Labels: auto:tutorials
