Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-05, with the labels that each got.

#1434 Refactor virtual config reconstruction helper, support separate configuration for activations and weights
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests_pytest/_fw_tests_common_base/base_ru_integration_test.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
Labels: auto:tests, auto:core

#1431 Multiple Inputs Support
  .github/workflows/run_tests_python310_pytorch26.yml
  .github/workflows/run_tests_python311_pytorch26.yml
  .github/workflows/run_tests_python312_pytorch26.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  README.md
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  model_compression_toolkit/exporter/model_exporter/pytorch/pytorch_export_facade.py
  tests/pytorch_tests/exporter_tests/test_exporting_qat_models.py
  tests/pytorch_tests/function_tests/test_fully_quantized_exporter.py
  tests_pytest/pytorch_tests/integration_tests/exporter/__init__.py
  tests_pytest/pytorch_tests/integration_tests/exporter/test_onnx_input_output.py
Labels: auto:tests, auto:exporter

#1406 Add holder for quantization preserving
  model_compression_toolkit/core/pytorch/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/gptq/pytorch/gptq_training.py
  model_compression_toolkit/qat/pytorch/quantizer/quantization_builder.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_preserving_holder.py
  tests_pytest/pytorch_tests/unit_tests/core/back2framework/test_pytorch_model_builder.py
  tests_pytest/pytorch_tests/unit_tests/exporter/model_wrapper/builder/test_get_activation_quantizer_holder_quantization_preserving.py
Labels: auto:core, auto:gptq, auto:exporter, auto:qat

#1442 Remove node_sort from export
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
Labels: auto:exporter

#1440 Updated imports with the new custom layer package name
  model_compression_toolkit/core/pytorch/reader/reader.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  requirements.txt
  tests/keras_tests/custom_layers_tests/test_sony_ssd_postprocess_layer.py
Labels: auto:tests, auto:core

#1438 Add an option to dynamically disable configurable quantizers, separate configuration api for activation and weights quantizers
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/mixed_precision/set_layer_to_bitwidth.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/keras/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/keras/mixed_precision/configurable_weights_quantizer.py
  model_compression_toolkit/core/pytorch/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/pytorch/mixed_precision/configurable_weights_quantizer.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/keras_tests/function_tests/test_sensitivity_eval_non_suppoerted_output.py
  tests/keras_tests/function_tests/test_set_layer_to_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/function_tests/set_layer_to_bitwidth_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/function_tests/test_sensitivity_eval_non_supported_output.py
  tests_pytest/_test_util/graph_builder_utils.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_custom_metric_function.py
  tests_pytest/keras_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
  tests_pytest/pytorch_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
Labels: auto:tests, auto:core

#1441 Use float mp model baseline instead of maxbit configuration
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/mixed_precision/set_layer_to_bitwidth.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/similarity_analyzer.py
  model_compression_toolkit/core/keras/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/pytorch/back2framework/mixed_precision_model_builder.py
  tests_pytest/_fw_tests_common_base/base_sensitivity_eval_integ_test.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_custom_metric_function.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/test_sensitivity_evaluation.py
  tests_pytest/keras_tests/keras_test_util/keras_test_mixin.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/test_sensitivity_evaluation.py
  tests_pytest/pytorch_tests/torch_test_util/torch_test_mixin.py
Labels: auto:core

#1426 Add functionality to FusingInfo class to preserve quantization config
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/fusion/fusing_info.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/framework_quantization_capabilities.py
  tests/keras_tests/non_parallel_tests/test_keras_tpc.py
  tests/pytorch_tests/function_tests/test_pytorch_tpc.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_fusing_info_generator_keras.py
  tests_pytest/pytorch_tests/integration_tests/core/fusion/test_fusing_info_generator_torch.py
Labels: auto:tests, auto:core

#1444 Use tpc preservig flag
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/framework_quantization_capabilities.py
  tests_pytest/pytorch_tests/e2e_tests/test_quantization_preserving_holder.py
  tests_pytest/pytorch_tests/unit_tests/core/back2framework/test_pytorch_model_builder.py
  tests_pytest/pytorch_tests/unit_tests/exporter/model_wrapper/builder/test_get_activation_quantizer_holder_quantization_preserving.py
Labels: auto:core, auto:exporter

#1435 Fix issue with computing max cut when SNC is used
  model_compression_toolkit/core/common/fusion/fusing_info.py
  model_compression_toolkit/core/common/fusion/graph_fuser.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_ru_helper.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests_pytest/_fw_tests_common_base/base_ru_integration_test.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_data.py
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
Labels: auto:tests, auto:core

#1449 Fix activation bias correction with preserving node
  model_compression_toolkit/core/common/mixed_precision/bit_width_setter.py
  model_compression_toolkit/core/common/statistics_correction/compute_activation_bias_correction_of_graph.py
  tests/keras_tests/feature_networks_tests/feature_networks/activation_bias_correction_test.py
  tests/pytorch_tests/model_tests/feature_models/activation_bias_correction_test.py
Labels: auto:tests, auto:core
