Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-04, with the labels that each got.

#1396 Schema - V2
  model_compression_toolkit/target_platform_capabilities/schema/mct_current_schema.py
  model_compression_toolkit/target_platform_capabilities/schema/v2.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  tests/common_tests/helpers/tpcs_for_tests/v4/tpc.py
  tests_pytest/_fw_tests_common_base/base_tpc_attach2fw_test.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: auto:tests

#1386 Refactor fusing
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  model_compression_toolkit/core/common/fusion/fusing_info.py
  model_compression_toolkit/core/common/fusion/graph_fuser.py
  model_compression_toolkit/core/common/fusion/layer_fusing.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/quantization/candidate_node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/compute_max_cut_test.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_cfg_candidates_filter.py
  tests/keras_tests/function_tests/test_layer_fusing.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/pytorch_tests/function_tests/layer_fusing_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests/pytorch_tests/model_tests/feature_models/compute_max_cut_test.py
  tests_pytest/_fw_tests_common_base/base_ru_integration_test.py
  tests_pytest/_fw_tests_common_base/fusing/__init__.py
  tests_pytest/_fw_tests_common_base/fusing/base_fusing_info_generator_test.py
  tests_pytest/_fw_tests_common_base/fusing/base_graph_with_fusing_metadata_test.py
  tests_pytest/_test_util/tpc_util.py
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
  tests_pytest/keras_tests/integration_tests/core/fusion/__init__.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_fusing_info_generator_keras.py
  tests_pytest/keras_tests/integration_tests/core/fusion/test_graph_with_fusing_metadata_keras.py
  tests_pytest/pytorch_tests/integration_tests/core/fusion/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/fusion/test_fusing_info_generator_torch.py
  tests_pytest/pytorch_tests/integration_tests/core/fusion/test_graph_with_fusing_metadata_torch.py
Labels: auto:tests, auto:core

#1399 Add Positional weights quantization config support
  model_compression_toolkit/core/common/quantization/filter_nodes_candidates.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/target_platform_capabilities/constants.py
  tests_pytest/common_tests/unit_tests/core/quantization/node_quantization_config/__init__.py
  tests_pytest/common_tests/unit_tests/core/quantization/node_quantization_config/test_node_weights_quantization_config.py
Labels: auto:core

#1408 Fix bug in positional weights quantization config suuport
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  tests_pytest/common_tests/unit_tests/core/quantization/node_quantization_config/test_node_weights_quantization_config.py
Labels: auto:core

#1385 MCT FX Tracer
  .github/workflows/run_tests_python312_pytorch25.yml
  .github/workflows/run_tests_suite_coverage.yml
  model_compression_toolkit/core/common/framework_implementation.py
  model_compression_toolkit/core/common/hessian/hessian_scores_calculator.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/scaled_dot_product_attention.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/reader/reader.py
  model_compression_toolkit/core/pytorch/utils.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2keras.py
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  model_compression_toolkit/verify_packages.py
  requirements.txt
Labels: auto:core

#1410 Add a debug option to bypass MCT facade
  model_compression_toolkit/core/common/quantization/debug_config.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  tests_pytest/_fw_tests_common_base/base_mct_bypass_test.py
  tests_pytest/common_tests/core/__init__.py
  tests_pytest/common_tests/core/common/__init__.py
  tests_pytest/common_tests/core/common/quantization/__init__.py
  tests_pytest/common_tests/unit_tests/core/quantization/test_manual_bitwidth_selection.py
  tests_pytest/keras_tests/e2e_tests/test_mct_bypass.py
  tests_pytest/pytorch_tests/e2e_tests/post_training_quantization_tests/test_quantization_error_methods.py
  tests_pytest/pytorch_tests/e2e_tests/test_mct_bypass.py
Labels: auto:core, auto:gptq, auto:ptq

#1412 Fix error message formatting in configuration validation
  model_compression_toolkit/gptq/common/gptq_config.py
Labels: auto:gptq

#1403 Simplify MP manager - LP solver candidates representation, add MP, LP unit tests and MP e2e tests
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_ru_helper.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/keras/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/pytorch/back2framework/mixed_precision_model_builder.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  tests/keras_tests/function_tests/test_set_layer_to_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/function_tests/set_layer_to_bitwidth_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests_pytest/_fw_tests_common_base/base_ru_integration_test.py
  tests_pytest/_test_util/fw_test_base.py
  tests_pytest/_test_util/tpc_util.py
  tests_pytest/common_tests/unit_tests/core/graph/test_base_node.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/search_methods/__init__.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/search_methods/test_linear_programming_solver.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_greedy_solution_refinement.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/__init__.py
  tests_pytest/pytorch_tests/e2e_tests/mixed_precision/test_mixed_precision.py
  tests_pytest/pytorch_tests/torch_test_util/torch_test_mixin.py
Labels: auto:tests, auto:core

#1395 Integrate manual weights bitwidth selection into the MCT core
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  tests_pytest/pytorch_tests/e2e_tests/test_weights_manual_selection_bitwidth.py
  tests_pytest/pytorch_tests/integration_tests/core/quantization/test_set_node_quantization_config.py
Labels: auto:core

#1421 Handle quantization preserving with 2 inputs
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests_pytest/common_tests/unit_tests/core/graph/test_node_quantization.py
  tests_pytest/common_tests/unit_tests/core/graph/test_quantization_preserving_node.py
Labels: auto:tests, auto:core

#1424 Add tests for manual bit width config for postional weights
  model_compression_toolkit/core/common/quantization/bit_width_config.py
  tests_pytest/pytorch_tests/e2e_tests/test_weights_manual_selection_bitwidth.py
  tests_pytest/pytorch_tests/integration_tests/core/quantization/test_set_node_quantization_config.py
Labels: auto:core

#1422 Node Supported Bitwidth Filtering Bugfix
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  tests_pytest/common_tests/unit_tests/core/graph/test_node_quantization.py
Labels: auto:core

#1418 Constant Reuse
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
  tests_pytest/pytorch_tests/integration_tests/core/back2framework/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/back2framework/test_weights_reuse.py
Labels: auto:core

#1427 Integrate max cut on FLNs in mixed-precision
  model_compression_toolkit/core/common/graph/memory_graph/memory_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/graph_tests/test_memory_graph.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
Labels: auto:tests, auto:core

#1420 add support for custom metric function for mixed precision
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_quantization_config.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_custom_metric_function.py
Labels: auto:core

#1430 Export onnx output names list
  model_compression_toolkit/exporter/model_exporter/pytorch/fakely_quant_onnx_pytorch_exporter.py
  tests_pytest/pytorch_tests/unit_tests/exporter/fakely_quant_onnx_pytorch_exporter_output_name.py
Labels: auto:exporter
