Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-09, with the labels that each got.

#1500 CICD Target Branch Change
  .github/workflows/build_docs.yml
  .github/workflows/link_checker.yml
  .github/workflows/nightly.yml
  .github/workflows/run_tests_python310_keras214.yml
  .github/workflows/run_tests_python310_keras215.yml
  .github/workflows/run_tests_python310_pytorch23.yml
  .github/workflows/run_tests_python310_pytorch24.yml
  .github/workflows/run_tests_python310_pytorch25.yml
  .github/workflows/run_tests_python310_pytorch26.yml
  .github/workflows/run_tests_python311_keras214.yml
  .github/workflows/run_tests_python311_keras215.yml
  .github/workflows/run_tests_python311_pytorch23.yml
  .github/workflows/run_tests_python311_pytorch24.yml
  .github/workflows/run_tests_python311_pytorch25.yml
  .github/workflows/run_tests_python311_pytorch26.yml
  .github/workflows/run_tests_python312_pytorch23.yml
  .github/workflows/run_tests_python312_pytorch24.yml
  .github/workflows/run_tests_python312_pytorch25.yml
  .github/workflows/run_tests_python312_pytorch26.yml
  .github/workflows/run_tests_python39_keras214.yml
  .github/workflows/run_tests_python39_keras215.yml
  .github/workflows/run_tests_python39_pytorch23.yml
  .github/workflows/run_tests_python39_pytorch24.yml
  .github/workflows/run_tests_python39_pytorch25.yml
  .github/workflows/run_tests_python39_pytorch26.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/tests_common.yml
  README.md
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: auto:tutorials

#1508 [SSS Review] Attach MulticlassNMSOBB
  README.md
  model_compression_toolkit/target_platform_capabilities/targetplatform2framework/attach2pytorch.py
  requirements.txt
  tests_pytest/pytorch_tests/e2e_tests/test_multiclass_nms_obb.py
  tests_pytest/pytorch_tests/unit_tests/target_platform_capabilities/targetplatform2framework/test_attach2pytorch_multiclass_nms_obb.py
Labels: feature request

#1510 [RedSuns Review]Add posenet tutorial.
  tutorials/README.md
  tutorials/notebooks/task_notebooks/__init__.py
  tutorials/notebooks/task_notebooks/pytorch/__init__.py
  tutorials/notebooks/task_notebooks/pytorch/example_posenet_pytorch_mixed_precision_ptq.ipynb
Labels: auto:tutorials

#1516 Fix hyperlinks to documents(about xquant extension tool) in README.md.
  README.md
Labels: pr: documentation update
