Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-07, with the labels that each got.

#1482 Update repo name string in links checker
  .github/workflows/link_checker.yml
  README.md
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/target_platform_capabilities/README.md
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_data_generation.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_mixed_precision_ptq.ipynb
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_post_training_quantization.ipynb
Labels: pr: refactoring/code cleanup, auto:tutorials, auto:ptq, auto:qat

#1484 Refactor activation_quantizer_factory_mapping out of FrameworkInfo
  model_compression_toolkit/core/common/framework_info.py
  model_compression_toolkit/core/common/mixed_precision/configurable_quantizer_utils.py
  model_compression_toolkit/core/common/quantization/quantization_fn_selection.py
  model_compression_toolkit/core/common/statistics_correction/compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/keras/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/keras/quantization/__init__.py
  model_compression_toolkit/core/keras/quantization/activation_quantization_fn_factory.py
  model_compression_toolkit/core/keras/quantization/fake_quant_builder.py
  model_compression_toolkit/core/keras/quantization/lut_fake_quant.py
  model_compression_toolkit/core/keras/statistics_correction/keras_compute_activation_bias_correction_of_graph.py
  model_compression_toolkit/core/pytorch/back2framework/quantized_model_builder.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/pytorch/mixed_precision/configurable_activation_quantizer.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  model_compression_toolkit/core/pytorch/quantization/__init__.py
  model_compression_toolkit/core/pytorch/quantization/activation_quantization_fn_factory.py
  model_compression_toolkit/core/pytorch/quantization/fake_quant_builder.py
  model_compression_toolkit/core/pytorch/quantization/lut_fake_quant.py
  model_compression_toolkit/core/pytorch/statistics_correction/pytorch_compute_activation_bias_correction_of_graph.py
  tests/keras_tests/function_tests/test_activation_quantization_functions.py
  tests/keras_tests/function_tests/test_lut_activation_quanitzer_fake_quant.py
  tests/pytorch_tests/function_tests/test_activation_quantization_functions.py
  tests/pytorch_tests/function_tests/test_lut_activation_quanitzer_fake_quant.py
  tests_pytest/keras_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
  tests_pytest/pytorch_tests/unit_tests/core/mixed_precision/test_set_quant_layer_to_bitwidth.py
Labels: auto:tests, auto:core

#1488 Refactor fw_info handling in pytest unittests
  tests_pytest/common_tests/unit_tests/core/graph/test_base_node.py
  tests_pytest/common_tests/unit_tests/core/graph/test_node_quantization.py
  tests_pytest/common_tests/unit_tests/core/graph/test_quantization_preserving_node.py
  tests_pytest/common_tests/unit_tests/core/graph/test_virtual_activation_weights_node.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_data.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/sensitivity_eval/test_distance_calculator.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_mp_search_manager.py
  tests_pytest/common_tests/unit_tests/core/test_fusion_info.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
  tests_pytest/conftest.py
Labels: pr: refactoring/code cleanup

#1480 Remove QuantizationConfig fields patch from NodeActivationQuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/statistics_correction/apply_second_moment_correction_to_graph.py
  model_compression_toolkit/core/common/substitutions/shift_negative_activation.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/quantization_prep_runner.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/common_tests/helpers/prep_graph_for_func_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_error_method_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_hmse_error_method.py
  tests/keras_tests/function_tests/test_symmetric_threshold_selection_weights.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_selection/test_qarams_activations_computation.py
Labels: auto:tests, auto:core, auto:trainable_infrastructure

#1486 Node weights and node weights attr quantization configs clean-up - remove temporary patch for fields from QuantizationConfig
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_activations_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_weights_computation.py
  model_compression_toolkit/core/common/statistics_correction/apply_bias_correction_to_graph.py
  model_compression_toolkit/core/common/statistics_correction/compute_bias_correction_of_graph.py
  model_compression_toolkit/core/common/statistics_correction/statistics_correction.py
  model_compression_toolkit/core/common/substitutions/batchnorm_reconstruction.py
  model_compression_toolkit/core/graph_prep_runner.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/input_scaling.py
  model_compression_toolkit/core/keras/keras_implementation.py
  model_compression_toolkit/trainable_infrastructure/common/get_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/common/trainable_quantizer_config.py
  model_compression_toolkit/trainable_infrastructure/keras/config_serialization.py
  tests/keras_tests/feature_networks_tests/feature_networks/network_editor/edit_qc_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/test_kmeans_quantizer.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_gptq_soft_quantizer.py
  tests/keras_tests/function_tests/test_node_quantization_configurations.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/trainable_infrastructure_tests/base_keras_trainable_infra_test.py
  tests/keras_tests/trainable_infrastructure_tests/trainable_keras/test_keras_base_quantizer.py
  tests/pytorch_tests/function_tests/test_gptq_soft_quantizer.py
  tests/pytorch_tests/trainable_infrastructure_tests/base_pytorch_trainable_infra_test.py
  tests/pytorch_tests/trainable_infrastructure_tests/trainable_pytorch/test_pytorch_base_quantizer.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core, auto:trainable_infrastructure, pr: breaking changes

#1489 Remove default output axis values from fw_info.
  model_compression_toolkit/core/common/collectors/base_collector.py
  model_compression_toolkit/core/common/collectors/mean_collector.py
  model_compression_toolkit/core/common/collectors/min_max_per_channel_collector.py
  model_compression_toolkit/core/common/model_collector.py
  model_compression_toolkit/core/common/model_validation.py
  model_compression_toolkit/core/common/pruning/memory_calculator.py
  model_compression_toolkit/core/keras/default_framework_info.py
  model_compression_toolkit/core/keras/keras_model_validation.py
  model_compression_toolkit/core/keras/pruning/pruning_keras_implementation.py
  model_compression_toolkit/core/pytorch/default_framework_info.py
  model_compression_toolkit/core/pytorch/pruning/pruning_pytorch_implementation.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  tests/keras_tests/feature_networks_tests/feature_networks/second_moment_correction_test.py
Labels: auto:tests, pr: refactoring/code cleanup, auto:core, auto:gptq, auto:ptq, auto:qat

#1487 Apply activation quantization parameters selection.
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/common/quantization/quantization_params_generation/qparams_computation.py
  tests_pytest/common_tests/unit_tests/core/quantization/quantization_params_generation/test_calculate_quantization_params.py
Labels: pr: refactoring/code cleanup, auto:core

#1492 Fix channel axis init for collectors
  model_compression_toolkit/core/common/model_collector.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
Labels: auto:core
