Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-03, with the labels that each got.

#1370 Fix bug in histogram collector
  model_compression_toolkit/core/common/collectors/histogram_collector.py
Labels: auto:core

#1372 Fix broken link in tutorial
  tutorials/notebooks/mct_features_notebooks/pytorch/example_pytorch_activation_z_score_threshold.ipynb
Labels: auto:tutorials

#1362 Fix auto 16 bits
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_candidates_filter.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  tests_pytest/common/core/common/mixed_precision/test_filter_candidates_for_mixed_precision.py
  tests_pytest/common/core/common/mixed_precision/test_greedy_solution_refinement.py
Labels: auto:core

#1374 Fix bug that caused ViT models to raise errors.
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/scaled_dot_product_attention.py
Labels: auto:core

#1380 add reuse flag to weights quantizers
  .github/workflows/nightly.yml
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/exporter/model_wrapper/pytorch/builder/fully_quantized_model_builder.py
Labels: auto:exporter

#1381 add dynamic padding substitution for nn.ConvTranspose2d
  model_compression_toolkit/core/pytorch/constants.py
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/convtranspose_dynamic_padding.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests_pytest/pytorch_tests/integration_tests/core/graph_substitutions/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/graph_substitutions/substitutions/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/graph_substitutions/substitutions/test_convtasnet_dynamic_output_size.py
Labels: auto:core

#1383 Deterministic max cut
  model_compression_toolkit/core/common/graph/memory_graph/cut.py
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  tests/keras_tests/function_tests/test_graph_max_cut.py
Labels: auto:tests, auto:core

#1369 Fix bops calculation
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_ru_helper.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/substitutions/virtual_activation_weights_composition.py
  model_compression_toolkit/core/common/substitutions/weights_activation_split.py
  model_compression_toolkit/core/runner.py
  model_compression_toolkit/target_platform_capabilities/__init__.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/requires_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_bops_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_activation_weights_composition_substitution.py
  tests/keras_tests/function_tests/test_weights_activation_split_substitution.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_bops_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
  tests_pytest/_fw_tests_common_base/base_test_ru_integration.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/__init__.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
  tests_pytest/keras_tests/keras_test_util/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/__init__.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
  tests_pytest/pytorch_tests/torch_test_util/__init__.py
Labels: auto:tests, auto:core

#1392 Add support for numpy2
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_python310_pytorch20.yml
  .github/workflows/run_tests_python310_pytorch21.yml
  .github/workflows/run_tests_python311_pytorch20.yml
  .github/workflows/run_tests_python311_pytorch21.yml
  .github/workflows/run_tests_python39_pytorch20.yml
  .github/workflows/run_tests_python39_pytorch21.yml
  .github/workflows/run_tests_suite_coverage.yml
  requirements.txt
  tests/pytorch_tests/model_tests/feature_models/scale_equalization_test.py
Labels: auto:tests

#1387 Fix resource utilization data computation, remove requires_mix_precision check
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/__init__.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/requires_mixed_precision_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/function_tests/test_resource_utilization_data.py
  tests/pytorch_tests/function_tests/resource_utilization_data_test.py
  tests/pytorch_tests/function_tests/test_function_runner.py
  tests_pytest/_fw_tests_common_base/base_ru_data_facade_test.py
  tests_pytest/_fw_tests_common_base/base_ru_integration_test.py
  tests_pytest/_test_util/tpc_util.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_data.py
  tests_pytest/conftest.py
  tests_pytest/keras_tests/e2e_tests/test_ru_data_facade.py
  tests_pytest/keras_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
  tests_pytest/pytorch_tests/e2e_tests/test_ru_data_facade.py
  tests_pytest/pytorch_tests/integration_tests/core/mixed_precision/test_resource_utilization.py
Labels: auto:tests, auto:core

#1391 MP cleanup and partial refactoring
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_ru_helper.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  tests/keras_tests/feature_networks_tests/feature_networks/qat/qat_test.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/keras_tests/non_parallel_tests/test_tensorboard_writer.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_weights_test.py
  tests/pytorch_tests/model_tests/feature_models/qat_test.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/test_greedy_solution_refinement.py
Labels: auto:tests, auto:core

#1393 Fix virtual node construction with duplicate weights attributes
  model_compression_toolkit/core/common/graph/virtual_activation_weights_node.py
  tests_pytest/_test_util/graph_builder_utils.py
  tests_pytest/common_tests/unit_tests/core/graph/__init__.py
  tests_pytest/common_tests/unit_tests/core/graph/test_virtual_activation_weights_node.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/common_tests/unit_tests/test_model_collector.py
Labels: auto:core

#1379 Adding weights manual selection bitwidth
  model_compression_toolkit/constants.py
  model_compression_toolkit/core/common/quantization/bit_width_config.py
  model_compression_toolkit/core/common/quantization/set_node_quantization_config.py
  tests_pytest/common_tests/core/__init__.py
  tests_pytest/common_tests/core/common/__init__.py
  tests_pytest/common_tests/core/common/quantization/__init__.py
  tests_pytest/common_tests/core/common/quantization/test_manual_bitwidth_selection.py
Labels: auto:core

#1394 Add function to graph: search previous node with activation config.
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  tests_pytest/_test_util/graph_builder_utils.py
  tests_pytest/common_tests/unit_tests/core/graph/test_quantization_preserving_node.py
  tests_pytest/common_tests/unit_tests/core/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
  tests_pytest/conftest.py
Labels: auto:core
