Repository SonySemiconductorSolutions/mct-model-optimization, pull requests merged in 2025-01, with the labels that each got.

#1310 remove tpc from graph object saved in the output pytorch model
  model_compression_toolkit/core/pytorch/back2framework/pytorch_model_builder.py
Labels: auto:core

#1311 Added JSON import and export capabilities to TargetPlatformModel
  model_compression_toolkit/target_platform_capabilities/tpc_io_handler.py
  tests/common_tests/test_tp_model.py
  tests/test_suite.py
Labels: auto:tests, auto:target_platform_capabilities

#1313 Pytorch MatMul Substitution
  model_compression_toolkit/core/pytorch/graph_substitutions/substitutions/matmul_decomposition.py
  model_compression_toolkit/core/pytorch/pytorch_implementation.py
  tests/pytorch_tests/model_tests/feature_models/matmul_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: minor feature, auto:core

#1312 Maxcut fixes
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/graph/memory_graph/cut.py
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  model_compression_toolkit/core/keras/back2framework/keras_model_builder.py
  model_compression_toolkit/core/keras/graph_substitutions/substitutions/conv_funcs_to_layer.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/graph_tests/test_max_cut_astar.py
  tests/pytorch_tests/model_tests/feature_models/mixed_precision_activation_test.py
  tests/pytorch_tests/model_tests/test_feature_models_runner.py
Labels: auto:tests, pr: bug fix, auto:core

#1318 Fix tests TPCv4 after TPC refactor
  tests/common_tests/helpers/tpcs_for_tests/v4/tp_model.py
Labels: auto:tests

#1314 Refactor keras data utils
  model_compression_toolkit/core/keras/data_util.py
  model_compression_toolkit/gptq/keras/gptq_training.py
  tests_pytest/keras/core/test_data_util.py
Labels: auto:core, auto:gptq

#1317 gptq fixes
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
Labels: auto:tutorials, auto:gptq

#1319 Add docs build workflow
  .github/workflows/build_docs.yml
  docsrc/source/api/api_docs/modules/qat_config.rst
  docsrc/source/api/api_docs/modules/trainable_infrastructure.rst
Labels: auto:docsrc

#1315 add resource utilization calculator
  model_compression_toolkit/core/common/graph/base_graph.py
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_facade.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_aggregation_methods.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_functions_mapping.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/ru_methods.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/common/mixed_precision/sensitivity_evaluation.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
  model_compression_toolkit/core/common/quantization/bit_width_config.py
  model_compression_toolkit/core/runner.py
  tests/common_tests/function_tests/test_resource_utilization_object.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision/requires_mixed_precision_test.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
  tests/pytorch_tests/model_tests/feature_models/multi_head_attention_test.py
  tests_pytest/core/__init__.py
  tests_pytest/core/common/__init__.py
  tests_pytest/core/common/mixed_precision/__init__.py
  tests_pytest/core/common/mixed_precision/resource_utilization_tools/__init__.py
Labels: auto:tests, auto:core

#1323 Refactor FixedSampleInfoDataset to Support Multi-Input Models
  model_compression_toolkit/core/keras/data_util.py
  tests/keras_tests/feature_networks_tests/feature_networks/gptq/gptq_test.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests_pytest/keras/core/test_data_util.py
Labels: auto:tests, auto:core

#1324 use maxcut for total ru
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_ru_helper.py
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/test_features_runner.py
  tests/keras_tests/non_parallel_tests/test_lp_search_bitwidth.py
Labels: auto:tests, auto:core

#1326 Report final ru only for mixed precision constrained targets
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
  model_compression_toolkit/core/runner.py
  tests/common_tests/function_tests/test_resource_utilization_object.py
  tests/keras_tests/feature_networks_tests/feature_networks/mixed_precision_tests.py
  tests/keras_tests/feature_networks_tests/feature_networks/weights_mixed_precision_tests.py
Labels: auto:tests, auto:core

#1325 Fix tpc in pruning and qat keras notebooks
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
Labels: auto:tutorials

#1328 Maxcut optimization timeout
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/graph/memory_graph/cut.py
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  model_compression_toolkit/core/common/graph/memory_graph/memory_graph.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/search_methods/linear_programming.py
Labels: auto:core

#1322 Attach to framework tests
  tests/keras_tests/non_parallel_tests/test_keras_tpc.py
  tests/pytorch_tests/function_tests/test_pytorch_tpc.py
  tests_pytest/base_test_classes/__init__.py
  tests_pytest/base_test_classes/base_tpc_attach2fw_test.py
  tests_pytest/keras/target_platform_capabilities/__init__.py
  tests_pytest/keras/target_platform_capabilities/targetplatform2framework/__init__.py
  tests_pytest/keras/target_platform_capabilities/targetplatform2framework/test_attach2keras.py
  tests_pytest/pytorch/target_platform_capabilities/__init__.py
  tests_pytest/pytorch/target_platform_capabilities/targetplatform2framework/__init__.py
  tests_pytest/pytorch/target_platform_capabilities/targetplatform2framework/test_attach2pytorch.py
Labels: auto:tests

#1330 use load_target_platform_capabilities in all facades
  model_compression_toolkit/core/keras/resource_utilization_data_facade.py
  model_compression_toolkit/core/pytorch/resource_utilization_data_facade.py
  model_compression_toolkit/gptq/keras/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/pruning/keras/pruning_facade.py
  model_compression_toolkit/pruning/pytorch/pruning_facade.py
  model_compression_toolkit/ptq/keras/quantization_facade.py
  model_compression_toolkit/ptq/pytorch/quantization_facade.py
  model_compression_toolkit/qat/keras/quantization_facade.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
  model_compression_toolkit/target_platform_capabilities/tpc_io_handler.py
  tests/common_tests/test_tpc.py
Labels: auto:tests, auto:core, auto:gptq, auto:ptq, auto:qat

#1334 Move maxcut warning so it will only appear once.
  model_compression_toolkit/core/common/graph/memory_graph/compute_graph_max_cut.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_data.py
  model_compression_toolkit/core/runner.py
  tests/keras_tests/feature_networks_tests/feature_networks/manual_bit_selection.py
Labels: auto:tests, auto:core

#1338 Fix MP refinement procedure
  model_compression_toolkit/core/common/graph/memory_graph/max_cut_astar.py
  model_compression_toolkit/core/common/mixed_precision/solution_refinement_procedure.py
Labels: auto:core

#1339 Update docsrc
  docsrc/images/tpc_diagram.png
  docsrc/source/api/api_docs/classes/GradientPTQConfig.rst
  docsrc/source/api/api_docs/modules/target_platform_capabilities.rst
  docsrc/source/diagrams/tpc.mermaid
  model_compression_toolkit/core/common/quantization/quantization_config.py
  model_compression_toolkit/gptq/pytorch/quantization_facade.py
  model_compression_toolkit/gptq/pytorch/quantizer/quantization_builder.py
  model_compression_toolkit/qat/pytorch/quantization_facade.py
Labels: auto:docsrc, auto:core, auto:gptq, auto:qat

#1340 Fix mp refinement procedure to run for target RUs only
  model_compression_toolkit/core/common/mixed_precision/mixed_precision_search_manager.py
Labels: auto:core

#1341 Add tests for ResourceUtilizationCalculator
  .github/workflows/run_keras_tests.yml
  .github/workflows/run_pytorch_tests.yml
  .github/workflows/run_tests_suite_coverage.yml
  .github/workflows/tests_common.yml
  model_compression_toolkit/core/common/graph/base_node.py
  model_compression_toolkit/core/common/mixed_precision/resource_utilization_tools/resource_utilization_calculator.py
  model_compression_toolkit/core/common/quantization/node_quantization_config.py
  model_compression_toolkit/core/runner.py
  tests_pytest/common/__init__.py
  tests_pytest/common/core/__init__.py
  tests_pytest/common/core/common/__init__.py
  tests_pytest/common/core/common/mixed_precision/__init__.py
  tests_pytest/common/core/common/mixed_precision/resource_utilization_tools/__init__.py
  tests_pytest/common/core/common/mixed_precision/resource_utilization_tools/test_resource_utilization_calculator.py
Labels: auto:core

#1343 Remove test suite and SCL workflow
  .github/workflows/run_keras_sony_custom_layers.yml
  tests/test_suite.py
Labels: auto:tests

#1345 Fix Logger info & warning prints
  model_compression_toolkit/logger.py
  tests/common_tests/function_tests/test_logger.py
Labels: auto:tests

#1346 Fix tf 2.14 installation in tutorials
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_threshold_search.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_activation_z_score_threshold.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_gptq.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_mobilenet_mixed_precision.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_network_editor.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_post-training_quantization.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_pruning_mnist.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_qat.ipynb
  tutorials/notebooks/mct_features_notebooks/keras/example_keras_xquant.ipynb
Labels: auto:tutorials

#1348 Remove opencv dependency and replace with torch logic.
  model_compression_toolkit/data_generation/pytorch/optimization_functions/image_initilization.py
  requirements.txt
Labels: auto:data_generation
